:host {
    /deep/ .header-title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .topic-name {
            flex: 1 1 auto;
            margin-right: 25px;

            mat-form-field {
                width: 100%;
            }
        }

        .title-btn-group {
            flex: 0 1 300px;

            >button {
                float: right;
            }

            >button:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    /deep/ .header-meta.read {
            margin-top: 1em;
    }
    /deep/ .header-meta {
        margin-right: 325px;
        font-size: 14px;
        >* {
            width: 100%;
        }

        .author {
            font-weight: 600;
            color: #586069;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    /deep/ .body {
        .article {
            overflow: hidden;

            .wiki-tab {
                position: relative;
                margin-top: 15px;
                min-height: 150px;

                .desc-btn-group {
                    position: absolute;
                    right: 7px;
                    top: 7px;
                }
            }
        }

        .aside {
            margin-top: 48px;
            >* {
                padding: 10px 0;
            }
            >*:first-child {
                padding-top: 0;
            }
            >*:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            .participants {
                display: flex;
                flex-flow: row wrap;
        
                >img {
                    border-radius: 3px;
                    width: 26px;
                    height: 26px;
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }
        }
    }
}
