<div class="container flex-box-col-nowrap max-size">
    <nz-steps [(nzCurrent)]="currentStep">
        <nz-step [nzTitle]="'Define Comparison Keynote'" [nzDescription]=''></nz-step>
        <nz-step [nzTitle]="'Add Comparison Object'" [nzDescription]=''></nz-step>
        <nz-step [nzTitle]="'Configure data'" [nzDescription]=''></nz-step>
        <nz-step [nzTitle]="'Preview outline'" [nzDescription]=''></nz-step>
    </nz-steps>

    <div class="steps-action">
        <button nz-button [nzType]="'default'" (click)="changeStep(currentStep-1)" [disabled]="currentStep === 0">
                <span>Previous</span>
            </button>
        <button nz-button [nzType]="'default'" (click)="changeStep(currentStep+1)" *ngIf="currentStep < 3">
                <span>Next</span>
            </button>
        <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="currentStep === 3">
                <span>Done</span>
            </button>
    </div>

    <div class="steps-content flex-item-1-1-auto debug-border debug-background">
        <ng-container *ngIf='currentStep === 0'>
            1
        </ng-container>

        <ng-container *ngIf='currentStep === 1'>
            2
        </ng-container>

        <ng-container *ngIf='currentStep === 2'>
            3
        </ng-container>

        <ng-container *ngIf='currentStep === 3'>
            4
        </ng-container>
    </div>
</div>