$formWidth: 80%;

.cmpObj.write {
    position: relative;

    .form-container {
        // padding-bottom: 20px;
        // margin: 0 30px;
    }

    .form-container:last-child {
        margin-bottom: 0;
    }

    .form-item {
        margin-bottom: 20px;
    }
}

.cmpObj-basic-info {
    display: flex;
    flex-flow: column nowrap;

    mat-form-field {
        width: $formWidth;
    }
}

.method-select-group {
    width: $formWidth;

    #view-method-all {
        margin-left: 10px;
    }
}

mat-form-field {
    display: inline-block;
}

.dataRefer-group {
    margin: 20px 0;
}

.dataRefer-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: $formWidth;

    ngx-mat-cascader {
        width: 100%;
    }
}

.cmpObj.read {
    padding-bottom: 35px;
    table {
        width: $formWidth;
        margin-bottom: 20px;
    }
}


.title {
    font-size: 18px;
    background: #f1f1f1;
    padding: 5px;
}