<ng-container *ngIf='_mode === "WRITE" else readTemplate'>
    <form *ngIf='cmpObjFG' [formGroup]='cmpObjFG' class='write cmpObj'>
        <p class='title'><i>Basic Information</i></p>
        <div class='form-container cmpObj-basic-info'>
            <mat-form-field class='form-item'>
                <input matInput placeholder='Comparison feature name' formControlName='name'>
                <mat-error *ngIf='cmpObjFG.get("name").hasError("required")'>必填</mat-error>
                <mat-error *ngIf='cmpObjFG.get("name").hasError("minLength")'>最小长度</mat-error>
                <mat-error *ngIf='cmpObjFG.get("name").hasError("maxLength")'>最大长度</mat-error>
            </mat-form-field>

            <mat-form-field class='form-item'>
                <textarea matInput placeholder='Comparison feature description' formControlName='desc'></textarea>
                <mat-error *ngIf='cmpObjFG.get("desc").hasError("required")'>必填</mat-error>
                <mat-error *ngIf='cmpObjFG.get("desc").hasError("minLength")'>最小长度</mat-error>
                <mat-error *ngIf='cmpObjFG.get("desc").hasError("maxLength")'>最大长度</mat-error>
            </mat-form-field>
        </div>

        <p class='title'><i>Data References</i></p>
        <div formArrayName='dataRefers' class='form-container dataRefer-group'>
            <div class='dataRefer-item form-item' *ngFor='let ms of participants; let i=index;' [formGroupName]='i'>
                <!-- <ngx-mat-cascader formControlName='selected' #dfs placeholder='{{ms.MDL.meta.name}} data reference'
                                    [data]='_dataReferOptions[i]' (valueChange)='onDataReferChange($event, i)'></ngx-mat-cascader> -->
            </div>
        </div>

        <p class='title'><i>Comparison Method</i></p>
        <div class='form-container'>
            <br>
            <mat-form-field class='form-item method-select-group'>
                <mat-select placeholder='Comparison methods' formControlName='methods' multiple>
                    <mat-option *ngFor="let method of methods; let i=index" [value]='method._id'>
                        {{method.meta.name}}
                    </mat-option>
                </mat-select>
                <button id='view-method-all' mat-button matSuffix mat-icon-button target='_blank' routerLink='/comparison/methods'>
                    <mat-icon>call_made</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
</ng-container>

<ng-template #readTemplate>
    <div *ngIf='cmpObj' class='read cmpObj'>
        <p class='title'><i>Basic Information</i></p>
        <p>{{cmpObj.name}}</p>
        <p>{{cmpObj.desc}}</p>

        <p class='title'><i>Data Reference</i></p>
        <table mat-table [dataSource]='cmpObj.dataRefers'>
            <ng-container matColumnDef='msName'>
                <th mat-header-cell *matHeaderCellDef>Model name</th>
                <td mat-cell *matCellDef='let element'>{{element.msName}}</td>
            </ng-container>
            <ng-container matColumnDef='eventName'>
                <th mat-header-cell *matHeaderCellDef>Data name</th>
                <td mat-cell *matCellDef='let element'>{{element.eventName}}</td>
            </ng-container>
            <ng-container matColumnDef='field'>
                <th mat-header-cell *matHeaderCellDef>Data field Name</th>
                <td mat-cell *matCellDef='let element'>{{element.field}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
            <tr mat-row *matRowDef='let v; columns: displayedColumns'></tr>
        </table>
    </div>
</ng-template>
