<ng-template #loadTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<div *ngIf='msiForm else loadTemp' ogms-rx-box>
    <div class='header Subhead mt-0 mb-3'>
        <h2 class='Subhead-heading'>{{ms.MDL.meta.name}} data configuration</h2>
    </div>

    <form [formGroup]='msiForm'>
        <section>
            <h3 class='h3 my-3'>Basic information</h3>
            <mat-form-field class='form-item'>
                <input matInput formControlName='name' placeholder="Name">
            </mat-form-field>
            <mat-form-field class='form-item'>
                <textarea matInput formControlName='desc' placeholder="Description"></textarea>
            </mat-form-field>
            <div class='auth-group'>
                <label>Authorition: </label>
                <mat-button-toggle-group appearance="legacy" formControlName='src'>
                    <mat-button-toggle value='PRIVATE'>Private</mat-button-toggle>
                    <mat-button-toggle value='PUBLIC'>Public</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </section>

        <section>
            <h3 class='h3 my-3'>Inputs & Outputs</h3>
            <ogms-calcu-cfg formControlName='calcuTask' [calcuTask]='calcuTask' (onValidChange)='onCalcuCfgChange($event)'></ogms-calcu-cfg>
        </section>

        <section>
            <h3 class='h3 my-3'>Operating</h3>
            <button mat-stroked-button color='primary' (click)='invoke("save")' [disabled]='!msiForm.valid' class='mr-4'>
                <mat-icon>save</mat-icon>
                <span>Save</span>
            </button>
            <button mat-stroked-button color='primary' (click)='invoke("invoke")' [disabled]='!msiForm.valid'>
                <mat-icon>play_arrow</mat-icon>
                <span>Invoke</span>
            </button>
        </section>
    </form>
</div>
