<div ogms-loading *ngIf='!msiForm else docTemp'>
    <mat-spinner></mat-spinner>
</div>
<ng-template #docTemp>
    <article class='doc' style='margin: 24px auto !important;'>
        <form [formGroup]='msiForm'>
            <div class="doc-title">{{model.MDL.meta.name}} Data Configuration</div>
            <div class='doc-body'>
                <section>
                    <div class='section-header flex-box-row-nowrap'>
                        <span class='title'>Basic information</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div class='section-body'>
                        <mat-form-field class='form-item'>
                            <input matInput formControlName='name' placeholder="Name">
                        </mat-form-field>
                        <mat-form-field class='form-item'>
                            <textarea matInput formControlName='desc' placeholder="Description"></textarea>
                        </mat-form-field>
                        <div class='auth-group'>
                            <label>Authorition: </label>
                            <mat-button-toggle-group formControlName='src'>
                                <mat-button-toggle value='PRIVATE'>Private</mat-button-toggle>
                                <mat-button-toggle value='PUBLIC'>Public</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </section>

                <section>
                    <div class='section-header flex-box-row-nowrap'>
                        <span class='title'>IO</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div class='section-body'>
                        <ogms-calcu-cfg formControlName='msInstance' *ngIf='msInstance' [msInstance]='msInstance' (onValidChange)='onCalcuCfgChange($event)'></ogms-calcu-cfg>
                    </div>
                </section>

                <section>
                    <div class='section-header flex-box-row-nowrap'>
                        <span class='title'>Operating</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div id='form-submit' class='section-body'>
                        <button mat-stroked-button color='primary' (click)='invoke("save")' [disabled]='!msiForm.valid'>
                            <mat-icon>save</mat-icon>
                            Save
                        </button>
                        <button mat-stroked-button color='primary' (click)='invoke("invoke")' [disabled]='!msiForm.valid'>
                            <mat-icon>play_arrow</mat-icon>
                            Invoke
                        </button>
                    </div>
                </section>
            </div>
        </form>
    </article>
</ng-template>
