<ogms-doc-detail-template>
    <section class='doc' *ngIf='task'>
        <div class='doc-title'>{{task.meta.name}}</div>
        <section class='doc-body row'>
            <article class='main-content col-xs-9 col-sm-9 col-md-9 col-lg-9'>
                <section>
                    <div class='section-header flex-box-row-nowrap'>
                        <span class='title'>Basic information</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div class='section-body'>
                        <dl class='table-info'>
                            <div nz-row>
                                <dt nz-col [nzSpan]='4'>Create time</dt>
                                <dd nz-col [nzSpan]='8'>{{task.meta.time | date:'yyyy-MM-dd'}}</dd>
                                <dt nz-col [nzSpan]='4'>Author</dt>
                                <dd nz-col [nzSpan]='8'>{{task.auth.userName | undefined}}</dd>
                                <dt nz-col [nzSpan]='4'>Authorization</dt>
                                <dd nz-col [nzSpan]='8'>{{task.auth.src | resourceSrc}}</dd>
                            </div>
                        </dl>
                        <div class='detail-desc'>
                            {{task.meta.desc}}
                        </div>
                    </div>
                </section>

                <section>
                    <div class='section-header flex-box-row-nowrap'>
                        <span class='title'>Temporal ranges</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div class='section-body'>
                        <dl class='table-info'>
                            <div nz-row>
                                <dt nz-col [nzSpan]='10'>Start time</dt>
                                <dd nz-col [nzSpan]='14'>{{task.issue.temporal.start | date:'yyyy-MM-dd'}}</dd>
                                <dt nz-col [nzSpan]='10'>End time</dt>
                                <dd nz-col [nzSpan]='14'>{{task.issue.temporal.end | date:'yyyy-MM-dd'}}</dd>
                            </div>
                        </dl>
                    </div>
                </section>

                <section *ngIf='geojson'>
                    <div class='section-header flex-box-row-nowrap'>
                        <span class='title'>Spatial region</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div class='section-body'>
                        <div>
                            <ogms-region-map [geojson]='geojson'></ogms-region-map>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="section-header flex-box-row-nowrap">
                        <span class="title">Model running schedule</span>
                        <span class="placeholder flex-item-1-1-auto"></span>
                    </div>
                    <section class='section-body'>
                        <nz-tabset>
                            <nz-tab *ngFor='let ms of task.solution.cmpCfg.ms'>
                                <ng-template #nzTabHeading>
                                    {{ms.msName}}
                                </ng-template>
                                <section>
                                    <div class='ms-progress'>
                                        <nz-progress [ngModel]="100"></nz-progress>
                                    </div>
                                </section>
                            </nz-tab>
                        </nz-tabset>
                    </section>
                </section>

                <section>
                    <div class="section-header flex-box-row-nowrap">
                        <span class='title'>Comparison features</span>
                        <span class='placeholder flex-item-1-1-auto'></span>
                    </div>
                    <div class="section-body">
                        <div class='cmpObj' *ngFor='let cmpObj of task.cmpObjs; let i=index;'>
                            <h3>{{i+1}}. {{cmpObj.meta.name}}</h3>
                            <section>
                                <div class='desc detail-desc'>
                                    <span>{{cmpObj.meta.desc}}</span>
                                </div>
                                <div class='cmp-tabset'>
                                    <!-- TODO point 情况下的数据
                                        一个 cmpObj 只有一个 chart/table 
                                        每个模型的 dataRefer 中的 field 是确定的
                                    -->

                                    <ng-container *ngIf='cmpObj.schemaName === "TABLE_RAW"'>
                                        <div class='cmp-method-section' *ngIf='cmpObj.methods.indexOf("TABLE_CHART") !== -1 && cmpObj.chartSrc'>
                                            <h4>Chart</h4>
                                            <ogms-cmp-result-chart [source]='cmpObj.chartSrc'></ogms-cmp-result-chart>
                                        </div>
                                        <div class='cmp-method-section' *ngIf='cmpObj.methods.indexOf("TABLE_STATISTIC") !== -1 && cmpObj.statisticSrc'>
                                            <h4>Statistic</h4>
                                            <ogms-cmp-result-table [source]='cmpObj.statisticSrc'></ogms-cmp-result-table>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf='cmpObj.schemaName === "ASCII_GRID_RAW_BATCH"'>
                                        <nz-tabset [nzTabBarExtraTemplate]='addTab'>
                                            <ng-container *ngIf='cmpObj.stdResult'>
                                                <nz-tab>
                                                    <ng-template #nzTabHeading>
                                                        Standard result
                                                    </ng-template>
                                                    <div>
                                                        <ng-container *ngIf='cmpObj.stdResult.image'>
                                                            <ogms-cmp-result-map [layerCfg]='{label: "Standard result", layers: cmpObj.stdResult.image}'></ogms-cmp-result-map>
                                                        </ng-container>
                                                    </div>
                                                </nz-tab>
                                            </ng-container>
                                            <nz-tab *ngFor="let dataRefer of cmpObj.dataRefers">
                                                <ng-template #nzTabHeading>
                                                    {{dataRefer.msName}}
                                                </ng-template>
                                                <div>
                                                    <ng-container *ngIf='dataRefer.cmpResult && dataRefer.cmpResult.image'>
                                                        <ogms-cmp-result-map [layerCfg]='{label: "dataRefer.msName", layers: dataRefer.cmpResult.image}'></ogms-cmp-result-map>
                                                    </ng-container>
                                                </div>
                                            </nz-tab>
                                            <nz-tab *ngFor='let tab of cmpObj.tabs'>
                                                <ng-template #nzTabHeading>
                                                    {{tab.title}}
                                                </ng-template>
                                                <div>
                                                    <ng-container *ngIf='tab.left && tab.right'>
                                                        <ogms-cmp-result-map [type]='"swipe"' [leftCfg]='tab.left' [rightCfg]='tab.right'></ogms-cmp-result-map>
                                                    </ng-container>
                                                </div>
                                            </nz-tab>
                                            <ng-template #addTab>
                                                <i class="ant-tabs-new-tab anticon anticon-plus-square" (click)='showModal(cmpObj)'></i>
                                            </ng-template>
                                        </nz-tabset>
                                    </ng-container>

                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </article>

            <aside class='sider-content col-xs-3 col-sm-3 col-md-3 col-lg-3'>
                <section class="sider-item">
                    <div class="sider-item-title">
                        <span>Issue</span>
                    </div>
                    <div class="sider-item-body">
                        <ul>
                            <li>
                                <a [routerLink]='["../../issues", task.issue._id]'>{{task.issue.meta.name}}</a>
                                <div class='sider-desc'>{{task.issue.meta.desc | stringLimit}}</div>
                                <div>
                                    <span class='topic'>Topic xxx</span>
                                </div>
                                <div>{{task.issue.meta.time | date: 'yyyy-MM-dd'}}</div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="sider-item">
                    <div class="sider-item-title">
                        <span>Solution</span>
                    </div>
                    <div class="sider-item-body">
                        <ul>
                            <li>
                                <a [routerLink]='["../../solutions", task.solution._id]'>{{task.solution.meta.name}}</a>
                                <div class='sider-desc'>{{task.solution.meta.desc | stringLimit}}</div>
                                <div>
                                    <span *ngFor='let ms of task.solution.cmpCfg.ms' [routerLink]='["../../resources/geo-models", ms.msId]' class='topic model-topic'>{{ms.msName}}</span>
                                </div>
                                <div>{{task.solution.meta.time | date: 'yyyy-MM-dd'}}</div>
                            </li>
                        </ul>
                    </div>
                </section>
            </aside>
        </section>
    </section>
</ogms-doc-detail-template>

<ogms-footer></ogms-footer>

<nz-modal [nzVisible]="isVisible" [nzTitle]="'Select comparison object'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzOkText]='"Ok"' [nzCancelText]='"Cancel"'>
    <ng-template #modalContent>
        <nz-checkbox-group [(ngModel)]='checkOpts' (ngModelChange)='onChecked()'></nz-checkbox-group>
    </ng-template>
</nz-modal>

<!-- <disqus [identifier]="pageId"></disqus> -->