<div id="container" *ngIf='panelData'>
    <ng-container *ngIf='panelData.type === 1'>
        <div id='states' class='box-item'>
            <p class='sub-header'>
                Model Run States:
            </p>
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" class='indent'>
                <nz-tab *ngFor='let state of panelData.data.states'>
                    <ng-template #nzTabHeading>
                        {{state.$.name}}
                    </ng-template>
                    <div class="tab-content">
                        <div>
                            <p class='third-header row-kv'>State Information: </p>
                            <div class='indent'>
                                <div class='col-2-row row-kv'>
                                    <label>Type: </label><span>{{state.$.type}}</span>
                                </div>
                                <div class='col-2-row row-kv'>
                                    <label>Description: </label><span>{{state.$.description}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf='state.inputs.length !== 0'>
                            <p class='third-header row-kv'>Input Data: </p>
                            <div class='indent'>
                                <div *ngFor='let input of state.inputs' (click)='selectedEvent=input' class='event-row col-2-row row-kv' [class.event-selected]='selectedEvent && selectedEvent.name === input.name'>
                                    <label>{{input.name}}</label>
                                    <span>
                                        <nz-select [ngModel]="input.geodata" (ngModelChange)='input.geodata=$event; checkExecBtn()' nzAllowClear>
                                            <nz-option *ngFor="let option of dataOptions" [nzLabel]="option.filename" [nzValue]="option">
                                            </nz-option>
                                        </nz-select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class='third-header row-kv'>Output Data: </p>
                            <div class='indent'>
                                <div *ngFor='let output of state.outputs' (click)='selectedEvent=output' class='event-row col-2-row row-kv' [class.event-selected]='selectedEvent && selectedEvent.name === output.name'>
                                    <label>{{output.name}}</label>
                                    <span>
                                        <nz-input [ngModel]='output.filename' (ngModelChange)='output.filename=$event; checkExecBtn()' [nzPlaceHolder]="'filename...'"></nz-input>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
        <div id='data-info-div' class='box-item'>
            <div *ngIf='selectedEvent'>
                <p class='sub-header'>
                    Data Information:
                </p>
                <div class='indent'>
                    <div nz-row [nzGutter]='8' class='row-kv'>
                        <div nz-col [nzSpan]='12' class='col-2-row-equal'>
                            <label>Name: </label> <span>{{selectedEvent.name}}</span>
                        </div>
                        <div nz-col [nzSpan]='12' class='col-2-row-equal'>
                            <label>Type: </label> <span>{{selectedEvent.type}}</span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]='8' class='row-kv'>
                        <div nz-col [nzSpan]='12' class='col-2-row-equal'>
                            <label>Optional: </label> <span>{{selectedEvent.optional}}</span>
                        </div>
                        <div nz-col [nzSpan]='12' class='col-2-row-equal'>
                            <label>Description: </label> <span>{{selectedEvent.description}}</span>
                        </div>
                    </div>

                    <div>
                        <label class='row-kv'>Data Schema: </label>
                        <pre>
                            {{panelData.data.schemas[selectedEvent.schema]}}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div id='operator-div' class='box-item indent'>
            <button nz-button [nzType]="'default'" [disabled]='disabledExecuteBtn' [nzLoading]='loadingExecuteBtn' (click)='execute()'>
                <i class="anticon anticon-caret-right"></i>
                <span>Execute</span>
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf='panelData.type === 2'>
        <hot-table></hot-table>
    </ng-container>

    <ng-container *ngIf='panelData.type === 3'>

    </ng-container>

    <ng-container *ngIf='panelData.type === 4'>

    </ng-container>

    <ng-container *ngIf='panelData.type === 5'>

    </ng-container>
</div>