a:visited {
    // color: #108ee9 !important;
}

.menu-item {
    z-index: 999;
}

span {
    height: 100%;
    display: flex;
}

.actived-level-1-menu {
    color: #fff !important;
}

// .actived-level-2-menu {
//     color: #24292e;
// }

// .actived-level-2-menu:hover {
//     background: #24292e;
//     color: #fff;
// }