<ng-container *ngIf='keynote !== undefined'>
    <form nz-form [nzType]="'horizontal'">
        <h4 style='margin: 10px 0;'>Solution Meta Information:</h4>
        <!-- <div nz-row [nzGutter]='"20"'> -->
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
                <label>Name</label>
            </div>

            <div nz-form-control nz-col [nzSpan]="12">
                <nz-input [(ngModel)]='keynote.attached.solutionMeta.name' (ngModelChange)='emitNgModelChange()' name='cmpObj-name' [nzDisabled]='mode==="read"'></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
                <label>Description</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="12">
                <nz-input [(ngModel)]='keynote.attached.solutionMeta.desc' (ngModelChange)='emitNgModelChange()' name='cmpObj-desc' [nzDisabled]='mode==="read"'></nz-input>
            </div>
        </div>
        <!-- </div> -->

        <h4 style='margin: 10px 0;'>Comparison Keynote:</h4>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
                <label>Comparison Direction</label>
            </div>
            <div nz-form-control [nzValidateStatus]="'success'" nz-col [nzSpan]="12">
                <nz-radio-group [(ngModel)]="keynote.direction" (ngModelChange)='emitNgModelChange()' name='keynote-direction' [nzSize]='"large"'>
                    <label nz-radio-button [nzValue]="'multi'" [nzDisabled]='mode==="read" && keynote.direction==="single"'><span>Multi-Models</span></label>
                    <label nz-radio-button [nzValue]="'single'" [nzDisabled]='mode==="read" && keynote.direction==="multi"'><span>Single</span></label>
                </nz-radio-group>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
                <label>Comparison Region</label>
            </div>
            <div nz-form-control [nzValidateStatus]="'success'" nz-col [nzSpan]="12">
                <nz-radio-group [(ngModel)]="keynote.dimension" (ngModelChange)='emitNgModelChange()' name='keynote-dimension' [nzSize]='"large"'>
                    <label nz-radio-button [nzValue]="'point'" [nzDisabled]='mode==="read" && keynote.dimension === "polygon"'><span>Single Point</span></label>
                    <label nz-radio-button [nzValue]="'polygon'" [nzDisabled]='mode==="read" && keynote.dimension === "point"'><span>Area</span></label>
                </nz-radio-group>
            </div>
        </div>
    </form>
</ng-container>