.esriPopup .esriPopupWrapper .contentPane{
    padding: 0px;
}

.esriPopup > .esriPopupWrapper .maximize{
    display: none;
}

.esriScalebar {
    position: relative !important;
}

.esriMapContainer~.tooltip {
    display: none;
}