openlayers-maps .tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
openlayers-maps .tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
openlayers-maps .tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
openlayers-maps .tooltip-measure:before, .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
openlayers-maps .tooltip-static:before {
    border-top-color: #ffcc33;
    color: red;
}
openlayers-maps .ol-popup {
    position: absolute;
    color: #191818;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    /* padding: 15px;
    border-radius: 10px; */
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;

}
openlayers-maps .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
openlayers-maps .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
openlayers-maps .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
openlayers-maps .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 13px;
    right: 15px;
}
openlayers-maps .ol-popup-closer:after {
    content: "✖";
}