.list-item {
    .item-header>a:hover {
        text-decoration: underline !important;
        color: #285eb8 !important;
    }
    .item-header>a {
        font-size: 20px;
        font-weight: 400;
    }
    .item-body {
        .desc {
            margin-bottom: 8px;
        }
    }
    .item-footer {}
}