
.list-template-item {
    padding: 5px 12px;
    border: 1px solid #e1e4e8;
    border-top: none;
    .item-header>a:first-child:hover {
        text-decoration: underline !important;
        color: #285eb8 !important;
    }
    .item-header>a:not(:first-child) {
        padding: 0 10px;
    }
    .item-header>a {
        font-size: 20px;
        font-weight: 400;
    }
    .item-body {
        margin-right: 200px;
        .desc {
            margin-bottom: 8px;
            font-size: 15px;
        }
    }
    .item-footer {}
}

.list-template-item:hover {
    background-color: #f6f8fa;
}