.ogms-form-item {
    margin-bottom: 20px;
    display: flex !important;
    align-items: center !important;
    >span {
        text-align: right;
        padding: 0 15px;
    }
    >span::after {
        content: ':'
    }
    >div {
        // padding: 0 15px;
    }
    .ogms-clear-after::after{
        content: none;
    }
}