.topic-chip {
    cursor: pointer !important;
    background: #a5d6a7 !important;
    &:hover {
        background: #81c784 !important;
    }
}

.sln-chip {
    cursor: pointer !important;
    background: #fdb0b0 !important;
    &:hover {
        background: #e29999 !important;
    }
}

.ms-chip {
    cursor: pointer !important;
    background: #bcbdfaab !important;
    &:hover {
        background: #bcbdfa !important;
    }
}

.method-chip {
    cursor: pointer !important;
    background: #b6d8ff !important;
    &:hover {
        background: #86befd !important;
    }
}

.ogms-dl-group {
    >* {
        border-bottom: 1px dashed #ccc;
    }
}

.jexcel > tbody > tr > td {
    white-space: pre-wrap;
}