body {
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    position: relative;
}

.topic-chip {
    background: #a5d6a7 !important;
    &:hover {
        background: #81c784 !important;
    }
}

.sln-chip {
    background: #fdb0b0 !important;
    &:hover {
        background: #e29999 !important;
    }
}

.ms-chip {
    background: #bcbdfaab !important;
    &:hover {
        background: #bcbdfa !important;
    }
}

.method-chip {
    background: #b6d8ff !important;
    &:hover {
        background: #86befd !important;
    }
}