.flex-box-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex-item-1-1-auto {
    flex: 1 1 auto;
}

// reactive-layout
@mixin layout($paddingHorizontal) {
    nav {
        padding: 0 $paddingHorizontal;
    }
    .rx-box {
        padding: 24px $paddingHorizontal;
    }
    footer {
        padding-left: $paddingHorizontal !important;
        padding-right: $paddingHorizontal !important;
    }
}

@media (max-width: 768px) {
    @include layout(10px);
}

@media (min-width: 768px) {
    @include layout(50px);
}

@media (min-width: 980px) {
    @include layout(10%);
}

.flex-1-0 {
    display: flex;
    flex-flow: row nowrap;
    >:first-child {
        flex: 1 1 auto;
        margin-right: 25px;
    }
    
    >:nth-child(2) {
        flex: 0 0 300px;
    }
}

.ogms-aside {
    >* {
        padding: 10px 0;
        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }
}

.ogms-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translateY(-50%);
}

.ogms-rx-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    >div {
        padding: 8px;

        @mixin responsive($columnNum) {
            flex: 0 1 calc(100%/#{$columnNum});
        }

        @media (max-width: 479px) {
            @include responsive(1);
        }

        @media (min-width: 480px) {
            @include responsive(2);
        }

        @media (min-width: 768px) {
            @include responsive(2);
        }

        @media (min-width: 992px) {
            @include responsive(3);
        }

        @media (min-width: 1200px) {
            @include responsive(3);
        }
    }
}