.box-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

.list-container {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    width: 100%;
}

.scrollbar-element {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
}

.ps-content{
    height: 100%;
}