// TODO 只加载用到的
// @import "~primer/index.scss";
@import "~primer-utilities/index.scss";
@import "~primer-subhead/index.scss";
@import "~primer-base/index.scss";
@import "~primer-navigation/index.scss";
@import "~primer-marketing-type/index.scss";
@import "~primer-support/index.scss";
@import "~primer-support/index.scss";