// webkit 分为横的和竖的 
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px !important;
}

 ::-webkit-scrollbar-button {}

 ::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: rgba($color: #ffffff, $alpha: 0);
}

 ::-webkit-scrollbar-track-piece {
    background-color: rgba($color: #ffffff, $alpha: 0);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: rgba($color: #000, $alpha: 0.5);
    cursor: pointer
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($color: #000, $alpha: 0.7);
}

 ::-webkit-scrollbar-corner {}

 ::-webkit-resizer {}

.ps {
    .ps__rail-x,
    .ps__rail-y {
        background-color: rgba(0, 0, 0, 0);
        .ps__thumb-x,
        .ps__thumb-y {
            background-color: rgba($color: #000, $alpha: 0.5) !important;
        }
        .ps__thumb-x:hover,
        .ps__thumb-y:hover {
            background-color: rgba($color: #000, $alpha: 0.7) !important;
        }
    }
    .ps__rail-x:hover,
    .ps__rail-y:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    .ps__rail-y,
    .ps__rail-y:hover {
        width: 5px !important;
    }
    .ps__thumb-y,
    .ps__thumb-y:hover {
        border-radius: 5px !important;
        width: 5px !important;
        right: 0 !important;
    }
    .ps__rail-x,
    .ps__rail-x:hover {
        height: 5px !important;
    }
    .ps__thumb-x,
    .ps__thumb-x:hover {
        border-radius: 5px !important;
        bottom: 0 !important;
        height: 5px !important;
    }
}