@import '~@angular/material/_theming.scss';

$yourCommentBorderColor:                #c0d3eb;
$defaultCommentBorderColor:             #D1D5D9;
$yourcommentHeaderBg:                   #f1f8ff;
$defaultCommentHeaderBg:                #f6f8fa;

$cardBorderColor:                       #e3e3e3;
$cardHoverBorderColor:                  #bdbdbd;