:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #586069;
    font-size: 14px;

    /deep/ .header {
        margin-bottom: 5px;
        z-index: 2;

        &.has-menu {
            position: relative;

            >.title {
                user-select: none;
                cursor: pointer;

                &:hover {
                    color: #0366d6;
                }

                mat-icon {
                    float: right;
                    vertical-align: middle;
                }
            }

            >.menu {
                display: none;
                color: #24292e;
                position: absolute;
                right: 0;
                background: #fff;
                z-index: 1;
                border: 1px solid #e1e4e8;
                border-radius: 3px;

                >* {
                    padding-left: 8px;
                    padding-right: 8px;
                }

                .loading {
                    width: 100%;
                    height: 200px;
                }

                .title {
                    font-weight: 600;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #e1e4e8;
                    background: #f6f8fa;
                }

                .filter {
                    padding: 10px 8px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #e1e4e8;
                    background: #f6f8fa;

                    >input {
                        width: 100%;
                        padding: 5px;
                        border: 1px solid #dfe2e5;
                        border-radius: 3px;
                        background-color: #fff;
                        outline: none;
                        box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
                        vertical-align: middle;
                        line-height: 20px;
                    }
                }

                .opt-list {
                    max-height: 350px;
                    overflow: scroll;
                    padding: 0;

                    li {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        padding-left: 8px;
                        padding-right: 8px;

                        .sln-select-spacer {
                            flex: 0 0 18px;
                        }

                        &:hover {
                            color: #fff;
                            background-color: #0366d6;
                        }
                    }
                }
            }
        }

        >.title {
            font-weight: 600;
            user-select: none;

            >.title {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
        }
    }

    /deep/ .aside-ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        li {
            vertical-align: middle;
            padding: 4px 0;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid #eaecef;
            }
        }
    }

    /deep/ .body {
        color: #586069;
        font-size: 12px;
        .with-route>li {
            &:not(:last-child) {
                border-bottom: 1px solid #f3f3f3e0;
            }
    
            &:hover {
                color: #0366d6;
            }
        }
        .create-btn {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 20px;
            padding: 3px 10px;
            color: #24292e;
            margin-top: 8px;
            width: 100%;
            background-color: #eff3f6;
        }
    }

    /deep/ .notification {
        button,
        .mat-stroked-button {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 20px;
            padding: 3px 10px;
            color: #24292e;
            margin-top: 8px;
            width: 100%;
            background-color: #eff3f6;
        }
    }

    /deep/ .participants {
        >img {
            cursor: pointer;
        }
    }
}
