.row {
    padding-bottom: 12px; 
}

.normal {
    font-size: 14px;
}

.modelname {
    font-size: 16px;
    font-weight: 500;
}

.border {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}

.avatar {
    font-size: 14px;
    color:#f56a00;
    background-color:#fde3cf;
}

.center {
    height: 22px;
    line-height: 22px;
}