footer {
    background: #24292e;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    >a {
        flex: 0 0 auto;
    }
    a {
        color: #fff !important;
        text-decoration: none !important;
    }
    #logo-footer{
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
    }
}