<nz-tabset id='manager-tab' [nzTabPosition]="'top'" [nzType]="'card'" (window:resize)="onResize()">
    <nz-tab>
        <ng-template #nzTabHeading>
            Model
        </ng-template>
        <div lass="tab-content">
            <ogms-model-tool-lib-list></ogms-model-tool-lib-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Data
        </ng-template>
        <div class="tab-content">
            <ogms-data-list></ogms-data-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Visualization
        </ng-template>
        <div class="tab-content">
            <ogms-visual-list></ogms-visual-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Refactor
        </ng-template>
        <div class='tab-content'>
            <ogms-data-tool-lib-list></ogms-data-tool-lib-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Preprocess
        </ng-template>
        <div class='tab-content'>

        </div>
    </nz-tab>
</nz-tabset>