<nz-tabset id='manager-tab' [nzTabPosition]="'top'" [nzType]="'card'" (window:resize)="onResize()">
    <nz-tab>
        <ng-template #nzTabHeading>
            Model
        </ng-template>
        <div lass="tab-content">
            <app-model-tool-lib-list></app-model-tool-lib-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Data
        </ng-template>
        <div class="tab-content">
            <app-data-list></app-data-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Visualization
        </ng-template>
        <div class="tab-content">

        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Refactor
        </ng-template>
        <div class='tab-content'>
            <app-data-tool-lib-list></app-data-tool-lib-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Preprocess
        </ng-template>
        <div class='tab-content'>

        </div>
    </nz-tab>
</nz-tabset>