<button id='create-btn' routerLink='../create' mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-container *ngIf='solution else readTemplate'>

</ng-container>
<ng-template #readTemplate>

</ng-template>

<ogms-detail-layout *ngIf='solution else loadingTemp'>
    <div class='header'>
        <ng-container *ngIf='_editMode === "WRITE" else readTemp'>
            <div class='header-title'>
                <span class='topic-name'>
                    <mat-form-field>
                        <input matInput placeholder='Topic Name' [(ngModel)]='solution.meta.name' required minlength="5">
                        <mat-error *ngIf='"required"'>必填</mat-error>
                        <mat-error *ngIf='"minlength"'>长度不够</mat-error>
                    </mat-form-field>
                </span>
                <div class='title-btn-group'>
                    <button mat-button color='primary' (click)='onEditSave()'>Save</button>
                    <button mat-button color='primary' (click)='onEditCancel()'>Cancel</button>
                </div>
            </div>
            <div class='header-meta'>
                <mat-form-field>
                    <textarea matInput placeholder="" [(ngModel)]='solution.meta.desc' required minlength="5"></textarea>
                    <mat-error *ngIf='"required"'>必填</mat-error>
                    <mat-error *ngIf='"minlength"'>长度不够</mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-template #readTemp>
            <div class='header-title read'>
                <h2>{{solution.meta.name}}</h2>
                <div class='title-btn-group'>
                    <button mat-button color='primary' *ngIf='couldEdit' (click)='onEditClick()'>Edit</button>
                    <!-- <button mat-flat-button color='primary' *ngIf='couldEdit' [routerLink]='["../create"]'>New Topic</button> -->
                </div>
            </div>
            <div class='header-meta read'>
                <p>{{solution.meta.desc | description}}</p>
                <p><a class='author' routerLink='/user'>{{solution.auth.userName}}</a> created this solution at
                    {{solution.meta.time | date: 'yyyy.MM.dd'}}</p>
            </div>
        </ng-template>
    </div>

    <div class='article'>
        <mat-tab-group>
            <mat-tab label='Wiki'>
                <div class='wiki-tab' *ngIf='_editMode === "WRITE"'>
                    <simplemde [(ngModel)]='solution.meta.wikiMD' [options]='mdeOption'></simplemde>
                    <!-- <div class='desc-btn-group'>
                        <button mat-button color='primary' (click)='onEditCancel()'>Cancel</button>
                        <button mat-button color='primary' (click)='onEditSave()'>Save</button>
                    </div> -->
                </div>
                <div class='wiki-tab' *ngIf='_editMode === "READ"'>
                    <div [innerHTML]='solution.meta.wikiHTML'></div>
                    <!-- <div class='desc-btn-group'>
                        <button mat-button color='primary' *ngIf='couldEdit' (click)='onEditClick()'>Edit</button>
                    </div> -->
                </div>
            </mat-tab>

            <mat-tab label='Participants'>

            </mat-tab>

            <mat-tab label='Data configuration'>

            </mat-tab>

            <mat-tab label='Conversation'>
                <ogms-conversation [ngModel]='conversation'></ogms-conversation>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class='aside'>
        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Topic
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>

                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Tasks
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>

                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Models
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>

                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    {{users.length}} Participants
                </div>
                <div class='body participants'>
                    <ng-container *ngFor='let user of users'>
                        <img [attr.src]='"data:image/png;base64," + user.avator'>
                    </ng-container>
                </div>
            </ogms-sidebar-section>
        </div>

        <div class='notification'>
            <ogms-sidebar-section>
                <div class='title'>
                    Notifications
                </div>
                <div class='body'>
                    <a mat-stroked-button (click)='onSubscribeToggle()'>
                        <ng-container *ngIf='includeUser else noticeTemp'>
                            <mat-icon inline>notifications_off</mat-icon>Unsubscribe
                        </ng-container>
                        <ng-template #noticeTemp>
                            <mat-icon inline>notifications</mat-icon>Subscribe
                        </ng-template>
                    </a>
                </div>
            </ogms-sidebar-section>
        </div>
    </div>
</ogms-detail-layout>
