$width: 620px;
$width: 620px;
$dividerColor: #d2d2d2;

#create-btn {
    position: absolute;
    right: 30px;
    top: -28px;
    z-index: 100;
}

.cmpObj-container{
    position: relative;
    &:not(:last-child) {
        border-bottom: 1px dashed $dividerColor;
        margin-bottom: 35px;
    }
    
    .close-tag {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        cursor: pointer;
        &:hover {
            filter: drop-shadow(0 0 0 black);
        }
    }
}

.ac-btn-group {
    margin: 10px 0 25px;
    >button:not(:last-child) {
        margin-right: 15px;
    }
}

.cmpObj-container

.notification{
    a{
        line-height: 1.8;
    }
}