#create-btn {
    position: absolute;
    right: 30px;
    top: -28px;
    z-index: 100;
}

.sln-list {
    mat-icon {
        cursor: pointer;
        vertical-align: middle;
    }

    li {
        &:not(:last-child) {
            border-bottom: 1px solid #f3f3f3e0;
        }

        &:hover {
            color: #0366d6;
        }
    }
}
