<button id='create-btn' routerLink='../create' mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>
<ng-template #topicLoading>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ogms-detail-layout *ngIf='topic else topicLoading'>
    <div class='header'>
        <ng-container *ngIf='editMode === "WRITE" else readTemplate'>
            <div class='header-title'>
                <span class='topic-name'>
                    <mat-form-field>
                        <input matInput placeholder='Topic Name' [(ngModel)]='topic.meta.name' required minlength="5"
                            #titleName='ngModel'>
                        <mat-error *ngIf='"required"'>必填</mat-error>
                        <mat-error *ngIf='"minlength"'>长度不够</mat-error>
                    </mat-form-field>
                </span>
                <div class='title-btn-group'>
                    <!-- 参考 ngModel 的结构 -->
                    <button mat-button color='primary' (click)='onEditSave()' [disabled]='titleName.invalid'>Save</button>
                    <button mat-button color='primary' (click)='onEditCancel()'>Cancel</button>
                </div>
            </div>

            <div class='header-meta'>
                <mat-form-field>
                    <textarea matInput placeholder="" [(ngModel)]='topic.meta.desc' required minlength="5"></textarea>
                    <mat-error *ngIf='"required"'>必填</mat-error>
                    <mat-error *ngIf='"minlength"'>长度不够</mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-template #readTemplate>
            <div class='header-title read'>
                <h2 class='pb-3'>{{topic.meta.name}}</h2>
                <div class='title-btn-group'>
                    <button mat-button color='primary' *ngIf='couldEdit' (click)='onEditClick()'>Edit</button>
                    <!-- <button mat-flat-button color='primary' *ngIf='couldEdit' [routerLink]='["../create"]'>New Topic</button> -->
                </div>
            </div>
            <div class='header-meta read'>
                <p>{{topic.meta.desc | description}}</p>
                <p><a class='author' routerLink='/user'>{{topic.auth.userName}}</a> created this topic at
                    {{topic.meta.time |
                    date: 'yyyy.MM.dd'}}</p>
            </div>
        </ng-template>
    </div>

    <div class='article'>
        <mat-tab-group selectedIndex='0' (selectedIndexChange)='onSelectedIndexChange($event)'>
            <mat-tab label='Wiki'>
                <div class='wiki-tab' *ngIf='editMode === "WRITE"'>
                    <simplemde [(ngModel)]='topic.meta.wikiMD' [options]='mdeOption' required minlength='5'></simplemde>
                </div>
                <div class='wiki-tab' *ngIf='editMode === "READ"'>
                    <div [innerHTML]='topic.meta.wikiHTML'></div>
                </div>
            </mat-tab>

            <mat-tab label='Conversation'>
                <ng-container *ngIf='conversation else conLoading'>
                    <ogms-conversation [ngModel]='conversation'></ogms-conversation>
                </ng-container>
                <ng-template #conLoading>
                    <mat-spinner></mat-spinner>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class='aside'>
        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Solutions
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='menu' #menu *ngIf='topic.auth.userId === user._id'>
                    <div class='title'>Add solutions</div>
                    <div class='filter'>
                        <input placeholder='Filter solution' [(ngModel)]='slnFilter'>
                    </div>
                    <ul *ngIf='solutionList && solutionList.length' class='opt-list aside-ul'>
                        <li *ngFor='let sln of solutionList' (click)='onAttachSolution(sln)'>
                            <div class='sln-select-spacer'>
                                <mat-icon inline *ngIf='sln.topicId === topic._id'>clear</mat-icon>
                            </div>
                            {{sln.auth.userName}} / {{sln.meta.name}}
                        </li>
                        <li routerLink='/comparison/solutions'>
                            <div class='sln-select-spacer'></div>more
                        </li>
                    </ul>
                </div>
                <div class='body'>
                    <ng-container *ngIf='selectedSolutions.length else noSlnTemp'>
                        <ul class='aside-ul with-route'>
                            <li *ngFor='let sln of selectedSolutions' [routerLink]='["/comparison/solutions", sln._id]'>
                                {{sln.auth.userName}} / {{sln.meta.name}}
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #noSlnTemp>
                        <i>No related Solution.</i>
                    </ng-template>
                    <button mat-stroked-button class='create-btn' routerLink='/comparison/solutions/create'>
                        <mat-icon inline>add</mat-icon>&nbsp;<span>Create one</span>
                    </button>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    {{users.length}} participants
                </div>
                <div class='body participants'>
                    <ng-container *ngFor='let user of users'>
                        <img [attr.src]='user.avator' [routerLink]='"/user/" + user.username'>
                    </ng-container>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Notifications
                </div>
                <div class='body notification'>
                    <button mat-stroked-button (click)='onSubscribeToggle()'>
                        <ng-container *ngIf='includeUser else noticeTemp'>
                            <mat-icon inline>notifications_off</mat-icon>&nbsp;<span>Unsubscribe</span>
                        </ng-container>
                        <ng-template #noticeTemp>
                            <mat-icon inline>notifications</mat-icon>&nbsp;<span>Subscribe</span>
                        </ng-template>
                    </button>
                </div>
            </ogms-sidebar-section>
        </div>
    </div>
</ogms-detail-layout>
