<div ogms-rx-box>
    <button id='create-btn' routerLink='../create' mat-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
    <ng-template #topicLoading>
        <div ogms-loading>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

    <ng-container *ngIf='topic else topicLoading'>
        <div class='doc-title'>
            <ng-container *ngIf='titleMode === "WRITE" else readTemp'>
                <span class='topic-name'>
                    <mat-form-field>
                        <input matInput placeholder='Topic Name' [(ngModel)]='topic.meta.name' required minlength="5">
                        <mat-error *ngIf='"required"'>必填</mat-error>
                        <mat-error *ngIf='"minlength"'>长度不够</mat-error>
                    </mat-form-field>
                </span>
                <div class='title-btn-group'>
                    <button mat-button color='primary' (click)='onTitleEditSave()'>Save</button>
                    <button mat-button color='primary' (click)='onTitleEditCancel()'>Cancel</button>
                </div>
            </ng-container>
            <ng-template #readTemp>
                <h2>{{topic.meta.name}}</h2>
                <div class='title-btn-group'>
                    <button mat-button color='primary' *ngIf='couldEdit' (click)='onTitleEditClick()'>Edit</button>
                    <!-- <button mat-flat-button color='primary' *ngIf='couldEdit' [routerLink]='["../create"]'>New Topic</button> -->
                </div>
            </ng-template>
        </div>

        <div ogms-flex-1-0>
            <article>
                <mat-tab-group selectedIndex='0' (selectedIndexChange)='onSelectedIndexChange($event)'>
                    <mat-tab label='Topic'>
                        <div class='doc-desc' *ngIf='descMode === "WRITE"'>
                            <simplemde [(ngModel)]='topic.meta.descMD' [options]='mdeOption'></simplemde>
                            <div class='desc-btn-group'>
                                <button mat-button color='primary' (click)='onDescEditCancel()'>Cancel</button>
                                <button mat-button color='primary' (click)='onDescEditSave()'>Save</button>
                            </div>
                        </div>
                        <div class='doc-desc' *ngIf='descMode === "READ"'>
                            <div [innerHTML]='topic.meta.descHTML'></div>
                            <div class='desc-btn-group'>
                                <button mat-button color='primary' (click)='onDescEditClick()'>Edit</button>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label='Conversation'>
                        <ng-container *ngIf='conversation else conLoading'>
                            <ogms-conversation [ngModel]='conversation'></ogms-conversation>
                        </ng-container>
                        <ng-template #conLoading>
                            <mat-spinner></mat-spinner>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </article>
            <aside ogms-aside>
                <div>
                    1
                </div>
            </aside>
        </div>
    </ng-container>
</div>
