<div ogms-rx-box>
    <button id='create-btn' routerLink='../create' mat-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
    <ng-template #topicLoading>
        <div ogms-loading>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

    <ng-container *ngIf='topic else topicLoading'>
        <div class='doc-title' [class.read]='titleMode === "READ"'>
            <ng-container *ngIf='titleMode === "WRITE" else readTemp'>
                <span class='topic-name'>
                    <mat-form-field>
                        <input matInput placeholder='Topic Name' [(ngModel)]='topic.meta.name' required minlength="5">
                        <mat-error *ngIf='"required"'>必填</mat-error>
                        <mat-error *ngIf='"minlength"'>长度不够</mat-error>
                    </mat-form-field>
                </span>
                <div class='title-btn-group'>
                    <button mat-button color='primary' (click)='onTitleEditSave()'>Save</button>
                    <button mat-button color='primary' (click)='onTitleEditCancel()'>Cancel</button>
                </div>
            </ng-container>
            <ng-template #readTemp>
                <h2>{{topic.meta.name}}</h2>
                <div class='title-btn-group'>
                    <button mat-button color='primary' *ngIf='couldEdit' (click)='onTitleEditClick()'>Edit</button>
                    <!-- <button mat-flat-button color='primary' *ngIf='couldEdit' [routerLink]='["../create"]'>New Topic</button> -->
                </div>
            </ng-template>
        </div>

        <div ogms-flex-1-0>
            <article>
                <mat-tab-group selectedIndex='0' (selectedIndexChange)='onSelectedIndexChange($event)'>
                    <mat-tab label='Topic'>
                        <div class='doc-desc' *ngIf='descMode === "WRITE"'>
                            <simplemde [(ngModel)]='topic.meta.descMD' [options]='mdeOption'></simplemde>
                            <div class='desc-btn-group'>
                                <button mat-button color='primary' (click)='onDescEditCancel()'>Cancel</button>
                                <button mat-button color='primary' (click)='onDescEditSave()'>Save</button>
                            </div>
                        </div>
                        <div class='doc-desc' *ngIf='descMode === "READ"'>
                            <div [innerHTML]='topic.meta.descHTML'></div>
                            <div class='desc-btn-group'>
                                <button mat-button color='primary' *ngIf='couldEdit' (click)='onDescEditClick()'>Edit</button>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label='Conversation'>
                        <ng-container *ngIf='conversation else conLoading'>
                            <ogms-conversation [ngModel]='conversation'></ogms-conversation>
                        </ng-container>
                        <ng-template #conLoading>
                            <mat-spinner></mat-spinner>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </article>
            <aside ogms-aside>
                <div>
                    <ogms-sidebar-section>
                        <div class='title'>
                            Solutions
                            <mat-icon inline>settings</mat-icon>
                        </div>
                        <div class='menu' #menu *ngIf='topic.auth.userId === user._id'>
                            <div class='title'>Add solutions</div>
                            <div class='filter'>
                                <input placeholder='Filter solution' [(ngModel)]='slnFilter'>
                            </div>
                            <ul *ngIf='solutions && solutions.length' class='opt-list ul-option'>
                                <li *ngFor='let sln of solutions' (click)='onSlnLiClick(sln)'>
                                    <div class='sln-select-placeholder'>
                                        <mat-icon inline *ngIf='sln.topicId === topic._id'>clear</mat-icon>
                                    </div>
                                    {{sln.auth.userName}}/{{sln.meta.name}}
                                </li>
                                <li routerLink='/comparison/solutions'>
                                    <div class='sln-select-placeholder'></div>more
                                </li>
                            </ul>
                        </div>
                        <div class='body'>
                            <ng-container *ngIf='selectedSolutions.length else noSlnTemp'>
                                <ul class='sln-list ul-option'>
                                    <li *ngFor='let sln of selectedSolutions' [routerLink]='["/comparison/solutions", sln._id]'>
                                        {{sln.auth.userName}}/{{sln.meta.name}}
                                    </li>
                                </ul>
                            </ng-container>
                            <ng-template #noSlnTemp>
                                <i>No related Solution.</i>
                            </ng-template>
                        </div>
                    </ogms-sidebar-section>
                </div>

                <div>
                    <ogms-sidebar-section>
                        <div class='title'>
                            {{users.length}} Participants
                        </div>
                        <div class='body participants'>
                            <ng-container *ngFor='let user of users'>
                                <img [attr.src]='"data:image/png;base64," + user.avator'>
                            </ng-container>
                        </div>
                    </ogms-sidebar-section>
                </div>

                <div class='notification'>
                    <ogms-sidebar-section>
                        <div class='title'>
                            Notifications
                        </div>
                        <div class='body'>
                            <a mat-stroked-button (click)='onSubscribeToggle()'>
                                <ng-container *ngIf='includeUser else noticeTemp'>
                                    <mat-icon inline>notifications_off</mat-icon>Unsubscribe
                                </ng-container>
                                <ng-template #noticeTemp>
                                    <mat-icon inline>notifications</mat-icon>Subscribe
                                </ng-template>
                            </a>
                        </div>
                    </ogms-sidebar-section>
                </div>
            </aside>
        </div>
    </ng-container>
</div>


<!-- <ng-template #slnTempCard let-item='item'>
    <div class='aside-card'>
        {{item}}
    </div>
</ng-template> -->
