#div_container {
	height: 30px;
	width: 255px;
	margin-bottom: 6px;
}

.mode {
	float: left;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	color: #3d3d3d;
	box-shadow: 0 0 4px rgba(0 , 0 , 0 , 0.2);
	background-color: white;
	overflow: hidden;
	display: inline-flex;
}

#baseLayerMode, #imageLayerMode {
	margin-right: 5px;
	width: 85px;
}

#layerTreeMode {
	width: 75px;
	margin-right: 0px;
}

.mode:hover , .mode_selected {
	background-color: #0593D3 ;
}

#baseLayerMode > .mode_button, #imageLayerMode > .mode_button{
	width: 63px;
	justify-content:center;
    align-items:center;
    display:flex;
    cursor: pointer;
}

#layerTreeMode > .mode_button{
	width: 100%;
	justify-content:center;
    align-items:center;
    display:flex;
    cursor: pointer;
}

.mode_basemap {
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: 0 0;
}

.mode_selected .mode_basemap , .mode:hover .mode_basemap {	
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: 0 -16px;
}

.mode_img {
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: -16px 0;
}

.mode_selected .mode_img , .mode:hover .mode_img {
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: -16px -16px;
}

.mode_layer {
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: -32px 0;
}

.mode_selected .mode_layer , .mode:hover .mode_layer {
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: -32px -16px;
}

.mode_text {
	vertical-align: middle;
	margin-left: 6px;
}

.mode_selected .mode_text , .mode:hover .mode_text {
	color: white;
}

.div_dropdown {
	height: 30px;
	width: 22px;
	justify-content:center;
	align-items:center;
	display:flex;
	border-left:1px solid #ebebeb;
}

.div_dropdown:hover {
	background-color: #048ac7 ;
	border-left:1px solid #37a9dc;
}

.mode:hover .div_dropdown , .mode_selected .div_dropdown {
	border-left:1px solid #37a9dc;
}

.dropdown_icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("/assets/img/map/btn_map_mode.png");
    background-position: 0 -32px;
}

.mode:hover .dropdown_icon {
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: -16px -32px;
}

.mode_selected .dropdown_icon {
	background: url("/assets/img/map/btn_map_mode.png");
	background-position: -48px -32px !important;
}

.mode-panel {
	width: 255px !important;
	height: 400px;
	box-shadow: 0 0 4px rgba(0 , 0 , 0 , 0.2);
	background-color: white;
}

.mode-panel * {
	color: #777777;
	font-size: 12px;
}

.mode-item {
	float: left;
	width: 110px;
	margin: 0 3.5px 0 14px;
	text-align: center;
	cursor: pointer;
}

.rightItem{
	margin: 0 14px 0 3.5px;
}

.mode-item>img {
	height: 78px;
	width: 110px;
	padding: 3px;
	border: 1px solid #d9d9d9;
	opacity: 0.9;
}

.mode_item_selected>img {
	padding: 2px;
	border: 2px solid #0593d3;
	opacity: 1;
}

.mode-item>div {
	margin-top: 3px;
	line-height: 14px;
	height: 28px;
	overflow: hidden;
}

.mode_item_selected>div {
	color: #0593d3;
}

.scrollbar{
	padding: 16px 0;
}

.mode-image{
	padding: 0 16px;
}

.line-main {
	height: 78px;
	display: flex;
	flex-wrap: wrap;
}

.item-line{
	display: inline-flex;
	height: 100%;
	width: 12px;
	background: url("/assets/img/map/tag_rest.png");
}

.mode_item_selected .item-line{
	background: url("/assets/img/map/tag_select.png");
}

.item-text {
	display: inline-flex;
	margin:0 auto;
	height: 100%;
	max-width: 55px;
	text-align: center;
	align-items:center;
}

.mode_item_selected .item-text {
	color: #0593d3;
}

.item-image {
	display: inline-flex;
	width: 156px;
	height: 100%;
	padding: 3px;
	border: 1px solid #d9d9d9;
	opacity: 0.9;
	cursor: pointer;
}

.mode_item_selected .item-image {
	padding: 2px;
	border: 2px solid #0593d3;
	opacity: 1;
}

.line-bottom {
	height: 20px;
}

#div_layerTree {
	padding: 0;
}

.tree-head {
	display: flex;
	justify-content:space-between;
	line-height: 30px; 
	font-size: 12px; 
	border-bottom: 1px solid #d2d2d2; 
	margin: 0 10px;
}

.tree .iQuery {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    cursor: pointer;
    background: url("/assets/img/map/btn_layer_manage.png");
    background-position: 0px 0px;
}

.tree .iQuery:hover {
  background: url("/assets/img/map/btn_layer_manage.png");
  background-position: 0 -16px;
}

.tree .stats {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    cursor: pointer;
    background: url("/assets/img/map/btn_layer_manage.png");
    background-position: -16px 0px;
}

.tree .stats:hover {
  background: url("/assets/img/map/btn_layer_manage.png");
  background-position: -16px -16px;
}