<nz-spin [nzSpinning]='_isLoading'>
    <article class='doc ogms-responsive-div' style='margin: 24px auto !important;'>
        <div class="doc-title">Data Configuration</div>
        <div class='doc-body'>
            <section>
                <div class='section-header flex-box-row-nowrap'>
                    <span class='title'>Basic information</span>
                    <span class='placeholder flex-item-1-1-auto'></span>
                </div>
                <div *ngIf='msInstance' class='section-body'>
                    <div class='ogms-form-item' nz-row>
                        <span nz-col nzSpan='6'>Name</span>
                        <div nz-col nzSpan='18'>
                            <input nz-input [style.width]='_width' [(ngModel)]='msInstance.meta.name'>
                        </div>
                    </div>
                    <div class='ogms-form-item' nz-row>
                        <span nz-col nzSpan='6'>Description</span>
                        <div nz-col nzSpan='18'>
                            <textarea nz-input [style.width]='_width' [(ngModel)]='msInstance.meta.desc' [nzAutosize]="{minRows: 2, maxRows: 6}"></textarea>
                        </div>
                    </div>
                    <div class='ogms-form-item' nz-row>
                        <span nz-col nzSpan='6'>Authority</span>
                        <div nz-col nzSpan='18'>
                            <nz-radio-group [(ngModel)]="msInstance.auth.src">
                                <label nz-radio-button nzValue="2">Public</label>
                                <label nz-radio-button nzValue="3">Private</label>
                            </nz-radio-group>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class='section-header flex-box-row-nowrap'>
                    <span class='title'>IO</span>
                    <span class='placeholder flex-item-1-1-auto'></span>
                </div>
                <div *ngIf='msInstance' class='section-body'>
                    <ogms-calcu-cfg [msInstance]='msInstance' [width]='_width' (onInstanceChange)='onInstanceChange($event)'></ogms-calcu-cfg>
                </div>
            </section>
            <section>
                <div class='section-header flex-box-row-nowrap'>
                    <span class='title'>Operating</span>
                    <span class='placeholder flex-item-1-1-auto'></span>
                </div>
                <div *ngIf='msInstance' class='section-body'>
                    <button nz-button [nzType]='"primary"' (click)='invoke("save")'>
                        <i class="fa fa-save"></i>Save</button>
                    <button nz-button [nzType]='"primary"' (click)='invoke("invoke")' [disabled]='_disableBtn'>
                        <i class="fa fa-play"></i>Invoke</button>
                </div>
            </section>
        </div>
    </article>
</nz-spin>

<ogms-footer></ogms-footer>
