.compare-map-container{
    height: 100%;
}
.compare-map-menu{
    height: 50px;
    cursor: pointer;
}
.compare-map-menu-span{
    font-size: 12px; 
    line-height: 50px;
    color: black;
}

.compare-map-layer{
    position:relative; 
    height: calc(100% - 50px);
}
#compare-map-contrast{
    display: block; 
    overflow:hidden;
}
#moveableNode{
    top: 0px; 
    left: 50vw; 
    position: absolute;
}

.left-map , .right-map {
    float: left; 
    height: 100%; 
    width: 50%;
}
.left-layerstree{
    position:absolute; 
    left:50px; 
    top:10px;
}
.right-layerstree{
    position:absolute; 
    right:50px; 
    top:10px;
}