<div>
  <nz-card>
    <ng-template #title>
        <div class="font-primary">Spatial</div>
    </ng-template>
    <ng-template #body>
      <div>I am map</div>>
    </ng-template>
  </nz-card>
</div>
<div>
  <nz-card>
    <ng-template #title>
      <div class="font-primary">Time</div>
    </ng-template>
    <ng-template #body>
      <p class="font-second margin-b6">Time Range:</p>
      <p class="font-third margin-b10">1979-01-01 to 2011-01-01</p>
      <p class="font-second margin-b6">Time Step:</p>
      <p class="font-third">One Day</p>
    </ng-template>
  </nz-card>
</div>
<div>
  <nz-card>
    <ng-template #title>
        <div class="font-primary">Variables</div>
    </ng-template>
  </nz-card>
</div>