<!-- <div>
  <nz-card>
    <ng-template #title>
        <div class="font-primary">Spatial</div>
    </ng-template>
    <ng-template #body>
      <div>I am map</div>>
    </ng-template>
  </nz-card>
</div>
<div>
  <nz-card>
    <ng-template #title>
      <div class="font-primary">Time</div>
    </ng-template>
    <ng-template #body>
      <p class="font-second margin-b6">Time Range:</p>
      <p class="font-third margin-b10">1979-01-01 to 2011-01-01</p>
      <p class="font-second margin-b6">Time Step:</p>
      <p class="font-third">One Day</p>
    </ng-template>
  </nz-card>
</div>
<div>
  <nz-card>
    <ng-template #title>
        <div class="font-primary">Variables</div>
    </ng-template>
  </nz-card>
</div> -->

<ogms-doc-detail-template>
  <section class="doc" *ngIf='data'>
    <div class="doc-title">{{data.dataName}}</div>
    <div class="doc-body flex-box-row-nowrap">
      <article class="main-content flex-item-3">
        <section>
          <div class='section-header flex-box-row-nowrap'>
            <span class='title'>Spatial</span>
            <span class='placeholder flex-item-1-1-auto'></span>
          </div>
          <div class='section-body'>
            <dl class='table-info'>
              <div nz-row>
                <dt nz-col [nzSpan]='4'>Area Name</dt>
                <dd nz-col [nzSpan]='8'>Globle</dd>
                <dt nz-col [nzSpan]='4'>Data Source</dt>
                <dd nz-col [nzSpan]='8'>SUN YAT-SEN UNIVERSITY</dd>
                <dt nz-col [nzSpan]='4'>Latitude Range</dt>
                <dd nz-col [nzSpan]='8'>-180,180</dd>
                <dt nz-col [nzSpan]='4'>Longitude Range</dt>
                <dd nz-col [nzSpan]='8'>-90,90</dd>
              </div>
            </dl>
            <div style="margin-top: 20px">
              <ogms-ascii-grid></ogms-ascii-grid>
            </div>
          </div>
        </section>
        <section>
          <div class='section-header flex-box-row-nowrap'>
            <span class='title'>Temporal</span>
            <span class='placeholder flex-item-1-1-auto'></span>
          </div>
          <div class='section-body'>
            <span nz-col [nzSpan]='4' class="time-span-left">Start Date</span>
            <span nz-col [nzSpan]='8' class="time-span-right">1980-01-01</span>
            <span nz-col [nzSpan]='4' class="time-span-left">End Date</span>
            <span nz-col [nzSpan]='8' class="time-span-right">2010-01-01</span>
            <div nz-col [nzSpan]='12' style="padding-top: 8px">
              <nz-calendar [nzValue]="startDate" [nzLocale]="'zh-cn'" [nzFullScreen]="false" style="width: 80%; border: 1px solid rgb(217, 217, 217); border-radius: 4px;"></nz-calendar>
            </div>
            <div nz-col [nzSpan]='12' style="padding-top: 8px">
              <nz-calendar [nzValue]="endDate" [nzLocale]="'zh-cn'" [nzFullScreen]="false" style="width: 80%; border: 1px solid rgb(217, 217, 217); border-radius: 4px;"></nz-calendar>
            </div>
          </div>
        </section>
      </article>
    </div>
  </section>
</ogms-doc-detail-template>
