.font-primary {
    font-size: 18px;
    font-weight: 500;
}

:host ::ng-deep .font-second {
    font-size: 16px;
    font-weight: 400px;
}

:host ::ng-deep .font-third {
    font-size: 14px;
}

:host ::ng-deep .margin-b6 {
    margin-bottom: 6px;
}

:host ::ng-deep .margin-b10 {
    margin-bottom: 10px;
}