<ogms-home-banner></ogms-home-banner>
<div class="home-content">
    <ogms-panel [template]='issueTemplate' [list]='issueList | async' [title]='issueTitle'></ogms-panel>
    <ogms-panel [template]='slnTemplate' [list]='slnList | async' [title]='slnTitle'></ogms-panel>
    <ogms-panel [template]='taskTemplate' [list]='taskList | async' [title]='taskTitle'></ogms-panel>
    <ogms-panel [template]='modelTemplate' [list]='modelList | async' [title]='modelTitle'></ogms-panel>
    <ogms-panel [template]='dataTemplate' [list]='dataList | async' [title]='dataTitle'></ogms-panel>

    <ng-template #issueTemplate>

    </ng-template>

    <ng-template #slnTemplate>

    </ng-template>

    <ng-template #taskTemplate>

    </ng-template>

    <ng-template #modelTemplate>

    </ng-template>

    <ng-template #dataTemplate>

    </ng-template>
</div>
