<div>
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <ogms-home-banner></ogms-home-banner>
        </div>
    </div>
    <div class="home-body">
        <div>
            <ogms-home-issue></ogms-home-issue>
        </div>
        <div>
            <ogms-home-solution></ogms-home-solution>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="18">
                <ogms-home-task></ogms-home-task>
            </div>
            <div nz-col [nzSpan]="6">
                <ogms-home-statistics></ogms-home-statistics>
            </div>
        </div>
        <div>
            <ogms-home-model></ogms-home-model>
        </div>
    </div>
    <ogms-footer></ogms-footer>
</div>