<ng-template #modelTemplate let-model='item'>
    <section class='list-item'>
            <div class='detail-group'>
                <h3><a [routerLink]='model._id'>{{model.auth.nodeName}}/{{model.MDL.meta.name}}</a></h3>
                <p>{{model.MDL.meta.abstract | stringLimit: 180 | description}}</p>
                <p>
                    <mat-chip-list>
                        <mat-chip *ngIf='model.topic' class='topic'>{{model.topic}}</mat-chip>
                    </mat-chip-list>
                </p>
                <div>{{model.auth.nodeName}}</div>
            </div>
            <div class='actions-group'>
                <a [routerLink]='[model._id, "invoke"]'>
                    <mat-icon>play_arrow</mat-icon>
                </a>
                <a>
                    <mat-icon>star</mat-icon>
                    <span>654</span>
                </a>
            </div>
        </section>
</ng-template>

<ogms-list-template 
    [template]='modelTemplate' 
    [service]='service'>
</ogms-list-template>

