<ng-template #modelTemplate let-sln='item'>
    <section class='list-item'>
        <div class='detail-group'>
            <h3>
                <a [routerLink]='sln._id'>{{sln.auth.userName}} / {{sln.meta.name}}</a>
            </h3>
            <p>{{sln.meta.desc | stringLimit: 180 | description}}</p>
            <p>
                <mat-chip-list>
                    <mat-chip *ngFor='let ms of sln.participants' [routerLink]='["/models", ms._id]' class='topic model-topic'>{{ms.MDL.meta.name}}</mat-chip>
                </mat-chip-list>
            </p>
            <div>{{sln.meta.time | date: 'yyyy-MM-dd'}}</div>
        </div>
        <div class='actions-group'>
            <a [routerLink]='[sln._id, "invoke"]'>
                <mat-icon>play_arrow</mat-icon>
            </a>
            <a>
                <mat-icon>star</mat-icon>
                <span>654</span>
            </a>
        </div>
    </section>
</ng-template>

<ogms-list-template [template]='modelTemplate' [service]='solutionService'></ogms-list-template>

<button id='create-btn' routerLink='/comparison/solutions/create' mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>