<div nz-card-grid>
    <div>
        <div nz-row class="row">
            <nz-avatar nzText="S" nzSize="small" class="avatar"></nz-avatar>
            <span class="name">{{solution.name}}</span>
        </div>
        <div nz-row class="desc row">
            <span>{{solution.desc}}</span>
        </div>
        <div nz-row>
            <div nz-col nzSpan="6">
                <i class="anticon anticon-user"></i>
                <span>{{solution.author}}</span>
            </div>
            <div nz-col nzSpan="12"></div>
            <div nz-col nzSpan="6">
                <i class="anticon anticon-star"></i>
                <span class="favor-number">34</span>
            </div>
        </div>
    </div>
</div>