.row {
    padding-bottom: 8px; 
}

.avatar {
    color: white; 
    background-color:#9150e7;
}

.name {
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    margin-left: 8px;
    transition: all .3s;
    display: inline-block;
}

.desc {
    color: rgb(148, 148, 148);
}

.favor-number {
    margin-left: 6px;
}