<div class="home-statistics-main">
  <div class="home-statistics-card">
    <nz-card>
      <ng-template #title>
        <div class="title">ModelStatistics</div>
      </ng-template>
      <ng-template #body>
        <p>Statistic content</p>
        <p>Statistic content</p>
        <p>Statistic content</p>
      </ng-template>
    </nz-card>
  </div>
  <div class="home-statistics-card">
    <nz-card>
      <ng-template #title>
          <div class="title">FeatureStatistics</div>
      </ng-template>
      <ng-template #body>
        <p>Statistic content</p>
        <p>Statistic content</p>
        <p>Statistic content</p>
      </ng-template>
    </nz-card>
  </div>
  <div class="home-statistics-card">
    <nz-card>
      <ng-template #title>
        <div class="title">RegionStatistics</div>
      </ng-template>
      <ng-template #body>
        <p>Statistic content</p>
        <p>Statistic content</p>
        <p>Statistic content</p>
      </ng-template>
    </nz-card>
  </div>
</div>