<div class="home-statistics-main">
  <div class="home-statistics-card">
      <nz-card  [nzBordered]="false">
        <ng-template #title>
          ModelStatistics
        </ng-template>
        <ng-template #body>
            <!-- <img class="img-center" alt="example" height="180px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516308656407&di=95c5b0c87800e23b3572ed5042306489&imgtype=0&src=http%3A%2F%2Ffiles.jb51.net%2Ffile_images%2Farticle%2F201706%2F201769141057288.png%3F201759141130"/> -->
        </ng-template>
      </nz-card>
    </div>
    <div class="home-statistics-card">
      <nz-card [nzBordered]="false">
        <ng-template #title>
          FeatureStatistics
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>
    <div class="home-statistics-card">
      <nz-card [nzBordered]="false">
        <ng-template #title>
          RegionStatistics
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>  
</div>
