.home-statistics-main {
    height: 750px;
    .title {
        font-size: 18px;
        font-weight: 450;
    }
}

.home-statistics-card {
    padding: 16px;
    height: 250px;
}

:host ::ng-deep .ant-card-head {
    background: #f3f3f3
}

// .home-statistics-card {
//     width: 100%;
// }