<div class="home-statistics-main">
  <div class="home-statistics-card">
      <nz-card  [nzBordered]="false">
        <ng-template #title>
          ModelStatistics
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>
    <div class="home-statistics-card">
      <nz-card [nzBordered]="false">
        <ng-template #title>
          FeatureStatistics
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>
    <div class="home-statistics-card">
      <nz-card [nzBordered]="false">
        <ng-template #title>
          RegionStatistics
        </ng-template>
        <ng-template #body>
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </ng-template>
      </nz-card>
    </div>  
</div>
