.list-box {
    margin: 20px 0;

    .list-header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        @media (max-width: 768px) {
            .stat-span {
                flex: 1 1 100%;
            }
        }
    }

    .list-template-item {
        padding: 18px 0;
        border-top: 1px #e1e4e8 solid;

        /deep/.list-item {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            justify-content: flex-start;

            &>div {
                padding-right: 16px;
            }

            .detail-group {
                @media (max-width: 539px) {
                    flex: 1 1 100%;
                }

                @media (min-width:540px) {
                    flex: 1 1 65%;
                }
            }
            .tag-group {
                @media (max-width: 539px) {
                    flex: 1 1 100%;
                }

                @media (min-width:540px) {
                    flex: 1 1 25%;
                }
            }
            .actions-group {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: flex-start;
                font-size: 14px;
                line-height: 1.5;

                .actions {
                    flex: 1;
                    display: flex;
                    cursor: pointer;
                    &:last-child {
                        justify-content: flex-end;
                    }
                }

                @media (max-width:539px) {
                    flex: 1 1 100%;
                    justify-content: flex-start;
                    margin-top: 1em;
                }

                @media (min-width:540px) {
                    flex: 1 1 10%;
                }
            }
        }
    }
}

#nav-filter-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    mat-button-toggle-group {
        border: 1px solid #2196f3;

        mat-button-toggle {
            color: #2196f3;

            &.mat-button-toggle-checked {
                background: #e4e6f2;
            }

            &:first-child {
                border-right: 1px solid #2196f3;
            }
        }
    }

    #search-btn-group {
        width: 400px;

        mat-form-field {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        >mat-form-field {
            flex: 1 1 100%;
        }
    }
}
