<form nz-form>
  <div nz-row [nzGutter]="10">
    <div nz-col nz-row [nzSpan]="14">
      <nz-input nz-col [nzSpan]="20" type="text" [nzPlaceHolder]="'选择文件'" (click)="selectFiles()" [ngModel]="upload_input.value" name="'fname'">
        <!-- <ng-template #suffix>
        </ng-template> -->
      </nz-input>
      <i nz-col (click)="clearFiles()" id="clear-icon" class="anticon anticon-close-circle" [class.hidden]="_isDisabled"></i>
    </div>
    <div nz-col [nzSpan]="4">
      <button nz-button [nzType]="'primary'" (click)="selectFiles()"><span>浏览</span></button>
      <input #upload_input id="upload" name="{{fname}}" type="file" (change)="handleFiles(upload_input.files)" class="hidden">
    </div>
    <div nz-col [nzSpan]="4">
      <button nz-button [nzType]="'primary'" (click)="startUpload()" [disabled]="_isDisabled"><span>上传</span></button>
    </div>
  </div>

  <div nz-row [nzGutter]="10">

  </div>
</form>
