<li *ngIf="(subMenu && subMenu.path && subMenu.data) else divider" nz-submenu>
    <span title>
        <span *ngIf="(subMenu.disabled === true) else linker" class="disabled-menu-item">
            <i *ngIf="subMenu.data && subMenu.data.menu && subMenu.data.menu.icon" class="anticon anticon-{{subMenu.data.menu.icon}}"></i> 
            {{subMenu.data.menu.title}}
        </span>
    <ng-template #linker>
        <a routerLink="{{subMenu.path}}" routerLinkActive="active">
            <i *ngIf="subMenu.data && subMenu.data.menu && subMenu.data.menu.icon" class="anticon anticon-{{subMenu.data.menu.icon}}"></i> {{subMenu.data.menu.title}}
        </a>
    </ng-template>
    </span>
    <ul *ngIf="subMenu.children">
        <ogms-subMenu *ngFor="let subMenu of subMenu.children" class="ant-menu-submenu ant-menu-submenu-horizontal" [subMenu]="subMenu"></ogms-subMenu>
    </ul>
</li>

<ng-template #divider>
    <li nz-menu-item-divider></li>
</ng-template>