<div>
    <div class='panel-title'>
        <a [routerLink]='title.url'>{{title.label}}</a>
        <!-- <mat-icon routerLink='/topics/create'>add</mat-icon> -->
    </div>
    <div class='panel-body'>
        <ng-container *ngIf='template && list'>
            <ng-container *ngFor='let item of list.docs'>
                <ng-container [ngTemplateOutlet]='template' [ngTemplateOutletContext]='{item: item}'></ng-container>
            </ng-container>
            <div *ngIf='list.count==0'>
                    <div class="blankslate ">
                        <span octicon="alert" width="32" class="blankslate-icon"></span> 
                        <h3>{{title.label}} is empty.</h3>
                        <p>Looking forward to your joining.</p>
                    </div>
                </div>
        </ng-container>
        <!-- 若列表为空则显示 blankslate -->
        
    </div>
</div>
