<div id="container" (window:resize)="onResize($event)">
    <!-- table -->
    <ng-container *ngIf='visualType === 1'>
        <!-- <hot-table *ngIf='njTable.hotTableCfg.loading === false' height='500' [contextMenu]='njTable.hotTableCfg.contextMenu' [hotId]='njTable.hotTableCfg.instance' [rowHeaders]='true' [colHeaders]='true' [settings]='njTable.hotTableCfg.settings' [columns]='njTable.hotTableCfg.cols' -->
        <hot-table *ngIf='njTable.hotTableCfg.loading === false' height='500' [hotId]='njTable.hotTableCfg.instance' [rowHeaders]='true' [colHeaders]='true' [settings]='njTable.hotTableCfg.settings' [columns]='njTable.hotTableCfg.cols' [data]='njTable.hotTableCfg.data'></hot-table>

        <nz-modal [nzVisible]="showDiagramModal" [nzTitle]='title' [nzContent]='content' [nzFooter]='footer' (nzOnCancel)='cancelDiagramModal($event)' (nzOnOk)='submitDiagramModal($event)'>
            <ng-template #title>
                <span>Diagram configuration</span>
            </ng-template>
            <ng-template #content>
                <div nz-row [nzGutter]='16' class='line-H'>
                    <label nz-col [nzSpan]='5'>Display Type: </label>
                    <nz-select nz-col [nzSpan]='16' [(ngModel)]="selectedDiagramType" (ngModelChange)='checkChartCfg()' nzAllowClear>
                        <nz-option *ngFor="let option of chartTypeOptions" [nzLabel]="option.label" [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
                <div nz-row [nzGutter]='16' class='line-H'>
                    <label nz-col [nzSpan]='5'>X Axis: </label>
                    <nz-select nz-col [nzSpan]='16' [(ngModel)]="selectedXAxis" (ngModelChange)='checkChartCfg()' nzAllowClear>
                        <nz-option *ngFor="let option of _xAxisOptions" [nzLabel]="option.label" [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
                <div nz-row [nzGutter]='16' class='line-H'>
                    <label nz-col [nzSpan]='5'>Y Axis: </label>
                    <nz-checkbox-group nz-col [nzSpan]='16' [(ngModel)]="_yAxisOptions" (ngModelChange)="checkChartCfg()"></nz-checkbox-group>
                </div>
            </ng-template>
            <ng-template #footer>
                <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="cancelDiagramModal($event)">
                Cancel
            </button>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="submitDiagramModal($event)" [disabled]='!_canSubmit'>
                Submit
            </button>
            </ng-template>
        </nz-modal>
    </ng-container>

    <!-- diagram -->
    <ng-container *ngIf='visualType === 2'>
        <ng-container *ngIf='selectedDiagramId != undefined'>
            <echarts-ng2 #echarts [option]="selectedDiagramOpt"></echarts-ng2>
        </ng-container>
    </ng-container>

    <!-- map -->
    <ng-container *ngIf='visualType === 3'>
        <router-outlet></router-outlet>
    </ng-container>
    <router-outlet></router-outlet>
</div>

<button nz-button [nzType]="'default'">
    <span>Previous</span>
</button>

<!-- <ba-file-uploader nz-col [nzSpan]='12' [fileUploaderOptions]="fileUploaderOptions"></ba-file-uploader> -->