.container {
    padding: 10px;
    box-sizing: border-box;
    // overflow: scroll;
    #left-item {
        // border-radius: 4px;
        padding: 10px;
        height: 100%;
        flex: 1;
        margin-right: 10px;
    }
    #right-item {
        // border-radius: 4px;
        padding: 10px;
        height: 100%;
        flex: 4;
        overflow: scroll;
    }
}