<ul *ngIf='menuCfg' nz-menu [nzMode]="'vertical'" id='id' (click)='hideContextMenu($event)'>
    <ng-container *ngFor='let subMenu of menuCfg'>
        <li nz-submenu *ngIf='subMenu.type === 1'>
            <span title><i *ngIf='subMenu.icon' class='anticon anticon-{{subMenu.icon}}'></i>{{subMenu.title}}</span>
            <app-right-click-menu [id]='subMenu.title + "-children"' [menuCfg]='subMenu.children'></app-right-click-menu>
        </li>
        <li nz-menu-item *ngIf='subMenu.type === 2' (click)='publishClick(subMenu.callback)'>
            {{subMenu.title}}
        </li>
    </ng-container>
</ul>