$width: 620px;
$dividerColor: #d2d2d2;
.form-container {
    padding-bottom: 20px;
    margin: 0 30px 35px;
    &.ms-list-group,
    &.basic-info-group {
        width: $width;
    }
}

.form-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    >* {
        width: 100%; // align-items: center;
        flex: 1;
    }
    &.auth-group {
        label {
            flex: 0 1 30%;
        }
        mat-button-toggle-group {
            flex: 1 1 70%;
            display: flex;
            mat-button-toggle {
                flex: 1 1 auto;
            }
        }
    }
}

mat-form-field {
    display: inline-block !important;
}

// .form-item.use-default-width {
//     >* {
//         width: $width;
//     }
// }

.stepy-btn-group {
    margin: 20px 0;
    >button:not(:last-child) {
        margin-right: 35px;
    }
}

.cmpObj-form-container{
    position: relative;
    &:not(:last-child) {
        border-bottom: 1px dashed $dividerColor;
    }
    
    .close-tag {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 15px;
        cursor: pointer;
        &:hover {
            filter: drop-shadow(0 0 0 black);
        }
    }
}

#add-cmpObj-btn {
    padding: 10px 0;
    border: 1px dashed $dividerColor;
    border-left: none;
    border-right: none;
}
