<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<div *ngIf='slnFG else loadingTemp'>
    <article ogms-rx-box>
        <h2>Create Comparison Solution</h2>
        <div class="container flex-box-col-nowrap max-size">
            <form [formGroup]='slnFG'>
                <mat-horizontal-stepper linear #stepper>
                    <mat-step>
                        <ng-template matStepLabel>Basic Information</ng-template>
                        <div class='form-container basic-info-group'>
                            <mat-form-field class='form-item'>
                                <input matInput placeholder='Solution name' formControlName='name' required>
                                <!-- <mat-hint>please input solution name</mat-hint> -->
                                <mat-error *ngIf='slnFG.get("name").hasError("required")'>必填</mat-error>
                                <mat-error *ngIf='slnFG.get("name").hasError("minLength")'>最小长度</mat-error>
                                <mat-error *ngIf='slnFG.get("name").hasError("maxLength")'>最大长度</mat-error>
                            </mat-form-field>

                            <mat-form-field class='form-item'>
                                <textarea matInput placeholder='Solution description' formControlName='desc' required></textarea>
                                <!-- <mat-hint>please input solution description</mat-hint> -->
                                <mat-error *ngIf='slnFG.get("desc").hasError("required")'>必填</mat-error>
                                <mat-error *ngIf='slnFG.get("desc").hasError("minLength")'>最小长度</mat-error>
                                <mat-error *ngIf='slnFG.get("desc").hasError("maxLength")'>最大长度</mat-error>
                            </mat-form-field>

                            <div class='form-item auth-group'>
                                <label>Authorition: </label>
                                <mat-button-toggle-group formControlName='auth' required>
                                    <mat-button-toggle value='PRIVATE'>Private</mat-button-toggle>
                                    <mat-button-toggle value='PUBLIC'>Public</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class='stepy-btn-group'>
                            <button mat-stroked-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Select Participants</ng-template>
                        <ng-container *ngIf='!mss else msListTemplate'>
                            <mat-spinner></mat-spinner>
                        </ng-container>
                        <ng-template #msListTemplate>
                            <div class='form-container ms-list-group'>
                                <div class='form-item use-default-width'>
                                    <!-- TODO 这里最好再把模型列表按照可参与对比的类型分类，否则选择的几个模型毫无关联可能会出错 -->
                                    <mat-selection-list formControlName='participants' (selectionChange)='onParticipantsChange()'>
                                        <mat-list-option *ngFor='let ms of mss' [value]='ms'>
                                            {{ms.MDL.meta.name}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                    <!-- <p>Options selected: {{mss.selectedOptions.selected.length}}</p> -->
                                </div>
                            </div>
                        </ng-template>
                        <div class='stepy-btn-group'>
                            <button mat-stroked-button matStepperPrevious color="primary">Back</button>
                            <button mat-stroked-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Add Comparison Feature</ng-template>
                        <ng-container *ngIf='!cmpMethods || cmpMethods.length === 0 else cmpObjsTemplate'>
                            <mat-spinner></mat-spinner>
                        </ng-container>
                        <ng-template #cmpObjsTemplate>
                            <div formArrayName='cmpObjs'>
                                <ng-container *ngIf='cmpObjs.controls?.length === 0 else cmpObjCfgTemplate'>
                                    <p>
                                        <i>No comparison configuration</i>
                                    </p>
                                </ng-container>
                                <ng-template #cmpObjCfgTemplate>
                                    <div>
                                        <div class='form-container cmpObj-form-container' *ngFor='let cmpObj of cmpObjs.controls; let i=index;'>
                                            <ogms-cmp-obj-cfg [methods]='cmpMethods' [formControlName]='i'
                                                [participants]='participants.value'></ogms-cmp-obj-cfg>

                                            <span class='close-tag' (click)='removeCmpObj(i)'>
                                                <mat-icon>cancel</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <div class='flex-box-row-nowrap form-item' id='add-cmpObj-btn'>
                                    <button mat-stroked-button color='primary' class='flex-item-1-1-auto' (click)='addCmpObj()'
                                        [disabled]='participantsNum === 0'>
                                        <mat-icon>add</mat-icon>
                                        <span>Add comparison feature</span>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                        <div class='stepy-btn-group'>
                            <button mat-stroked-button matStepperPrevious color="primary">Back</button>
                            <button mat-stroked-button matStepperNext color="primary">Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Preview outline</ng-template>
                        <div class='form-container'>
                            <ogms-cmp-sln-outline [solution]='solution'></ogms-cmp-sln-outline>
                        </div>
                        <div class='stepy-btn-group'>
                            <button mat-stroked-button matStepperPrevious color="primary">Back</button>
                            <button mat-stroked-button color="primary" (click)="submitSln()" [disabled]='!slnFG.valid'
                                cdkFocusInitial>Submit</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
    </article>
</div>
