<div class='ogms-responsive-div' style='margin-top: 24px !important'>
    <div *ngIf='list else listTemplate'>
        <div class='flex-box-row-nowrap'>
            <ng-container *ngIf='withCreateBtn'>
                <button routerLink='new' nz-button nzType='primary' [nzSize]='"large"' style='margin: 0 10px 0 0;'>Create</button>
            </ng-container>
            <nz-radio-group *ngIf='ownerFilter' [ngModel]='_ownerFilterV' [nzSize]='"large"' (ngModelChange)='changeFilters($event, "owner")'>
                <label nz-radio-button *ngFor='let item of ownerFilter' [nzValue]='item.value'>{{item.label}}</label>
            </nz-radio-group>
            <span class='flex-item-1-1-auto'></span>
            <div style='width: 400px;'>
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton" [nzSize]='"large"'>
                    <input type="text" nz-input placeholder="Search" [(ngModel)]="filters.q" (nzOnSearch)="onSearch()">
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch (click)='onSearch()' [nzSize]='"large"'>
                        <i class="anticon anticon-search"></i>
                    </button>
                </ng-template>
            </div>
        </div>
        <div class='list-box'>
            <div class='flex-box-row-nowrap list-header'>
                <span>{{list.length}} items found</span>
                <span class='flex-item-1-1-auto'></span>

                <ng-container *ngFor='let filter of otherFilters'>
                    <span class='dropdown-filter'>
                        <nz-dropdown [nzTrigger]="'click'">
                            <span class="ant-dropdown-link" nz-dropdown>
                                {{filter.label}}&nbsp;&nbsp;
                                <i class="anticon anticon-down"></i>
                            </span>
                            <ul nz-menu>
                                <li class='filter-li' nz-menu-item *ngFor='let item of filter.options' (click)='changeFilters(item.value, filter.value)'>
                                    <span class='checked-label'>
                                        <i *ngIf='item.checked' class="anticon anticon-check"></i>
                                    </span>
                                    <span>{{item.label}}</span>
                                </li>
                            </ul>
                        </nz-dropdown>
                    </span>
                </ng-container>
            </div>

            <ng-container *ngIf='template && list'>
                <ng-container *ngFor='let item of list'>
                    <div class='list-template-item'>
                        <ng-template [ngTemplateOutlet]='template' [ngTemplateOutletContext]='{item: item}'></ng-template>
                    </div>
                </ng-container>
            </ng-container>

        </div>
        <div class='flex-box-row-nowrap'>
            <span class='flex-item-1-1-auto'></span>
            <nz-pagination *ngIf='count> 25' [nzPageIndex]="filters.pageNum" (nzPageIndexChange)='setPageNum($event)' [nzPageSize]='filters.pageSize'
                (nzPageSizeChange)='setPageSize($event)' [nzTotal]="count"></nz-pagination>
            <span class='flex-item-1-1-auto'></span>
        </div>
    </div>
    <ng-template #listTemplate>
        <div style='width: 100%;'>
            <nz-spin [nzSize]='"large"'></nz-spin>
        </div>
    </ng-template>
</div>
