<div class='container'>
    <div class='flex-box-row-nowrap'>
        <nz-radio-group *ngIf='owner' [ngModel]='owner[0].value' [nzSize]='"large"' (ngModelChange)='changeFilters($event, "owner")'>
            <label nz-radio-button *ngFor='let item of owner' [nzValue]='item.value'>
                <span>{{item.label}}</span>
            </label>
        </nz-radio-group>
        <span class='flex-item-1-1-auto'></span>
        <nz-input [nzType]="'search'" [nzSize]='"large"' [nzPlaceHolder]="'Search'" [(ngModel)]="filters.q" style="width: 400px;" (nzOnSearch)="onSearch()"></nz-input>
    </div>
    <div class='list-box'>
        <div class='flex-box-row-nowrap list-header'>
            <span>{{list.length}} items found</span>
            <span class='flex-item-1-1-auto'></span>
            <span *ngIf='organization' class='dropdown-filter'>
                    <nz-dropdown [nzTrigger]="'click'">
                        <span class="ant-dropdown-link" nz-dropdown>
                            Organization&nbsp;&nbsp;<i class="anticon anticon-down"></i>
                        </span>
            <ul nz-menu>
                <li nz-menu-item *ngFor='let item of organization' (click)='changeFilters(item.value, "organization")'>
                    <span class='checked-label'>
                        <i *ngIf='item.checked' class="anticon anticon-check"></i>
                    </span>
                    <span>{{item.label}}</span>
                </li>
            </ul>
            </nz-dropdown>
            </span>
            <span *ngIf='sort' class='dropdown-filter'>
                <nz-dropdown [nzTrigger]="'click'">
                    <span class="ant-dropdown-link" nz-dropdown>
                        Sort&nbsp;&nbsp;<i class="anticon anticon-down"></i>
                    </span>
            <ul nz-menu>
                <li nz-menu-item *ngFor='let item of sort' (click)='changeFilters(item.value, "sort")'>
                    <span class='checked-label'>
                        <i *ngIf='item.checked' class="anticon anticon-check"></i>
                    </span>
                    <span>{{item.label}}</span>
                </li>
            </ul>
            </nz-dropdown>
            </span>
        </div>

        <ng-container *ngIf='template && list'>
            <ng-container *ngFor='let item of list'>
                <div class='list-item'>
                    <ng-template [ngTemplateOutlet]='template' [ngTemplateOutletContext]='{item: item}'></ng-template>
                </div>
            </ng-container>
        </ng-container>

    </div>
    <div class='flex-box-row-nowrap'>
        <span class='flex-item-1-1-auto'></span>
        <nz-pagination *ngIf='count> 25' [nzPageIndex]="filters.pageNum" (nzPageIndexChange)='setPageNum($event)' [nzPageSize]='filters.pageSize' (nzPageSizeChange)='setPageSize($event)' [nzTotal]="count"></nz-pagination>
        <span class='flex-item-1-1-auto'></span>
    </div>
</div>