<!-- <ul nz-menu [nzMode]="'horizontal'">
    <li nz-submenu>
        <span title>
            <a routerLink="./main-window" routerLinkActive="active">
                <i class="anticon anticon-appstore"></i> Navigation Two
            </a>
        </span>
        <ul>
            <li nz-submenu>
                <span title>
                    <a routerLink="./a" routerLinkActive="active">
                        <i class="anticon anticon-appstore"></i> Navigation Two
                    </a>
                </span>
                <ul>
                    <li nz-submenu>
                        <span title>
                            <a routerLink="a" routerLinkActive="active">
                                <i class="anticon anticon-appstore"></i> Navigation Two
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-submenu>
        <span title>
            <a routerLink="./main-window" routerLinkActive="active">
                <i class="anticon anticon-appstore"></i> Navigation Two
            </a>
        </span>
        <ul>
            <li nz-submenu>
                <span title>
                    <a routerLink="./a" routerLinkActive="active">
                        <i class="anticon anticon-appstore"></i> Navigation Two
                    </a>
                </span>
                <ul>
                    <li nz-submenu>
                        <span title>
                            <a routerLink="a" routerLinkActive="active">
                                <i class="anticon anticon-appstore"></i> Navigation Two
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-submenu>
        <span title>
            <a routerLink="./main-window" routerLinkActive="active">
                <i class="anticon anticon-appstore"></i> Navigation Two
            </a>
        </span>
        <ul>
            <li nz-submenu>
                <span title>
                    <a routerLink="./a" routerLinkActive="active">
                        <i class="anticon anticon-appstore"></i> Navigation Two
                    </a>
                </span>
                <ul>
                    <li nz-submenu>
                        <span title>
                            <a routerLink="a" routerLinkActive="active">
                                <i class="anticon anticon-appstore"></i> Navigation Two
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul> -->


<ul id='nav-menu' nz-menu [nzMode]="'horizontal'">
    <ogms-subMenu *ngFor="let menuItem of menuItems" [isRoot]='true' class="ant-menu-submenu ant-menu-submenu-horizontal" [subMenu]="menuItem"></ogms-subMenu>
</ul>