<div ogms-rx-box>
    <section class="doc" *ngIf='ms'>
        <div class="doc-title">{{ms.MDL.meta.name}}</div>
        <div class="doc-body">
            <article class="article">
                <section>
                    <div class="section-header flex-box-row-nowrap">
                        <span class="title">Basic Information</span>
                        <span class="flex-spacer"></span>
                    </div>
                    <div class="section-body">
                        <dl class="ogms-table-info">
                            <dt>Full Name</dt>
                            <dd>{{ms.MDL.meta.name}}</dd>
                            <dt>Organization</dt>
                            <dd>OpenGMS</dd>
                            <dt>Type</dt>
                            <dd>Carbon Globle</dd>
                            <dt>Create Time</dt>
                            <dd>2018-01-01</dd>
                        </dl>
                        <div class='detail-desc'>
                            {{ms.MDL.meta.abstract}}
                        </div>
                    </div>
                </section>
                <section>
                    <div class="section-header flex-box-row-nowrap">
                        <span class="title">Detail Information</span>
                        <span class="flex-spacer"></span>
                    </div>
                    <div class="section-body">
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    </div>
                </section>
                <section>
                    <div class="section-header flex-box-row-nowrap">
                        <span class="title">IO Feature Info</span>
                        <span class="flex-spacer"></span>
                    </div>
                    <div class="section-body">
                        <div>
                            <div style="margin-bottom: 16px;">
                                <button mat-button [disabled]="_disabledButton" color="'primary'" (click)="_operateData(_ioDataset)">Operating</button>
                                <span style="margin-left: 8px;" *ngIf="_checkedNumber">Selected {{_checkedNumber}}
                                    items</span>
                            </div>
                            <!-- <table mat-table [dataSource]='_ioDataset'>

                            </table> -->
                            <!-- <nz-table #nzTable [nzData]="_ioDataSet" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)"
                                (nzPageIndexChange)="_refreshStatus(_ioDataset)" (nzPageSizeChange)="_refreshStatus(_ioDataset)">
                                <thead nz-thead>
                                    <tr>
                                        <th nz-th nzCheckbox>
                                            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
                                                (ngModelChange)="_checkAll($event, _ioDataset)">
                                            </label>
                                        </th>
                                        <th nz-th>
                                            <span>Name</span>
                                        </th>

                                        <th nz-th>
                                            <span>Description</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody nz-tbody>
                                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                                        <td nz-td nzCheckbox>
                                            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus(_ioDataset)">
                                            </label>
                                        </td>
                                        <td nz-td>{{data.id}}</td>
                                        <td nz-td>{{data.description}}</td>
                                    </tr>
                                </tbody>
                            </nz-table> -->
                        </div>
                    </div>
                </section>
                <section>
                    <div class="section-header flex-box-row-nowrap">
                        <span class="title">Parameter Info</span>
                        <span class="flex-spacer"></span>
                    </div>
                    <div class="section-body">
                    </div>
                </section>
            </article>
            <aside class="sider-content">

            </aside>
        </div>
    </section>
</div>
