<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ogms-detail-layout *ngIf='ms else loadingTemp'>
    <p class="top_title h1">Model Info</p>
    <div class='header Subhead mt-0 mb-3'>
        <h2 class='Subhead-heading'>{{ms.MDL.meta.name}}</h2>
    </div>

    <div class="article">
        <mat-tab-group (selectedIndexChange)='onTabChange($event)'>
            <mat-tab label="Wiki">
                <dl class="ogms-dl-group my-3 clearfix">
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Full Name</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>{{ms.MDL.meta.name}}</dd>
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Organization</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>OpenGMS</dd>
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Type</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>{{ms.tag}}</dd>
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Create Time</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>{{ms.MDL.meta.time | date: 'yyyy-MM-dd'}}</dd>
                </dl>
                <div class='markdown-body'>
                    <p [innerHTML] = "ms.MDL.meta.wikiHTML"></p> 
                </div>
            </mat-tab>

            <mat-tab label="Input & Output">
                <h3 class='h4 mt-3'>Inputs</h3>
                <table *ngIf='inputs && inputs.length else noInputsTemp' mat-table [dataSource]='inputs' class='mb-3 col-12'>
                    <ng-container matColumnDef='name'>
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef='let element'>{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef='description'>
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef='let element'>{{element.description | undefined}}</td>
                    </ng-container>

                    <ng-container matColumnDef='schemaId'>
                        <th mat-header-cell *matHeaderCellDef>Data schema</th>
                        <td mat-cell *matCellDef='let element'>{{element.schemaId}}</td>
                    </ng-container>

                    <ng-container matColumnDef='ext'>
                        <th mat-header-cell *matHeaderCellDef>Data format</th>
                        <td mat-cell *matCellDef='let element'>{{element.ext | undefined}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
                </table>
                <ng-template #noInputsTemp>
                    <p class='mt-2 mb-3'><i>No inputs</i></p>
                </ng-template>

                <h3 class='h4 mt-3'>Parameters</h3>
                <table *ngIf='parameters && parameters.length else noParasTemp' mat-table [dataSource]='parameters'
                    class='mb-3 col-12'>
                    <ng-container matColumnDef='name'>
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef='let element'>{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef='description'>
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef='let element'>{{element.description | undefined}}</td>
                    </ng-container>

                    <ng-container matColumnDef='schemaId'>
                        <th mat-header-cell *matHeaderCellDef>Data schema</th>
                        <td mat-cell *matCellDef='let element'>{{element.schemaId}}</td>
                    </ng-container>

                    <ng-container matColumnDef='ext'>
                        <th mat-header-cell *matHeaderCellDef>Data format</th>
                        <td mat-cell *matCellDef='let element'>{{element.ext | undefined}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
                </table>
                <ng-template #noParasTemp>
                    <p class='mt-2 mb-3'><i>No parameters</i></p>
                </ng-template>


                <h3 class='h4 mt-3'>Outputs</h3>
                <table *ngIf='outputs && outputs.length else noOutputsTemp' mat-table [dataSource]='outputs' class='mb-3 col-12'>
                    <ng-container matColumnDef='name'>
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef='let element'>{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef='description'>
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef='let element'>{{element.description | undefined}}</td>
                    </ng-container>

                    <ng-container matColumnDef='schemaId'>
                        <th mat-header-cell *matHeaderCellDef>Data schema</th>
                        <td mat-cell *matCellDef='let element'>{{element.schemaId}}</td>
                    </ng-container>

                    <ng-container matColumnDef='ext'>
                        <th mat-header-cell *matHeaderCellDef>Data format</th>
                        <td mat-cell *matCellDef='let element'>{{element.ext | undefined}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
                </table>
                <ng-template #noOutputsTemp>
                    <p class='mt-2 mb-3'><i>No outputs</i></p>
                </ng-template>
            </mat-tab>

            <mat-tab label="Conversation">
                <div *ngIf='!conversation' class='col-12 d-flex flex-justify-center flex-items-center' style='height: 350px'>
                    <mat-spinner></mat-spinner>
                </div>
                <ogms-conversation *ngIf='conversation' [ngModel]='conversation'></ogms-conversation>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="aside">
        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Calculation records
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>
                    <ng-container *ngIf='calcuTasks && calcuTasks.length else noTopicTemp'>
                        <ul class='aside-ul with-route'>
                            <li *ngFor='let calcuTask of calcuTasks' [routerLink]='["../../results/calculation", calcuTask._id]'>
                                {{calcuTask?.auth?.userName}} / {{calcuTask.meta.name}}
                            </li>
                        </ul> 
                    </ng-container>
                    <ng-template #noTopicTemp>
                        <i>No related calculation record.</i>
                    </ng-template>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Solutions
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>
                    <ul *ngIf='solutions' class='aside-ul with-route'>
                        <li *ngFor='let sln of solutions' [routerLink]='["../../comparison/solutions", sln._id]'>
                            {{sln?.auth?.userName}} / {{sln.meta.name}}
                        </li>
                    </ul>
                    <ng-container *ngIf='!solutions'>
                        <i>No relate solution.</i>
                    </ng-container>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    {{users.length}} participants
                </div>
                <div class='body participants'>
                    <ng-container *ngFor='let user of users'>
                        <img [attr.src]='user.avator'>
                    </ng-container>
                </div>
            </ogms-sidebar-section>
        </div>

        <div *ngIf='user'>
            <ogms-sidebar-section>
                <div class='title'>
                    Notifications
                </div>
                <div class='body notification'>
                    <button mat-stroked-button (click)='onSubscribeToggle()'>
                        <ng-container *ngIf='includeUser else noticeTemp'>
                            <mat-icon inline>notifications_off</mat-icon>&nbsp;<span>Unsubscribe</span>
                        </ng-container>
                        <ng-template #noticeTemp>
                            <mat-icon inline>notifications</mat-icon>&nbsp;<span>Subscribe</span>
                        </ng-template>
                    </button>
                </div>
            </ogms-sidebar-section>
        </div>
    </div>
</ogms-detail-layout>
