<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ogms-detail-layout *ngIf='ms else loadingTemp'>
    <div class='header Subhead mt-0 mb-3'>
        <h2 class='Subhead-heading'>{{ms.MDL.meta.name}}</h2>
    </div>

    <div class="article">
        <mat-tab-group (selectedIndexChange)='onTabChange($event)'>
            <mat-tab label="Wiki">
                <dl class="ogms-dl-group my-3 clearfix">
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Full Name</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>{{ms.MDL.meta.name}}</dd>
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Organization</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>OpenGMS</dd>
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Type</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>{{ms.tag}}</dd>
                    <dt class='pb-1 mb-1 col-2 float-left px-3 text-bold text-gray'>Create Time</dt>
                    <dd class='pb-1 mb-1 col-4 float-left'>{{ms.MDL.meta.time | date: 'yyyy-MM-dd'}}</dd>
                </dl>
                <div class='markdown-body'>
                    {{ms.MDL.meta.abstract}}
                </div>
            </mat-tab>

            <mat-tab label="Input & Output">
                <h3 class='h4 mt-3'>Inputs</h3>
                <table *ngIf='inputs && inputs.length else noInputsTemp' mat-table [dataSource]='inputs' class='mb-3 col-12'>
                    <ng-container matColumnDef='name'>
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef='let element'>{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef='description'>
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef='let element'>{{element.description | undefined}}</td>
                    </ng-container>

                    <ng-container matColumnDef='schemaId'>
                        <th mat-header-cell *matHeaderCellDef>Data schema</th>
                        <td mat-cell *matCellDef='let element'>{{element.schemaId}}</td>
                    </ng-container>

                    <ng-container matColumnDef='ext'>
                        <th mat-header-cell *matHeaderCellDef>Data format</th>
                        <td mat-cell *matCellDef='let element'>{{element.ext}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
                </table>
                <ng-template #noInputsTemp>
                    <p class='mt-2 mb-3'><i>No inputs</i></p>
                </ng-template>

                <h3 class='h4 mt-3'>Parameters</h3>
                <table *ngIf='parameters && parameters.length else noParasTemp' mat-table [dataSource]='parameters' class='mb-3 col-12'>
                    <ng-container matColumnDef='name'>
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef='let element'>{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef='description'>
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef='let element'>{{element.description | undefined}}</td>
                    </ng-container>

                    <ng-container matColumnDef='schemaId'>
                        <th mat-header-cell *matHeaderCellDef>Data schema</th>
                        <td mat-cell *matCellDef='let element'>{{element.schemaId}}</td>
                    </ng-container>

                    <ng-container matColumnDef='ext'>
                        <th mat-header-cell *matHeaderCellDef>Data format</th>
                        <td mat-cell *matCellDef='let element'>{{element.ext}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
                </table>
                <ng-template #noParasTemp>
                    <p class='mt-2 mb-3'><i>No parameters</i></p>
                </ng-template>


                <h3 class='h4 mt-3'>Outputs</h3>
                <table *ngIf='outputs && outputs.length else noOutputsTemp' mat-table [dataSource]='outputs' class='mb-3 col-12'>
                    <ng-container matColumnDef='name'>
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef='let element'>{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef='description'>
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef='let element'>{{element.description | undefined}}</td>
                    </ng-container>

                    <ng-container matColumnDef='schemaId'>
                        <th mat-header-cell *matHeaderCellDef>Data schema</th>
                        <td mat-cell *matCellDef='let element'>{{element.schemaId}}</td>
                    </ng-container>

                    <ng-container matColumnDef='ext'>
                        <th mat-header-cell *matHeaderCellDef>Data format</th>
                        <td mat-cell *matCellDef='let element'>{{element.ext}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
                    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
                </table>
                <ng-template #noOutputsTemp>
                    <p class='mt-2 mb-3'><i>No outputs</i></p>
                </ng-template>
            </mat-tab>

            <mat-tab label="Conversation">
                <div *ngIf='!conversation' class='col-12 d-flex flex-justify-center flex-items-center' style='height: 350px'>
                    <mat-spinner></mat-spinner>
                </div>
                <ogms-conversation *ngIf='conversation' [ngModel]='conversation'></ogms-conversation>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="aside">

    </div>
</ogms-detail-layout>
