<div nz-card-grid>
    <div>
        <div class="row">
            <nz-avatar nzText="D" nzSize="small" class="avatar"></nz-avatar>
            <span class="name">{{data.dataName}}</span>
        </div>
        <div class="desc row">
            <span>{{data.dataDesc}}</span>
        </div>
        <div nz-row class="row">
            <div nz-col [nzSpan]="6">
                <i class="anticon anticon-user"></i>
                <span>OpenGMS</span>
            </div>
            <div nz-col [nzSpan]="12"></div>
            <div nz-col [nzSpan]="6">
                <i class="anticon anticon-star"></i>
                <span class="favor-number">34</span>
            </div>
        </div>
    </div>
</div>