.container {
    padding: 10px;
    box-sizing: border-box;
    // overflow: scroll;
    #left-item {
        flex: 1;
        padding: 10px;
    }
    #right-item {
        flex: 4;
        padding: 10px;
    }
}

.model-body {
    background: #ECECEC;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 20px;
    padding-bottom: 30px;
}