.left {
    width: 300px;
    .list-item {
        padding: 5px;
    }
}

.left,
.right {
    margin: 0 10px;
}

.title {
    font-size: 20px;
    padding: 10 0px;
}

.map-container {
    width: 550px;
    height: 350px;
}

.ogms-form-item {
    input {
        width: 130px;
    }
    >div:first-child>input {
        margin-right: 80px;
    }
}

.action-btn {
    margin: 0 15px;
}

.list-item {
    border: 1px solid #e1e4e8;
    border-bottom: none;
    cursor: pointer;
}

.list-item:hover,
.list-item.selected {
    background-color: #f6f8fa;
}

.list-item:last-child {
    border: 1px solid #e1e4e8;
}