@import 'mixins';
@import 'colorSchemes/ng2';
@import 'variables';


.menu-collapsed {
  .toggle-icon{
    width: 52px !important;
  }
  .menu-top{
      width: 52px !important;
  }
  .page-top{
    left:52px !important;
  }
  // .main {
  //   left: 52px !important;
  // }
  // map-tool-bar{
  //   left:72px !important;
  // }
  // .esriScalebar{
  //   margin-left: 57px !important;
  // }
}