.bg {
    position: relative;
    margin-bottom: -340px;
    height: 420px;
    background: url('/assets/img/article/bg-gradient.png') repeat-x;
    div {
        background: url('/assets/img/article/bg-main.png') no-repeat top center;
        width: 100%;
        height: 100%;
    }
}

.content {
    margin: 0 auto;
    background: #fff;
    // border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: relative;
}