<ul *ngIf='list' class="mdc-image-list mdc-image-list--masonry my-masonry-image-list mdc-image-list--with-text-protection">
    <li *ngFor='let method of list' class="mdc-image-list__item">
        <div matRipple>
            <img class="mdc-image-list__image" [src]='method.meta.img'>
            <div class="mdc-image-list__supporting" style='width: 100%;'>
                <span class="mdc-image-list__label">{{method.meta.name}}</span>
                <mat-checkbox *ngIf='mode === "WRITE"' [checked]='method.checked' (change)='onMethodChecked($event, method)' class='float-right'></mat-checkbox>
            </div>
        </div>
    </li>
</ul>

<div *ngIf='!list || list?.length === 0'>
    <i>No comparison methods. Please add one!</i>
</div>