<div class="main">
    <nz-card nzNoHovering [nzBordered]="false">
      <ng-template #title>
        <h3>Hot Issue</h3>
      </ng-template>
      <ng-template #extra>
        <a>More</a>
      </ng-template>
      <ng-template #body>
          <issue-card [issue]="issues[0]"></issue-card>
          <issue-card [issue]="issues[1]"></issue-card>
          <issue-card [issue]="issues[2]"></issue-card>
          <!-- <issue-card [issue]="issues[3]"></issue-card>
          <issue-card [issue]="issues[4]"></issue-card>
          <issue-card [issue]="issues[5]"></issue-card> -->
      </ng-template>
    </nz-card>
  </div>