.data-cfg {
    margin-bottom: 20px;
    .title {
        font-size: 18px;
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

a{
    cursor: pointer;
}