.tree-head {
  line-height: 30px; 
  font-size: 12px; 
  border-bottom: 1px solid #d2d2d2; 
  margin: 0 10px;
}

#img_clear {
  float: right;
  cursor: pointer;
  background: url("/assets/img/map/btn_tree_manage.png") no-repeat;
  height: 30px;
  width: 30px;
}

#img_clear:hover {
  background: url("/assets/img/map/btn_tree_manage.png") no-repeat;
  background-position: 0 -30px;
}

.group-node {
  height: 16px;
  width: 16px;
  background: url("/assets/img/map/group-node.png") no-repeat;
  background-position: 0 0px;
  vertical-align: middle;
}
.node-menu {
  font-size:13px;
  position: absolute;
  box-shadow: 0 0 5px #bdbdbd;
  background:#fff;
  left: 75px;
  top: 12px;
  z-index: 1;
}

.node-menu .node-menu-content {
  width: 120px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:6px 0;
}

.node-menu .node-menu-content li.node-menu-item {
  list-style: none;
  height:36px;
  width:100%;
}

.node-menu .node-menu-content li.node-menu-item:last-child {
  border:none;
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-icon {
  width:16px;
  height:16px;
  display: block;
  margin:10px 14px 10px 10px;
  float:left;
  background:url('/assets/img/map/subMenuIcon.png') ;
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-icon.move-layer-top {
  background-position:0 0;
}
.node-menu .node-menu-content .node-menu-item .node-menu-item-icon.move-layer-up {
  background-position:-32px 0;
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-icon.move-layer-down {
  background-position:-48px 0;
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-icon.move-layer-bottom {
  background-position:-16px 0;
}

.node-menu .node-menu-content .node-menu-item .node-menu-item-value {
  color: #3d3d3d;
  line-height: 36px;
  font-size: 12px;
  display: block;
  height: 36px;
}
.node-menu .node-menu-content .node-menu-item span:hover {
  opacity: unset;
  cursor: pointer;
  color:#0593d3;
  transition: color 0.2s ease-out;
}
.slider {
  width:100%;
  padding:0;
  margin:0;
  border-top:1px solid #e5e5e5;
  height:66px;
}
.slider p {
	margin:10px 0;
	padding:0;
	text-indent:10px;
	color: #3d3d3d;
	font-size: 12px;
}
.node-menu .node-menu-content .right-menu-active .node-menu-item-icon{
  background-position-y:-16px !important;
}

.noUi-connect{
  background: #0593d3 !important;
}
tree-internal ul {
  padding: 3px 0 3px 25px;
}

tree-internal li {
  padding: 0;
  margin: 0;
  list-style: none;
}

tree-internal li input {
  vertical-align: middle;
}

tree-internal .over-drop-target {
  border: 4px solid #757575;
  transition: padding 0.2s ease-out;
  padding: 5px;
  border-radius: 5%;
}

tree-internal .tree {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: nowrap;
}

tree-internal .tree li {
  position: relative;
  list-style: none;
  cursor: default;
}

tree-internal .tree li div {
  display: inline-block;
  box-sizing: border-box;
}

tree-internal .tree .node-value {
  display: inline-block;
  color: #212121;
}

tree-internal .tree .node-value:after {
  display: block;
  padding-top: -3px;
  width: 0;
  height: 2px;
  /*background-color: #212121;*/
  content: '';
  transition: width 0.3s;
}

tree-internal .tree .node-value:hover:after {
  width: 100%;
}

tree-internal .tree .node-left-menu {
  display: inline-block;
  height: 100%;
  width: auto;
}

tree-internal .tree .node-left-menu span:before {
  content: '\2026';
  color: #757575;
}

tree-internal .tree .node-selected:after {
  width: 100%;
}

tree-internal .tree .folding {
  width: 25px;
  display: inline-block;
  line-height: 1px;
  padding: 0 5px;
  font-weight: bold;
}

tree-internal .tree .folding.node-collapsed {
  cursor: pointer;
}

tree-internal .tree .folding.node-collapsed:before {
  content: '\25B6';
  color: #757575;
}

tree-internal .tree .folding.node-expanded {
  cursor: pointer;
}

tree-internal .tree .folding.node-expanded:before {
  content: '\25BC';
  color: #757575;
}

tree-internal .tree .folding.node-leaf {
  color: #212121;
  text-align: center;
  font-size: 0.89em;
}

tree-internal .tree .folding.node-leaf:before {
  content: '\25CF';
  color: #757575;
}

tree-internal ul.rootless {
  padding: 0;
}

tree-internal div.rootless {
  display: none !important;
}

tree-internal .loading-children:after {
  content: ' loading ...';
  color: #6a1b9a;
  font-style: italic;
  font-size: 0.9em;
  animation-name: loading-children;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes loading-children {
  0%    { color: #f3e5f5; }
  12.5% { color: #e1bee7; }
  25%   { color: #ce93d8; }
  37.5% { color: #ba68c8; }
  50%   { color: #ab47bc; }
  62.5% { color: #9c27b0; }
  75%   { color: #8e24aa; }
  87.5% { color: #7b1fa2; }
  100%  { color: #6a1b9a; }
}

/*修改滚动栏样式*/
.noUi-target{
  display: block !important;
  width:100px;
  margin: 0 auto;
}
.noUi-handle,.noUi-base{
  cursor: pointer;
}


