<div class="page-top clearfix">

    <div class="w350">
        <div class="searchSection" style="display: none;">
            <input type="text" placeholder="请输入关键词" #searchBox id="search-box" />
            <button type="button">搜索</button>
        </div>
    </div>
    <div class="right-menu">
        <div class="ring">
            <span class="ring-icon"></span>
        </div>
        <div class="user-info" (click)="showUserOperation($event)">
            <span class="user-icon"></span>
            <p>{{username}}</p>
            <i class="ion-ios-arrow-down" [ngClass]="{'rotate90': menuDropDown, 'rotate180': !menuDropDown}"></i>
        </div>
        <div class="user-operation">
            <ul>
                <li><span></span>
                    <p>我的任务</p>
                </li>
                <li><span></span>
                    <p>我的日历</p>
                </li>
                <li><span></span>
                    <p>设置</p>
                </li>
                <li (click)="logout()"><span></span>
                    <p>退出</p>
                </li>
            </ul>
        </div>
    </div>
</div>