<div>
    <div style='padding: 0 20px;'>
        <nz-collapseset [nzBordered]="false">
            <!-- 输入数据配置 -->
            <nz-collapse [nzTitle]="'Inputs'" nzActive='true'>
                <div class='form-item' nz-row>
                    <span nz-col [nzSpan]='4'>Select data source</span>
                    <div nz-col [nzSpan]='20'>
                        <nz-radio-group [(ngModel)]='msInstance.IO.dataSrc'>
                            <label nz-radio [nzValue]="'STD'">
                                            <span>Use standard input data</span>
                                        </label>
                            <label nz-radio [nzValue]="'UPLOAD'">
                                            <span>Use your upload data</span>
                                        </label>
                        </nz-radio-group>
                    </div>
                </div>
                <ng-container *ngIf='msInstance.IO.dataSrc === "STD"'>
                    <ng-container *ngFor='let event of msInstance.IO.std'>
                        <div class='form-item' nz-row>
                            <span nz-col [nzSpan]='4'>{{event.id}}</span>
                            <div nz-col [nzSpan]='20'>
                                <ng-container *ngIf='event.type === "input"'>
                                    <ng-container *ngIf='event.schema.structure.type === "date"'>
                                        <nz-datepicker style='width: 330px;' [ngModel]='event.value' (ngModelChange)='onDateChange(event, $event)' [nzFormat]='"YYYY-MM-DD"'></nz-datepicker>
                                    </ng-container>
                                    <ng-container *ngIf='event.schema.structure.type === "coordinate"'>
                                        <!-- TODO format -->
                                        <nz-input [ngModel]='event.value | coordinate' (ngModelChange)='onCoordinateChange($event, event)' style='width: 330px;'></nz-input>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngIf='event.type === "parameter"'>
                                </ng-container>

                            </div>
                        </div>
                    </ng-container>
                    <!-- TODO preview -->
                    <div class='form-item'>
                        <button nz-button [nzType]='"default"'>
                                <span>Preview</span>
                            </button>
                    </div>
                </ng-container>
                <ng-container *ngIf='msInstance.IO.dataSrc === "UPLOAD"'>
                    <ng-container *ngFor='let event of msInstance.IO.data | filter: {type: "input"}'>
                        <div class='form-item' nz-row>
                            <span nz-col [nzSpan]='4'>{{event.id}}</span>
                            <div nz-col [nzSpan]='20'>
                                <ogms-file-uploader id='uploader-{{msInstance._id}}-{{event.id}}' [fileUploaderOptions]="fileUploaderOptions" (onFileUploadCompleted)='_onFileUploadCompleted($event, msInstance, event)' (onClear)='_onClearUploaded(msInstance, event)'></ogms-file-uploader>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </nz-collapse>
            <!-- 参数配置 -->
            <nz-collapse [nzTitle]="'Parameters'" nzActive='true'>
                <ng-container *ngFor='let event of msInstance.IO.data | filter: {type: "parameter"}'>
                    <div class='form-item' nz-row>
                        <span nz-col [nzSpan]='4'>{{event.id}}</span>
                        <div nz-col [nzSpan]='20' class='flex-box-col-nowrap'>
                            <ng-container *ngIf='event.schema.structure.type === "radio"'>
                                <div nz-row>
                                    <label nz-radio nz-col [nzSpan]='4' *ngFor='let opt of event.schema.structure.options' [nzValue]="opt" [ngModel]='event.value === opt' (ngModelChange)='onParamRadioChange(event, $event, opt)'>
                                                <span>{{opt}}</span>
                                            </label>
                                </div>
                            </ng-container>
                            <ng-container *ngIf='event.schema.structure.type === "checkbox"'>
                                <label nz-checkbox nz-col [nzSpan]='4' *ngFor='let opt of event.schema.structure.options' [ngModel]='event.value.indexOf(opt) !== -1' (ngModelChange)='onParamCheckboxChange(event, $event, opt)'>
                                            <span>{{opt}}</span>
                                        </label>
                            </ng-container>
                            <ng-container *ngIf='event.schema.structure.type === "value"'>
                                <nz-input [(ngModel)]='event.value'></nz-input>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </nz-collapse>
            <!-- 输出配置 -->
            <nz-collapse [nzTitle]="'Outputs'" nzActive='true'>
                <ng-container *ngFor='let event of msInstance.IO.data | filter: {type: "output"}'>
                    <div class='form-item' nz-row>
                        <span nz-col [nzSpan]='4'>{{event.id}}</span>
                        <div nz-col [nzSpan]='20'>
                            <ng-container *ngIf='event.optional'>
                                <nz-select style="width: 250px;" [(ngModel)]="event.value" (ngModelChange)='onOutputChange(event, $event)' nzAllowClear [nzPlaceHolder]='""'>
                                    <nz-option [nzLabel]='"off"' [nzValue]='"off"'></nz-option>
                                    <nz-option [nzLabel]="event.value" [nzValue]="event.value"></nz-option>
                                </nz-select>
                            </ng-container>
                            <ng-container *ngIf='!event.optional'>
                                <nz-input style='width: 330px;' [(ngModel)]='event.value'></nz-input>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </nz-collapse>
        </nz-collapseset>
    </div>
</div>