@media (max-width: 1199px) {
    .container {
        width: 980px;
    }
}

@media (max-width: 1599px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1600px;
    }
}