<form *ngIf='IOForm' [formGroup]='IOForm'>
    <mat-accordion multi>
        <mat-expansion-panel *ngIf='IOForm.controls["std"].controls.length || IOForm.controls["inputs"].controls.length'
            expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Inputs</mat-panel-title>
                <mat-panel-description>configure the input data</mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <div class='form-item data-src-group'>
                    <mat-button-toggle-group appearance="legacy" formControlName='dataSrc' (ngModelChange)='changeValidate($event)'>
                        <mat-button-toggle value='STD'>Use standard input data</mat-button-toggle>
                        <mat-button-toggle value='UPLOAD'>Use your personal data</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div *ngIf='IOForm.controls["dataSrc"].value === "STD" else uploadTemplate' formArrayName='std'>
                    <div *ngFor='let item of IOForm.controls["std"].controls;let i=index;' [formGroupName]='i' class='form-item std-src-group'>
                        <label>{{item.value.name}}</label>
                        <!-- 选择站点 -->
                        <mat-form-field *ngIf='item.value?.schemaId === "coordinate-index" else stdTemp'>
                            <input matInput [value]='item.value.temp?.coor' placeholder='Coordinate'>
                            <!-- suffix button -->
                            <button mat-icon-button matSuffix (click)='showSiteDialog()'>
                                <mat-icon>location_on</mat-icon>
                            </button>
                        </mat-form-field>
                        <!-- 选择标准数据集 -->
                        <ng-template #stdTemp>
                            <mat-form-field class='std-form-item'>
                                <mat-select *ngIf='calcuTask.stds' formControlName='value' placeholder='Select standard dataset'>
                                    <mat-option *ngFor='let item of calcuTask.stds' [value]='item._id'>{{item.meta.name}}</mat-option>
                                </mat-select>
                                <button id='preview-btn' (click)='onSuffixClick($event)' mat-button matSuffix
                                    mat-icon-button *ngIf="IOForm.controls['std'].controls[i].value" target='_blank'
                                    [routerLink]='["../../../datasets", IOForm.controls["std"].controls[i].value._id]'>
                                    <mat-icon>call_made</mat-icon>
                                </button>
                            </mat-form-field>
                        </ng-template>
                    </div>
                </div>

                <ng-template #uploadTemplate>
                    <div formArrayName='inputs'>
                        <div *ngFor='let item of IOForm.controls["inputs"].controls;let i=index;' [formGroupName]='i'
                            class='form-item file-uploader-group'>
                            <label>{{item.value.name}}</label>
                            <ogms-file-uploader-form-item formControlName='file' [width]='width' [uploadInput]="uploadInput"></ogms-file-uploader-form-item>
                        </div>
                    </div>
                </ng-template>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf='IOForm.controls["parameters"].controls.length' expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Parameters</mat-panel-title>
                <mat-panel-description>configure the invoke parameters</mat-panel-description>
            </mat-expansion-panel-header>
            <section formArrayName='parameters'>
                
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf='IOForm.controls["outputs"].controls.length' expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Outputs</mat-panel-title>
                <mat-panel-description>configure the output data</mat-panel-description>
            </mat-expansion-panel-header>
            <section formArrayName='outputs'>
                <div *ngFor='let item of IOForm.controls["outputs"].controls;let i=index;' [formGroupName]='i' class='form-item'>
                    <label>{{item.value.name}}</label>
                    <ng-container *ngIf='item.value.optional else inputTemplate'>
                        <mat-form-field>
                            <mat-select placeholder='' formControlName='value'>
                                <mat-option value='off'>off</mat-option>
                                <mat-option [value]='item.value.value'>{{item.value.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <ng-template #inputTemplate>
                        <mat-form-field>
                            <input matInput formControlName='fname' placeholder="output file name">
                        </mat-form-field>
                    </ng-template>
                </div>
            </section>
        </mat-expansion-panel>
    </mat-accordion>
</form>
