<form *ngIf='IOForm' [formGroup]='IOForm'>
    <nz-collapse [nzBordered]="false">
        <!-- 输入数据配置 -->
        <nz-collapse-panel *ngIf='IOForm.controls["std"].controls.length || IOForm.controls["inputs"].controls.length' [nzHeader]="'Inputs'"
            nzActive='true'>

            <!-- std, upload -->
            <nz-form-item>
                <nz-form-label nzSpan='6' nzRequired>Select data source</nz-form-label>
                <nz-form-control nzSpan='18'>
                    <nz-radio-group formControlName='dataSrc' (ngModelChange)='changeValidate($event)'>
                        <label nz-radio-button [nzValue]="'STD'">Use standard input data</label>
                        <label nz-radio-button [nzValue]="'UPLOAD'">Use your personal data</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <!-- std input -->
            <ng-container *ngIf='IOForm.controls["dataSrc"].value === "STD"'>
                <nz-form-item>
                    <nz-form-label nzSpan='6' nzRequired>Select standard data source</nz-form-label>
                    <nz-form-control nzSpan='18'>
                        <nz-select formControlName="STD" nzAllowClear [style.width]='width'>
                            <nz-option *ngFor="let item of _stds" [nzLabel]="item.meta.name" [nzValue]="item">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <div formArrayName='std'>
                    <ng-container *ngFor='let item of IOForm.controls["std"].controls;let i=index;'>
                        <div [formGroupName]='i'>
                            <nz-form-item>
                                <nz-form-label nzSpan='6' nzRequired>
                                    <span [nz-tooltip]='item.value.description'>{{item.value.name}}</span>
                                </nz-form-label>
                                <nz-form-control nzSpan='18' nzHasFeedback>
                                    <!-- <ng-container *ngIf='item.value?.schema?.structure?.type === "date"'>
                                            <nz-datepicker style='width: 330px;' [ngModel]='event.value' (ngModelChange)='onDateChange(event, $event)' [nzFormat]='"YYYY-MM-DD"'></nz-datepicker>
                                            <input nz-input [style.width]='width' formControlName='value'>
                                        </ng-container> -->
                                    <div class='form-site-coor' *ngIf='item.value?.schema?.structure?.type === "coordinate-index"'>
                                        <button nz-button (click)='_isVisible = true'>
                                            <i class="anticon anticon-environment-o"></i>
                                            Select
                                        </button>
                                        <!-- <input nz-input [style.width]='width' formControlName='value'> -->
                                        <span>{{item.value.temp?.coor}}</span>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </ng-container>
                </div>

                <ng-container *ngIf='IOForm.controls["STD"].value'>
                    <nz-form-item>
                        <nz-form-label nzSpan='6'>Preview standard datasets</nz-form-label>
                        <nz-form-control nzSpan='18'>
                            <a target='_blank' [routerLink]='["../../../datasets", IOForm.controls["STD"].value._id]'>
                                <button nz-button>
                                    <i class="anticon anticon-search"></i>
                                    Preview
                                </button>
                            </a>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>
            </ng-container>

            <!-- upload input -->
            <ng-container *ngIf='IOForm.controls["dataSrc"].value === "UPLOAD"'>
                <div formArrayName='inputs'>
                    <ng-container *ngFor='let item of IOForm.controls["inputs"].controls;let i=index;'>
                        <div [formGroupName]='i'>
                            <nz-form-item>
                                <nz-form-label nzSpan='6' nzRequired>
                                    <span [nz-tooltip]='item.value.description'>{{item.value.name}}</span>
                                </nz-form-label>
                                <nz-form-control nzSpan='18' nzHasFeedback>
                                    <ogms-file-uploader-form-item formControlName='file' [width]='width' [fileUploaderOptions]="fileUploaderOptions"></ogms-file-uploader-form-item>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

        </nz-collapse-panel>

        <!-- 参数配置 -->
        <nz-collapse-panel *ngIf='IOForm.controls["parameters"].controls.length' [nzHeader]="'Parameters'" nzActive='true'>
            <div formArrayName='parameters'>
                <ng-container *ngFor='let item of IOForm.controls["parameters"].controls;let i=index;'>
                    <div [formGroupName]='i'>
                        <nz-form-item>
                            <nz-form-label nzSpan='6' nzRequired>
                                <span [nz-tooltip]='item.value.description'>{{item.value.name}}</span>
                            </nz-form-label>
                            <nz-form-control nzSpan='18' nzHasFeedback>
                                <ng-container *ngIf='item.value.schema.structure.type === "radio"'>
                                    <nz-radio-group formControlName='value' [style.width]='width'>
                                        <label nz-radio-button *ngFor='let opt of item.value.schema.structure.options' [nzValue]="opt">{{opt}}</label>
                                    </nz-radio-group>
                                </ng-container>
                                <ng-container *ngIf='item.value.schema.structure.type === "checkbox"'>
                                    <ogms-check-box-form-item formControlName='value' [checkOpts]='item.value.schema.structure.options' [width]='width'></ogms-check-box-form-item>
                                </ng-container>
                                <ng-container *ngIf='item.value.schema.structure.type === "value"'>
                                    <input nz-input [style.width]='width' formControlName='value'>
                                </ng-container>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </ng-container>
            </div>
        </nz-collapse-panel>

        <!-- 输出配置 -->
        <nz-collapse-panel *ngIf='IOForm.controls["outputs"].controls.length' [nzHeader]="'Outputs'" nzActive='true'>
            <div formArrayName='outputs'>
                <ng-container *ngFor='let item of IOForm.controls["outputs"].controls;let i=index;'>
                    <div [formGroupName]='i'>
                        <nz-form-item>
                            <nz-form-label nzSpan='6' nzRequired>
                                <span [nz-tooltip]='item.value.description'>{{item.value.name}}</span>
                            </nz-form-label>
                            <nz-form-control nzSpan='18' nzHasFeedback>
                                <ng-container *ngIf='item.value.optional'>
                                    <!-- <nz-select formControlName='value' [style.width]="width" nzAllowClear [nzPlaceHolder]='""'>
                                                        <nz-option [nzLabel]='"off"' [nzValue]='"off"'></nz-option>
                                                        <nz-option [nzLabel]="item.value.value" [nzValue]="item.value.value"></nz-option>
                                                    </nz-select> -->
                                    <nz-radio-group formControlName='value' [style.width]='width'>
                                        <label nz-radio-button [nzValue]="'off'">off</label>
                                        <label nz-radio-button [nzValue]="item.value.temp">{{item.value.temp}}</label>
                                    </nz-radio-group>
                                </ng-container>
                                <ng-container *ngIf='!item.value.optional'>
                                    <input formControlName='fname' nz-input [style.width]='width'>
                                </ng-container>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </ng-container>
            </div>
        </nz-collapse-panel>
    </nz-collapse>
</form>
<!-- </div> -->

<nz-modal [(nzVisible)]="_isVisible" [nzTitle]="'Select site to simulation'" [nzWidth]="600" [nzContent]="modalContent" [nzOkText]="'OK'"
    [nzCancelText]="'Cancel'" [nzWrapClassName]="''" (nzOnCancel)="_isVisible = false" (nzOnOk)="modalOk($event)">
    <ng-template #modalContent>
        <ogms-global-site (onSiteSelected)='onSiteSelected($event)'></ogms-global-site>
    </ng-template>
</nz-modal>
