.wrapper {
    height: 100vh;
    width: 100%;
    padding: 0px;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // grid-template-rows: auto auto;
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // grid-row: 1/2;
    // flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 999;
    padding: 0 5px;
    box-shadow: 0 0 5px #24292e;
    background: #24292e;
}

@media (min-width: 980px) {
    .nav-header {
        padding: 0 140px;
    }
}

.body {
    padding-top: 64px;
    // flex: 1 1 auto;
    // overflow: scroll;
    height: 100%;
}

.content {
    height: 100%;
    overflow: hidden;
    background: #eee;
}

#logo {
    margin: auto 8px;
}

#menu {
    // float: left;
    margin: auto 0;
    line-height: 64px;
    align-self: flex-end;
    padding-left: 10px;
}

.flex-item {
    align-items: center;
}

#place-holder {
    flex: 1;
}

#login-menu {
    justify-content: end;
}

img {
    outline: none;
}