<div class='mat-cascader-select'>
    <form *ngIf='selectsFG' [formGroup]='selectsFG'>
        <div formArrayName='selects'>
            <ng-container *ngFor='let fc of selectFCArray; let i=index'>
                <mat-form-field>
                    <mat-select [formControlName]='i' [placeholder]="_flapSource[i].placeholder" (selectionChange)='onSelected($event, i)'>
                        <mat-option *ngFor="let opt of _flapSource[i]?.options; let j=index" [value]="{value: opt.value, index: j}">
                            {{opt.label}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf='fc.hasError("required")'>必填</mat-error>
                </mat-form-field>
            </ng-container>
        </div>
    </form>
</div>
