.wrapper {
    height: 100vh;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 999;
    padding: 0 5px;
    // border-bottom: 1px solid #ebebeb;
    box-shadow: 0 0 5px #6d6d6d;
}

.content {
    flex: 1;
    // z-index: 999;
    overflow: hidden;
}

#logo {
    margin: auto 16px;
}

#menu {
    // float: left;
    margin: auto 0;
    line-height: 64px;
    align-self: flex-end;
}

.flex-item {
    align-items: center;
}