<ng-container *ngFor="let child of toolBar">
    <ng-container *ngIf="includesFunctions(child.id)">
        <div *ngIf="!child.children" style="clear:both;">
            <div class="tool-item {{child.id}}" [id]="child.id" [title]="child.title" (click)="onClick($event, child)"></div>    
        </div>

        <div *ngIf="child.children">
            <div class="tool-item {{child.id}}" style="float: left;" [id]="child.id" [title]="child.title" (mouseover)="showSubMenu(child.id, true)" (mouseleave)="showSubMenu(child.id, false)"></div> 
            
            <ng-container *ngFor="let grandchild of child.children">
                <div class="tool-item hidden {{grandchild.id}}" *ngIf="includesSubFunctions(child.id, grandchild.id)" style="float: left;" [id]="grandchild.id" [title]="grandchild.title" 
                    (mouseover)="showSubMenu(child.id, true)" (mouseleave)="showSubMenu(child.id, false)" (click)="onClick($event, grandchild)">
                </div> 
            </ng-container>
        </div>
    </ng-container>
</ng-container>