.tool-item {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: white !important;
    margin-bottom: 1px;
    border: solid 1px #b9b9b9;
}

.hidden {
    display: none;
}

.fullExtent {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px 0;
}

.fullExtent:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -30px;
}

.zoomIn {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -120px 0;
}

.zoomIn:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -120px -30px;
}

.zoomOut {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -150px 0;
}

.zoomOut:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -150px -30px;
}

.pan {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -150px -60px;
}

.pan:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -150px -90px;
}

.measureLength {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -180px 0;
}

.measureLength:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -180px -30px;
}

.measureArea {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -210px 0;
}

.measureArea:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -210px -30px;
}

.draw {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -180px -120px;
}

.draw:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -180px -150px;
}

.drawPoint {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: 0px -120px;
}

.drawPoint:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: 0px -150px;
}

.drawPolyline {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -30px -120px;
}

.drawPolyline:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -30px -150px;
}

.drawPolygon {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -120px;
}

.drawPolygon:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -150px;
}

.identifyQuery {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: 0 -60px;
}

.identifyQuery:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: 0 -90px;
}

.buildingQuery {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -240px 0;
}

.buildingQuery:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -240px -30px;
}

.swipeMap {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -30px -60px;
}

.swipeMap:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -30px -90px;
}

.compareMap {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -60px;
}

.compareMap:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -90px;
}

.clearGraphics {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -90px -60px;
}

.clearGraphics:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -90px -90px;
}

.select {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: 0px -180px;
}

.select:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: 0px -210px;
}

.selectCircle {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -180px;
}

.selectCircle:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -60px -210px;
}

.selectRectangle {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -30px -180px;
}

.selectRectangle:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -30px -210px;
}

.selectPolygon {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -90px -180px;
}

.selectPolygon:hover {
    background: url("/assets/img/map/icon_toolbar.png");
    background-position: -90px -210px;
}