<ng-template #issueTemplate let-issue='item'>
    <div class='list-item'>
        <div class='item-header'>
            <a [routerLink]='issue._id'>
                            {{issue.auth.userName}}/{{issue.meta.name}}
                        </a>
        </div>
        <div class='item-body'>
            <div class='desc'>{{issue.meta.desc}}</div>
            <div>
                <span class='topic'>Topic1</span>
                <span class='topic'>Topic2</span>
            </div>
        </div>
        <div class='item-footer'>{{issue.meta.time | date: 'yyyy-MM-dd'}}</div>
    </div>
</ng-template>

<ogms-list-template [template]='issueTemplate' [list]='issues' [radioFilters]='{}' (onFiltersChange)='search($event)'>
</ogms-list-template>

<ogms-footer></ogms-footer>