<div class="home-data-main">
    <nz-card nzNoHovering [nzBordered]="false">
      <ng-template #title>
        <h3>Data</h3>
      </ng-template>
      <ng-template #extra>
        <a>More</a>
      </ng-template>
      <ng-template #body>
          <data-card [data]="datas[0]"></data-card>
          <data-card [data]="datas[1]"></data-card>
          <data-card [data]="datas[2]"></data-card>
          <data-card [data]="datas[3]"></data-card>
          <data-card [data]="datas[4]"></data-card>
          <data-card [data]="datas[5]"></data-card>
      </ng-template>
    </nz-card>
  </div>