


.actived-menu {
    color: #fff !important;
}

#sign-in-group{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    ul {
        border-bottom: none;
        line-height: 64px !important;
        background: #24292e;
        li{
            top: 0 !important;
        }
        span {
            height: 100%;
            display: flex;
        }
    }
}