:host {
    display: flex;
}

#container {
    flex: 1;
    display: flex;
    position: relative;
}

#map-div {
    flex: 1;
}

// #toolbar-div {
//     position: absolute;
//     left: 10px;
//     top: 10px;
// }
// #legend-div {
//     position: absolute;
//     left: 10px;
//     bottom: 10px;
// }
// #src-div {
//     position: absolute;
//     right: 10px;
//     top: 10px;
// }