.card-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .card{
        padding: 5px;
        @mixin reactive($columnNum) {
            flex: 0 0 calc(100%/#{$columnNum});
        }
        @media (max-width: 979px) {
            @include reactive(2)
        }
        @media (min-width: 980px) {
            @include reactive(3)
        }
        @media (min-width: 1200px) {
            @include reactive(3)
        }
        @media (min-width: 1600px) {
            @include reactive(4)
        }
    }
}