<li class='menu-item' *ngIf="(subMenu && subMenu.data) else divider" nz-submenu>
    <span title>
        <span *ngIf="subMenu.disabled === true" class="disabled-menu-item">
            <!-- <i *ngIf="subMenu.data && subMenu.data.menu && subMenu.data.menu.icon" class="anticon anticon-{{subMenu.data.menu.icon}}"></i>  -->
            {{subMenu.data.menu.title}}
        </span>
    <a class='ogms-menu-link' *ngIf='subMenu.path.indexOf("sign-out") !== -1' (click)='signOut()'>
            {{subMenu.data.menu.title}}
        </a>
    <a class='ogms-menu-link' *ngIf='subMenu.path.indexOf("sign-out") === -1' routerLink="/{{subMenu.path}}" [routerLinkActive]="isRoot? 'actived-menu': ''">
        <!-- <i *ngIf="subMenu.data && subMenu.data.menu && subMenu.data.menu.icon" class="anticon anticon-{{subMenu.data.menu.icon}}"></i>  -->
        {{subMenu.data.menu.title}}
    </a>
    </span>

    <!-- 子菜单 -->
    <ul class='ogms-sub-menu' *ngIf="subMenu.children">
        <ogms-subMenu *ngFor="let subMenu of subMenu.children" class="ant-menu-submenu ant-menu-submenu-horizontal" [subMenu]="subMenu"></ogms-subMenu>
    </ul>
</li>

<ng-template #divider>
    <li nz-menu-item-divider></li>
</ng-template>