<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ogms-detail-layout *ngIf='task else loadingTemp'>
    <div class='customHeader header Subhead mt-0 mb-3'>
        <div>
            <h2 class='Subhead-heading'>{{task?.meta?.name}}</h2>
            <div class='Subhead-description'>{{task?.meta.desc}}</div>
            <p class='Subhead-description'>
                <a class='author' routerLink='/user'>{{task?.auth?.userName}}</a>
                created this task at {{task.meta.time | date: 'yyyy.MM.dd'}}
            </p>
        </div>

        <div class='action-group'>
            <button mat-button color='warn' *ngIf='couldEdit' (click)='onDeleteClick()'>
                <mat-icon inline>delete</mat-icon>Delete
            </button>
            <button mat-button color='primary' *ngIf='couldEdit' (click)='onEditClick()'>
                <mat-icon inline>edit</mat-icon>Edit
            </button>
        </div>
    </div>

    <article class='article'>
        <mat-tab-group (selectedIndexChange)='onTabChange($event)' [@.disabled]="true">
            <mat-tab label='Data configuration'>
                <p class='f3-light my-3'>Comparison configuration:</p>
                <ogms-cmp-cfg [metrics]='metrics' mode='READ' [cmpObjs]='task.cmpObjs'></ogms-cmp-cfg>

                <p class='f3-light my-3'>Input data configuration:</p>
                <ogms-task-input-cfg [calcuTasks]='calcuTasks' showOutput='True' mode='READ'></ogms-task-input-cfg>


                <div *ngIf='spatialType === "region"' class='my-3'>
                    <p class='f3-light my-2'>Selected sub-regions:</p>
                    <ogms-sub-regions [regions]='task.regions'></ogms-sub-regions>
                </div>
                <div *ngIf='spatialType === "site" && task?.sites?.length' class='my-3'>
                    <p class='f3-light my-2'>Selected sites:</p>
                    <!-- <ogms-sub-regions [regions]='task.regions'></ogms-sub-regions> -->
                    <ogms-selected-sites [sites]='task.sites'></ogms-selected-sites>
                </div>

                <p class='f3-light my-3'>Model running progress:</p>
                <div *ngFor='let calcuTask of calcuTasks' class='progress-div px-2 py-1'>
                    <span>{{calcuTask?.msName}}:</span>
                    <mat-progress-bar class='calcuTask-progress-bar' [value]='calcuTask?.progress' mode='determinate'></mat-progress-bar>
                    <span class='pl-2'>{{calcuTask?.progress}}%</span>
                </div>
            </mat-tab>

            <mat-tab *ngFor="let cmpObj of task?.cmpObjs; let i=index" [label]='"Feature " + (+i+1) + ": " + cmpObj.name'>
                <p class='my-3 f3-light'>Comparison progress:</p>
                <div class='my-3'>
                    <ogms-cmp-progress [data]='cmpObj.methods' [taskId]='task._id' [cmpObjId]='cmpObj.id'></ogms-cmp-progress>
                </div>
                
                <p class='mt-3'>{{cmpObj.desc}}</p>

                <!-- <p class='f3-light my-2'>Comparison methods:</p> -->
                <div *ngFor='let method of cmpObj.methods; let i=index;'>
                    <p class='f3-light my-3'>{{i+1}}. {{method?.name}}:</p>

                    <ng-container *ngIf='method?.name === "table series visualization" || method?.name === "Line chart"'>
                        <div *ngIf='method?.result?.state === "FINISHED_SUCCEED"' [attr.id]='cmpObj.id + "-" + method.id'
                            #echartDOM class='echart-dom'></div>
                    </ng-container>

                    <ng-container *ngIf='method?.name === "Taylor diagram" || method?.name === "Box diagram" || method?.name === "Scatter diagram"'>
                        <ogms-server-side-diagram *ngIf='method?.result?.state === "FINISHED_SUCCEED"' 
                            [data]='method.result'></ogms-server-side-diagram>
                    </ng-container>

                    <ng-container *ngIf='method?.name === "Sub-region line chart"'>
                        <div *ngIf='method?.result?.state === "FINISHED_SUCCEED"' [attr.id]='cmpObj.id + "-" + method.id'
                            #echartDOM class='echart-dom'></div>
                    </ng-container>

                    <ng-container *ngIf='method?.name === "Bias contour map"'>
                        <div class='ml-2'>
                            <ogms-contour-map-result *ngIf='method?.result?.state === "FINISHED_SUCCEED"' [data]='method.result'></ogms-contour-map-result>
                        </div>
                        <div *ngIf='method?.result?.state !== "FINISHED_SUCCEED"'>
                            <p>The comparison hasn't finished!</p>
                            <p class='my-2' *ngIf='method?.progress'>
                                Progress:
                                <mat-progress-bar [value]='method?.progress' mode='determinate'></mat-progress-bar>
                            </p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf='method?.name === "Heat map"'>
                        <div *ngIf='method?.result?.state === "FINISHED_SUCCEED"' [attr.id]='cmpObj.id + "-" + method.id'
                            #echartDOM class='echart-dom'></div>
                    </ng-container>
                </div>
            </mat-tab>

            <mat-tab label='Conversation'>
                <div *ngIf='!conversation' class='col-12 d-flex flex-justify-center flex-items-center' style='height: 350px'>
                    <mat-spinner></mat-spinner>
                </div>
                <ogms-conversation *ngIf='conversation' [ngModel]='conversation'></ogms-conversation>
            </mat-tab>
        </mat-tab-group>
    </article>

    <aside class='aside'>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Solution
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>
                    <ng-container *ngIf='solution else noSlnTemp'>
                        <ul class='aside-ul with-route'>
                            <li [routerLink]='["/solutions", solution._id]'>
                                {{solution.auth.userName}} / {{solution.meta.name}}
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #noSlnTemp>
                        <i>Can't find related solution.</i>
                    </ng-template>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Models
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>
                    <ng-container *ngIf='ptMSs.length else noMSTemp'>
                        <ul class='aside-ul with-route'>
                            <li *ngFor='let ms of ptMSs' [routerLink]='["/models", ms._id]'>
                                {{ms.auth.nodeName}} / {{ms.MDL.meta.name}}
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #noMSTemp>
                        <i>No related models.</i>
                    </ng-template>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    Calculation records
                    <mat-icon inline>settings</mat-icon>
                </div>
                <div class='body'>
                    <ng-container *ngIf='calcuTasks.length else noCalcuTemp'>
                        <ul class='aside-ul with-route'>
                            <li *ngFor='let calcuTask of calcuTasks' [routerLink]='["/calculations", calcuTask?._id]'>
                                {{calcuTask?.auth?.userName}} / {{calcuTask?.meta?.name}}
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #noCalcuTemp>
                        <i>No related models.</i>
                    </ng-template>
                </div>
            </ogms-sidebar-section>
        </div>

        <div>
            <ogms-sidebar-section>
                <div class='title'>
                    {{users.length}} participants
                </div>
                <div class='body participants'>
                    <ng-container *ngFor='let user of users'>
                        <img [attr.src]='user.avator'>
                    </ng-container>
                </div>
            </ogms-sidebar-section>
        </div>

        <div *ngIf='user'>
            <ogms-sidebar-section>
                <div class='title'>
                    Notifications
                </div>
                <div class='body notification'>
                    <button mat-stroked-button (click)='onSubscribeToggle()'>
                        <ng-container *ngIf='includeUser else noticeTemp'>
                            <mat-icon inline>notifications_off</mat-icon>&nbsp;<span>Unsubscribe</span>
                        </ng-container>
                        <ng-template #noticeTemp>
                            <mat-icon inline>notifications</mat-icon>&nbsp;<span>Subscribe</span>
                        </ng-template>
                    </button>
                </div>
            </ogms-sidebar-section>
        </div>
    </aside>
</ogms-detail-layout>
