<div>

    <!-- Latest Topics -->
    <div>
        <h2 class="f4 mb-2 text-normal">Latest Topics</h2>
        <ol class="card-list">
            <li *ngFor="let topic of user_topics" class="card-item">
                <a class="card-item-content" routerLink="">
                    <span class="d-block">
                        <p class="title-p text-gray">{{topic.title}}</p>
                    </span>
                    <div class="sponsor">
                        <div class="text-gray text-small float_right">
                            Created By:
                            <a routerLink="">{{topic.sponsor}}</a>
                        </div>
                    </div>
                </a>
            </li>
        </ol>
    </div>

    <!-- Latest Solutions -->
    <div>
        <h2 class="f4 mb-2 text-normal">Latest Solutions</h2>
        <ol class="card-list">
            <li *ngFor="let topic of user_topics" class="card-item">
                <div class="card-item-content" routerLink="">
                    <span class="d-block">
                        <a class="title-p" routerLink="">{{topic.title}}</a>
                    </span>
                    <div class="description">
                        <p>{{topic.description | stringLimit: 180 | description}}</p>
                    </div>
                    <div class="sponsor">
                        <div class="text-gray text-small float_right">
                            Created By:
                            <a routerLink="">{{topic.sponsor}}</a>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>

    <!-- Latest Tasks -->
    <div>
        <h2 class="f4 mb-2 text-normal">Latest Tasks</h2>
        
    </div>
</div>
