#root-container {
    height: 100%;
    overflow-y: hidden;
    #scroll-container {
        height: 100%;
        overflow-y: scroll;
    }
}

.bg {
    position: relative;
    margin-bottom: -380px;
    height: 420px;
    background: url('/assets/img/article/bg-gradient.png') repeat-x;
    div {
        background: url('/assets/img/article/bg-main.png') no-repeat top center;
        height: 100%;
    }
}

.container {
    padding: 10px;
    box-sizing: border-box;
    // overflow: scroll;
    #left-item {
        flex: 1;
        padding: 10px;
    }
    #right-item {
        flex: 4;
        padding: 10px;
    }
}

.data-body {
    background: #ECECEC;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 20px;
    padding-bottom: 30px;
}