<div id='root-container'>
    <div id='scroll-container'>
        <div class='bg'>
            <div></div>
        </div>
        <div class='content flex-box-col-nowrap'>
            <div nz-row>
                <div nz-col [nzSpan]="24">

                </div>
            </div>
            <div class="data-body">
                <div nz-row>
                    <div nz-col>
                        <ogms-data-banner></ogms-data-banner>
                        <ogms-data-info></ogms-data-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>