.font {
    font-size: 16px;
}

.tag-head {
    font-weight: 450;
    padding-right: 30px;
}

.row {
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.border {
    border-bottom: 1px dashed #e8e8e8;
}

// .host ::ng-deep .ant-card-body {
//     padding-bottom: 2px;
// }

:host ::ng-deep .ant-card-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.order {
    width: 100px;
}