<div class="main">
  <nz-card nzNoHovering [nzBordered]="false">
    <ng-template #body>
        <div class="font row border">
            <span class="tag-head">Categories: </span>
            <!-- <nz-checkable-tag *ngFor="let tag of tags" [nzChecked]="selectedTags.indexOf(tag) > -1" (nzChange) = "handleChange($event, tag)">
              <span class="font">{{tag}}</span>
            </nz-checkable-tag> -->
        </div>
        <div class="font row border">
          <span class="tag-head">Author: </span>
          <nz-select
            style="width: 400px;"
            nzTags
            [nzPlaceHolder]="'select author'"
            [(ngModel)]="selectedMultipleOption"
            [nzNotFoundContent]="'can not find'"
            nzShowSearch>
              <nz-option
                *ngFor="let option of searchOptions"
                [nzLabel]="option.label"
                [nzValue]="option">
              </nz-option>
          </nz-select>
        </div>
        <div class="font row">
            <span class="tag-head">Order: </span>
            <nz-button-group>
                <button nz-button [nzType]="'default'" class="order">
                  <span>Default</span>
                </button>
                <button nz-button [nzType]="'default'" class="order">
                  <span>Hot</span>
                </button>
                <button nz-button [nzType]="'default'" class="order">
                  <span>Recommand</span>
                </button>
              </nz-button-group>
        </div>
    </ng-template>
  </nz-card>
</div>