<div ogms-rx-box id='container' *ngIf='list else spinTemplate'>
    <div id='nav-filter-group'>
        <mat-button-toggle-group *ngIf='starFilters' [ngModel]='_ownerFilterV' (ngModelChange)='onChangeFilters($event, "owner")'>
            <mat-button-toggle *ngFor='let item of starFilters' [value]='item.value'>{{item.label}}</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field id='search-btn-group'>
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchFilters.q">
            <button (click)='onSearchClick()' color='primary' mat-flat-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class='list-box'>
        <div class='list-header'>
            <span class='stat-span'>{{count}} items found</span>
            <span class='flex-item-1-1-auto'></span>
            <div *ngFor='let filter of sortsFilters'>
                <button mat-button [matMenuTriggerFor]='popMenu'>
                    {{filter.label}}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #popMenu>
                    <button class='pop-menu-group' mat-menu-item *ngFor='let item of filter.options' (click)='onChangeFilters(item.value, filter.value)'>
                        <div>
                            <mat-icon *ngIf='item.checked'>check</mat-icon>
                        </div>
                        <div>{{item.label}}</div>
                    </button>
                </mat-menu>
            </div>
        </div>

        <ng-container *ngIf='template && list'>
            <ng-container *ngFor='let item of list'>
                <div class='list-template-item'>
                    <ng-container [ngTemplateOutlet]='template' [ngTemplateOutletContext]='{item: item}'></ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <mat-paginator *ngIf='count> 25' [length]="count" [pageIndex]='searchFilters.pageIndex' [pageSize]="searchFilters.pageSize"
        [pageSizeOptions]="[10,20,30]" (page)='onPageChange($event)'></mat-paginator>

</div>

<ng-template #spinTemplate>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
