:host {
    width: 100%;
}

.map-with-legend {
    display: flex;
    flex-flow: row nowrap;
    .map-container {
        flex: 1;
        height: 400px;
    }
    .legend {
        width: 120px;
    }
}

.variable-radio {
    margin-right: 20px;
}

.time-slider {
    width: 500px;
}
