<div>
    <ogms-file-uploader id='uploader' [uploadInput]="uploadInput" (onFileUploading)="_onFileUpload($event)" (onFileUploadCompleted)='_onFileUploadCompleted($event)'
        (onClear)='_onClearUploaded()' [size]='"large"'></ogms-file-uploader>
    <!-- <ogms-file-uploader id='uploader' [uploadInput]="uploadInput" (onFileUploading)="_onFileUpload($event)" (onFileUploadCompleted)='_onFileUploadCompleted($event)'
        (onClear)='_onClearUploaded()'></ogms-file-uploader>
    <ogms-file-uploader id='uploader' [uploadInput]="uploadInput" (onFileUploading)="_onFileUpload($event)" (onFileUploadCompleted)='_onFileUploadCompleted($event)'
        (onClear)='_onClearUploaded()' [size]='"small"'></ogms-file-uploader> -->
    <br>

    <!-- <ogms-file-uploader-form-item [label]='"test file"' [ngModel]='fileId' (ngModelChange)='onUploaded($event)' [uploadInput]="uploadInput"></ogms-file-uploader-form-item> -->

    <br>
    <ngx-mat-cascader 
    placeholder='Select' 
    [(data)]='cascaderData' 
    [(ngModel)]='cascaderValue' 
    (ngModelChange)='onCascaderChange($event, "ngModelChange")'></ngx-mat-cascader>
    <br>
    <ngx-mat-cascader 
    placeholder='Select' 
    [(data)]='cascaderData' 
    [(value)]='cascaderValue' 
    (valueChange)='onCascaderChange($event, "valueChange")'></ngx-mat-cascader>
    <br>
    <ngx-mat-cascader 
    [formControl]='cascaderFC'
    placeholder='Select' 
    [(data)]='cascaderData'></ngx-mat-cascader>
    <br>
    
    <span octicon="mark-github" color="black" width="16"></span>
    <span octicon="mark-github" color="black" width="16"></span>
    <span octicon="link" color="black" width="16"></span>
    <span octicon="link"></span>

    <br>
    
    <!-- <ogms-handsome-table></ogms-handsome-table> -->

    <!-- <div id='map' style='width: 500px; height: 350px;'></div> -->
    <!-- <div #echartDOM id="echart-dom" style="width: 600px;height:400px;"></div> -->
</div>
