<div class='ogms-responsive-div'>
    <ogms-file-uploader id='uploader' [fileUploaderOptions]="fileUploaderOptions" (onFileUploading)="_onFileUpload($event)" (onFileUploadCompleted)='_onFileUploadCompleted($event)'
        (onClear)='_onClearUploaded()' [size]='"large"'></ogms-file-uploader>
    <ogms-file-uploader id='uploader' [fileUploaderOptions]="fileUploaderOptions" (onFileUploading)="_onFileUpload($event)" (onFileUploadCompleted)='_onFileUploadCompleted($event)'
        (onClear)='_onClearUploaded()'></ogms-file-uploader>
    <ogms-file-uploader id='uploader' [fileUploaderOptions]="fileUploaderOptions" (onFileUploading)="_onFileUpload($event)" (onFileUploadCompleted)='_onFileUploadCompleted($event)'
        (onClear)='_onClearUploaded()' [size]='"small"'></ogms-file-uploader>
    <!-- <nz-datepicker style='width: 250px;' [(ngModel)]='date' (ngModelChange)='onDateChange($event)' [nzFormat]='"YYYY-MM-DD"'></nz-datepicker> -->
    <br>
    <br>

    <ogms-file-uploader-form-item [label]='"test file"' [ngModel]='fileId' (ngModelChange)='onUploaded($event)' [fileUploaderOptions]="fileUploaderOptions"></ogms-file-uploader-form-item>

    <span [nz-tooltip]='"s"'>with tooltip</span>
</div>
