$width: 620px;
$dividerColor: #d2d2d2;
.form-container {
    padding-bottom: 20px;
    margin: 0 30px;
    &.basic-form-group {
        width: $width;
    }
}

.form-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    width: $width;
    >* {
        width: 100%; // align-items: center;
        flex: 1;
    }
    &.auth-group {
        label {
            flex: 0 1 30%;
        }
        mat-button-toggle-group {
            flex: 1 1 70%;
            display: flex;
            mat-button-toggle {
                flex: 1 1 auto;
            }
        }
    }
    &.calcu-instance-group{
        flex-direction: column;
        align-items: unset;
        width: 100%;
    }
}

mat-form-field {
    display: inline-block !important;
}

mat-chip {
    cursor: pointer;
}

.calcu-cfg-container{
    margin-top: 20px;
}