$width: 620px;
$dividerColor: #d2d2d2;
.form-container {
    padding-bottom: 20px;
    margin: 0 30px 35px;
}

.form-item {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
    >* {
        width: 100%; // align-items: center;
    }
}

mat-chip {
    cursor: pointer;
}

.ms-chip-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    label {
        margin-right: 35px;
    }
    mat-chip-list {
        flex: 1;
    }
}