:host {
    height: 100%;
    overflow: scroll;
}

#container {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-flow: row nowrap;
    #left {
        flex: 1;
    }
    #right {
        flex: 0 0 250px;
    }
}

#sider-nav {
    position: fixed;
    bottom: 10px;
    visibility: hidden;
}