
.activeSub li.ba-sidebar-sublist-item:before{
    display: block;
    float:left;
    width:2px;
    height:40px;
    position:absolute;
    content:'';
    left:0;
    background:#00a3ec;
}
#div_hover ul{
     padding: 5px 0;
     margin: 0;
}
ul li{
    list-style: none;
}
#div_hover ul a.al-sidebar-list-link {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
}