<div class="topic-list">
    <mat-button-toggle-group appearance="legacy">
        <mat-button-toggle>Created</mat-button-toggle>
        <mat-button-toggle>Followed</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-card *ngFor="let topic of topicList" class="topic-item">
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]='"/topics/" + topic._id'>
                    <span>{{topic.meta.name}}</span>
                </a>
            </mat-card-title> 
        </mat-card-header>

        <mat-card-content>
            <p [innerHTML] = "topic.meta.wikiHTML"> 
            </p>
        </mat-card-content>
        <mat-card-footer>
            <span style="float:left;padding-left:20px">
                Created By: 
                <a [routerLink]='"/user/" + topic.auth.userName'>{{topic.auth.userName}}</a>
            </span>
            <div style="float: right;padding-right:20px;">
                <span>
                    <mat-icon>star</mat-icon>
                    <span style="margin-right:30px">123</span>
                </span>
                <span>
                    <mat-icon>message</mat-icon>
                    <span>3</span>
                </span>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
