<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
        <ng-template #nzTabHeading>
            Models
        </ng-template>
        <div>
            <app-model-tool-lib-list></app-model-tool-lib-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Data
        </ng-template>
        <div>
            <app-data-tool-lib-list></app-data-tool-lib-list>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template #nzTabHeading>
            Map
        </ng-template>
        <div>

        </div>
    </nz-tab>
</nz-tabset>