<div class="py-lg">
    <div class="profile-left">
        <div class="mb-lg">
            <ng-container *ngIf="user">
                <div class="avatarHolder">
                    <img [attr.src]='user.avator'>
                </div>
                <h1 style="text-align:center"><span class="username">{{user.username}}</span></h1>

                <div class="line"></div>

                <div class="detail">
                    <p *ngIf="user.group" class="user_info" title="{{user.group}}">
                        <i class="group"></i>
                        <span class="ws">{{user.group}}</span>
                    </p>
                    <p *ngIf="user.location" class="user_info" title="{{user.location}}">
                        <i class="address"></i>
                        <span class="ws">{{user.location}}</span>
                    </p>
                    <p *ngIf="user.email" class="user_info">
                        <i class="email"></i>
                        <a href="mailto:{{user.email}}" title="{{user.email}}" class="ws">{{user.email}}</a>
                    </p>
                    <p *ngIf="user.url" class="user_info">
                        <mat-icon>link</mat-icon>
                        <a href="{{user.url}}" title="{{user.url}}" target="_blank" class="ws">{{user.url}}</a>
                    </p>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="profile-right">
        <mat-tab-group>
            <mat-tab label="Overview">
                <ng-template matTabContent>
                    <ogms-user-overview></ogms-user-overview>
                </ng-template>
            </mat-tab>
            <mat-tab label="Topics">
                <ng-template matTabContent>
                    <ogms-user-topics></ogms-user-topics> 
                </ng-template>
            </mat-tab>
            <mat-tab label="Solutions">
                <ng-template matTabContent>
                    <ogms-user-solutions></ogms-user-solutions> 
                </ng-template>
            </mat-tab>
            <mat-tab label="Results & Diagnostics">
                <ng-template matTabContent>
                    <ogms-user-tasks></ogms-user-tasks>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
