.wrapper {
    height: 100vh;
    width: 100%;
    padding: 0px;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 235px 0 auto;
    grid-template-rows: 50px auto;
    // overflow: hidden;
}

.header {
    /* autoprefixer: off */
    grid-column: 3/4;
    grid-row: 1/2;
    z-index: 999;
}

.sidebar {
    /* autoprefixer: off */
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: 999;
}

.content {
    /* autoprefixer: off */
    grid-column: 3/4;
    grid-row: 2/3;
    z-index: 999;
    overflow: hidden;
}