<ng-container *ngIf='solutions'>
    <ogms-doc-detail-template>
        <section class="doc">
            <div class="doc-title">Create Task</div>
            <div class="doc-body flex-box-row-nowrap">
                <article class="main-content flex-item-3">
                    <section>
                        <div class="section-header flex-box-row-nowrap">
                            <span class="title">Select Solution</span>
                            <span class="placeholder flex-item-1-1-auto"></span>
                        </div>
                        <div class="section-body">
                            <div>
                                <div class="content">Current: {{selectedSln? selectedSln.meta.name : 'No selected solution' }}</div>
                            </div>
                            <div class="table">
                                <nz-table #nzTable [nzDataSource]="solutions" [nzPageSize]="10">
                                    <thead nz-thead>
                                        <tr>
                                            <th nz-th nzExpand></th>
                                            <th nz-th>
                                                <span>Name</span>
                                            </th>
                                            <th nz-th>
                                                <span>Author</span>
                                            </th>
                                            <th nz-th>
                                                <span>Time</span>
                                            </th>
                                            <th nz-th>
                                                <span></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody nz-tbody>
                                        <ng-template ngFor let-data [ngForOf]="nzTable.data">
                                            <tr nz-tbody-tr>
                                                <td nz-td nzExpand>
                                                    <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
                                                </td>
                                                <td nz-td>{{data.meta.name}}</td>
                                                <td nz-td>{{data.auth.userName | undefined}}</td>
                                                <td nz-td>{{data.meta.time | date:'yyyy-MM-dd'}}</td>
                                                <td nz-td>
                                                    <a (click)="onSelectClick(data)">select</a>
                                                </td>
                                            </tr>
                                            <tr nz-tbody-tr *ngIf="data.expand">
                                                <td nz-td colspan="24">
                                                    <div class='section-body'>
                                                        <dl class='table-info'>
                                                            <div nz-row>
                                                                <dt nz-col [nzSpan]='4'>Authorization</dt>
                                                                <dd nz-col [nzSpan]='8'>{{data.auth.src | resourceSrc}}</dd>
                                                                <dt nz-col [nzSpan]='4'>Comparison type</dt>
                                                                <dd nz-col [nzSpan]='8'>{{data.cmpCfg.keynote.direction==='multi'?'Contrast with each other':'Self contrast'}}</dd>
                                                                <dt nz-col [nzSpan]='4'>Description</dt>
                                                                <dd nz-col [nzSpan]='20'>{{data.meta.desc}}</dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="section-header flex-box-row-nowrap">
                            <span class="title">Config Parameter</span>
                            <span class="placeholder flex-item-1-1-auto"></span>
                        </div>
                        <div class="section-body">
                            <div *ngIf="selectedSln; else noSelect">
                                <nz-collapseset nzAccordion [nzBordered]="false">
                                    <nz-collapse *ngFor="let model of selectedSln.cmpCfg.models" [nzTitle]="model.MDL.meta.name" [nzActive]="false">
                                        <nz-tabset>
                                            <nz-tab *ngFor="let param of model.MDL.params">
                                                <ng-template #nzTabHeading>
                                                    {{param.name}}
                                                </ng-template>
                                                <section>
                                                    <section>
                                                        <span>
                                          <b>Option A.</b> Upload your parameter file</span>
                                                    </section>
                                                    <span style='width: 20px; display: inline-block;'></span>
                                                    <span class="space">
                                        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                                          <button nz-button>
                                            <i class="anticon anticon-upload"></i>
                                            <span>Click to Upload</span>
                                                    </button>
                                                    </nz-upload>
                                                    </span>
                                                </section>
                                                <section>
                                                    <section>
                                                        <span>
                                          <b>Option B.</b> Use other users' parameter config</span>
                                                    </section>
                                                    <section>
                                                        <div nz-row>
                                                            <div nz-col [nzSpan]='8' class="param-card" *ngFor="let task_param of paramCards">
                                                                <div class="modelname">{{task_param.name}}</div>
                                                                <div>
                                                                    <span class="right-margin">Author:</span>
                                                                    <nz-tag>{{task_param.author}}</nz-tag>
                                                                </div>
                                                                <div>
                                                                    <span class="right-margin">Temporal:</span>
                                                                    <nz-tag>{{task_param.temporal}}</nz-tag>
                                                                </div>
                                                                <div>
                                                                    <nz-button-group>
                                                                        <button nz-button [nzType]="'primary'" [nzSize]="'small'">
                                                  <i class="anticon anticon-info-circle-o"></i>
                                                  <span>Preview</span>
                                                </button>
                                                                        <button nz-button [nzType]="'default'" [nzSize]="'small'">
                                                  <i class="anticon anticon-edit"></i>
                                                  <span>Use</span>
                                                </button>
                                                                        <button nz-button [nzType]="'default'" [nzSize]="'small'">
                                                  <i class="anticon anticon-edit"></i>
                                                  <span>Download</span>
                                                </button>
                                                                    </nz-button-group>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </section>
                                                    <!-- <nz-card>
                                        <ng-template #title>
                                          <div class="title">Config Examples</div>
                                        </ng-template>
                                        <ng-template #body>
                                            <div  *ngFor="let task_param of paramCards">
                                              <div class="param-card">
                                                <div class="modelname row">{{task_param.name}}</div>
                                                <div>
                                                    <span class="right-margin">Author:</span>
                                                    <nz-tag>{{task_param.author}}</nz-tag>
                                                </div>
                                                  <div>
                                                    <span class="right-margin">Temporal:</span>
                                                    <nz-tag>{{task_param.temporal}}</nz-tag>
                                                  </div>
                                                <div class="row">
                                                  <button nz-button [nzType]="'primary'" [nzSize]="size">
                                                    <i class="anticon anticon-info-circle-o"></i>
                                                    <span>Detail</span>
                                                  </button>
                                                  <button nz-button [nzType]="'default'" [nzSize]="size">
                                                    <i class="anticon anticon-edit"></i>
                                                    <span>Config</span>
                                                  </button>
                                                </div>
                                              </div>
                                            </div>
                                        </ng-template>
                                      </nz-card> -->
                                                </section>
                                            </nz-tab>
                                        </nz-tabset>
                                    </nz-collapse>
                                </nz-collapseset>
                            </div>
                            <ng-template #noSelect>
                                <span class="section-none">No select solution</span>
                            </ng-template>
                        </div>
                    </section>
                    <section>
                        <div class="section-header flex-box-row-nowrap">
                            <span class="title">Config Server</span>
                            <span class="placeholder flex-item-1-1-auto"></span>
                        </div>
                        <div class="section-body">
                            <nz-radio-group [(ngModel)]="radioValue">
                                <label nz-radio [nzValue]="'A'">
                                  <span>Order By Task</span>
                                </label>
                                <label nz-radio [nzValue]="'B'">
                                  <span>Order By Model</span>
                                </label>
                            </nz-radio-group>
                        </div>
                    </section>
                    <section class="section-submit">
                        <button nz-button [nzType]="'primary'" [nzSize]="large" (click)="onSubmitTask()">
                          <i class="anticon anticon-plus"></i>
                          <span>Add To Task</span>
                        </button>
                    </section>
                </article>
            </div>
        </section>
    </ogms-doc-detail-template>

    <ogms-footer></ogms-footer>
</ng-container>