.main-content {
    font-size: 16px;
    :host ::ng-deep table {
        padding-top: 18px;
    }



    :host ::ng-deep ant-card-body {
        height: 160px;
    }

    .table {
        margin-top: 16px;
    }

    section {
        padding-bottom: 12px;
    }
    
    .section-none {
        font-size: 16px;
    
    }

    .section-submit {
        text-align: center;
    }

    :host ::ng-deep space {
        padding: auto 12px auto 12px;
    }

    .avatar {
        color: white; 
        background-color: #ff7a45;
    }
}

:host ::ng-deep .ant-card {
    width: 500px;
}

.param-card {
    width: 33.3%;
    height: 170px;
    border: 1px solid #e9e9e9;
    padding: 10px 16px;

    div {
        margin-bottom: 14px;
    }
    
    .normal {
        font-size: 14px;
    }
    
    .modelname {
        font-size: 16px;
        font-weight: 500;
    }

    .avatar {
        font-size: 14px;
        color:#f56a00;
        background-color:#fde3cf;
    }
    
    .center {
        height: 22px;
        line-height: 22px;
    }
    
    .right-margin {
        margin-right: 10px;
    }
    
    :host ::ng-deep .ant-btn {
        margin-right: 12px;
    }
}
