<div class='ogms-responsive-div'>
    <nz-steps [(nzCurrent)]="currentStep">
        <nz-step [nzTitle]="'Basic information'"></nz-step>
        <nz-step [nzTitle]="'Participants'"></nz-step>
        <nz-step [nzTitle]="'Computing'"></nz-step>
        <nz-step [nzTitle]="'Comparison'"></nz-step>
    </nz-steps>

    <div class='steps-content'>
        <!-- basic Info -->
        <div [hidden]='currentStep !== 0'>
            <h3 class='step-title'>Solution Meta Information</h3>
            <div class='ogms-form-item' nz-row>
                <span nz-col nzSpan='6'>Name</span>
                <div nz-col nzSpan='18'>
                    <!-- <input nz-input style='width: 530px;' [(ngModel)]='cmpTask.meta.name'> -->
                </div>
            </div>
            <div class='ogms-form-item' nz-row>
                <span nz-col nzSpan='6'>Description</span>
                <div nz-col nzSpan='18'>
                    <!-- <textarea nz-input style='width: 530px;' [(ngModel)]='cmpTask.meta.desc' [nzAutosize]="{minRows: 2, maxRows: 6}"></textarea> -->
                </div>
            </div>
        </div>

        <!-- participants -->
        <!-- TODO search -->
        <div [hidden]='currentStep !== 1'>
            <h3 class='step-title'>Select Participants</h3>
            <div>
                <div *ngFor='let ms of msAll' class='ms-item' [ngClass]='{"checked": ms.checked}' (click)='onMSChecked(ms)'>
                    <span class='checked-label'>
                        <i *ngIf='ms.checked' class="anticon anticon-check"></i>
                    </span>
                    <span>{{ms?.MDL?.meta?.name}}</span>
                </div>
            </div>
            <nz-pagination *ngIf='msCount > 25' [(nzPageIndex)]="msPageNum" [nzTotal]="msCount" [nzSize]="'small'"></nz-pagination>
        </div>

        <!-- computing cfg -->
        <div [hidden]='currentStep !== 2'>
            <div class='step-title flex-box-row-nowrap'>
                <h3>Computing Configuration</h3>
                <span class='flex-item-1-1-auto'></span>
                <span class='dropdown-filter'>
                    <nz-dropdown [nzTrigger]="'click'">
                        <span class="ant-dropdown-link" nz-dropdown>
                            Layout&nbsp;&nbsp;
                            <i class="anticon anticon-down"></i>
                        </span>
                <ul nz-menu>
                    <li nz-menu-item *ngFor='let item of computeLayout' (click)='onComputeLayoutChange(item)'>
                        <span class='checked-label'>
                                    <i *ngIf='item.checked' class="anticon anticon-check"></i>
                                </span>
                        <span>{{item.label}}</span>
                    </li>
                </ul>
                </nz-dropdown>
                </span>
            </div>
            <div>
                <div>
                    <span *ngFor='let ms of msSelected' class='topic model-topic' (click)='addInstance(ms)'>{{ms?.MDL?.meta?.name}}</span>
                </div>

                <!-- 公共计算配置模板 -->
                <ng-template>
                    <div nz-row>
                        <div nz-col nzSpan='6'>
                            <label for='factor'>I want to study the impact of:</label>
                        </div>
                        <div nz-col nzSpan='18'>
                            <nz-radio-group formControlName='factor'>
                                <label nz-radio [nzValue]="'TIME'">
                                    <span>time</span>
                                </label>
                                <label nz-radio [nzValue]="'SPATIAL'">
                                    <span>spatial</span>
                                </label>
                                <label nz-radio [nzValue]="'PARAMETER'">
                                    <span>parameter</span>
                                </label>
                            </nz-radio-group>
                        </div>
                    </div>
                </ng-template>

                <ng-container *ngIf='selectedComputeLayout === "Golden"'>
                    <ogms-cmp-tabs-view [config]='config' [childComponents]='childComponents'></ogms-cmp-tabs-view>
                </ng-container>

                <ng-container *ngIf='selectedComputeLayout === "Collapse"'>
                    <nz-collapse>
                        <ng-container *ngFor="let msInstance of msInstances">
                            <nz-collapse-panel [nzHeader]="msInstance?.meta?.name">
                                <!-- <ogms-calcu-cfg (onValidationChange)='onValidationChange($event)' (onInstanceChange)='onInstanceChange($event)'></ogms-calcu-cfg> -->
                            </nz-collapse-panel>
                        </ng-container>
                    </nz-collapse>
                </ng-container>

                <ng-container *ngIf='selectedComputeLayout === "Tab"'>
                    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                        <div *ngFor='let msInstance of msInstances'>
                            <nz-tab>
                                <ng-template #nzTabHeading>
                                    {{msInstance?.meta?.name}} &nbsp;&nbsp;&nbsp;
                                    <i class="anticon anticon-cross" (click)="removeMSInstance(msInstance)"></i>
                                </ng-template>
                                <div>
                                    <!-- <ogms-calcu-cfg [msInstance]='msInstance' (onValidationChange)='onValidationChange($event)' (onInstanceChange)='onInstanceChange($event)'></ogms-calcu-cfg> -->
                                </div>
                            </nz-tab>
                        </div>
                    </nz-tabset>
                </ng-container>
            </div>
        </div>

        <!-- cmp cfg -->
        <div [hidden]='currentStep !== 3'>
            <div class='step-title flex-box-row-nowrap'>
                <h3>Comparison Configuration</h3>
                <!-- <span class='flex-item-1-1-auto'></span> -->
                <span style='margin-left: 30px;'>
                    <i style='cursor: pointer;' (click)='addCmpObj()' class='icon ion-plus-round'></i>
                </span>
            </div>

            <ng-container *ngIf='cmpTask.cmpObjs.length === 0'>
                <p class='ogms-form-item'>No comparison feature created!</p>
            </ng-container>

            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel *ngFor='let cmpObj of cmpTask.cmpObjs' [nzHeader]="cmpObj.meta.name" [nzActive]="true">
                    <div style='margin: 0 20px;'>
                        <ogms-cmp-obj-cfg [cmpObj]='cmpObj' [msInstances]='msInstances' (onCmpObjChange)='onCmpObjChange($event)' (onCmpObjCompleted)='onCmpObjCompleted()'></ogms-cmp-obj-cfg>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>

    <div class="steps-action">
        <button nz-button [nzType]="'default'" (click)="changeStep(currentStep-1)" [disabled]="currentStep === 0">
                        Previous
                    </button>
        <button nz-button [nzType]="'default'" (click)="changeStep(currentStep+1)" *ngIf="currentStep < 4 - 1" [disabled]='nextDisabled'>
                        Next
                    </button>
        <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="currentStep ===  4 - 1" [disabled]='doneDisabled'>
                        Save
                    </button>
    </div>

    <!-- add instance modal -->
    <ng-container *ngIf='msAdding'>
        <nz-modal [nzVisible]="__isMSModalVisible" [nzTitle]='"Add calculate instance of "+ msAdding?.MDL?.meta?.name + "?"' [nzContent]="modalContent" (nzOnCancel)="msCancel()" (nzOnOk)='msOK()' [nzOkText]='"Add"' [nzCancelText]='"Cancel"'>
            <ng-template #modalContent>
                <div class='ogms-form-item' nz-row>
                    <span nz-col nzSpan='6'>Name</span>
                    <div nz-col nzSpan='18'>
                        <input nz-input [(ngModel)]='addingName'>
                    </div>
                </div>
                <div class='ogms-form-item' nz-row>
                    <span nz-col nzSpan='6'>Description</span>
                    <div nz-col nzSpan='18'>
                        <textarea nz-input [(ngModel)]='addingDesc' [nzAutosize]="{minRows: 2, maxRows: 6}"></textarea>
                    </div>
                </div>
            </ng-template>
        </nz-modal>
    </ng-container>

    <!-- add cmp modal -->
    <nz-modal [nzVisible]="__isCmpObjModalVisible" [nzTitle]='"Add a comparison object"' [nzContent]="modalContent" (nzOnCancel)="cmpObjCancel()" (nzOnOk)='cmpObjOK()' [nzOkText]='"Add"' [nzCancelText]='"Cancel"'>
        <ng-template #modalContent>
            <div class='ogms-form-item' nz-row>
                <span nz-col nzSpan='6'>Name</span>
                <div nz-col nzSpan='18'>
                    <input nz-input [(ngModel)]='addingName'>
                </div>
            </div>
            <div class='ogms-form-item' nz-row>
                <span nz-col nzSpan='6'>Description</span>
                <div nz-col nzSpan='18'>
                    <textarea nz-input [(ngModel)]='addingDesc' [nzAutosize]="{minRows: 2, maxRows: 6}"></textarea>
                </div>
            </div>
        </ng-template>
    </nz-modal>
</div>

