#data-tab-content {
    height: 100%;
}

.flex-col-div {
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

#data-list-div {
    flex: 1;
}

#upload-progress {
    display: none;
}

#data-list-div li div {
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid rgba(97, 97, 97, 0.07);
}

.selected-li,
#data-list-div li:hover {
    background: #F3F3F3;
    color: #285eb8;
    cursor: pointer;
}

app-right-click-menu {
    position: fixed;
    z-index: 99;
    display: none;
}