<!-- 这个页面是静态页面 -->
<div ogms-rx-box class='card-box'>
    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Taylor diagram</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/taylor-diagram.jpg'>
            </div>
            <!-- <mat-card-content>
                <p></p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Bias contour map</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/bias-contour-map.png'>
            </div>
            <!-- <mat-card-content>
                <p></p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Sub-region bias contour map</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/sub-region-bias-contour-map.png'>
            </div>
            <!-- <mat-card-content>
                    <p></p>
                </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Heat map</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/heat-map.png'>
            </div>
            <!-- <mat-card-content>
                <p></p>
            </mat-card-content> -->
            <mat-card-actions class='mat-card-actions'>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Sub-region line chart</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/sub-region-line-chart.png'>
            </div>
            <!-- <mat-card-content>
                <p></p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Box diagram</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/box-diagram.png'>
            </div>
            <!-- <mat-card-content>
                <p></p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class='card'>
        <mat-card class='mat-card'>
            <div matRipple>
                <mat-card-header>
                    <mat-card-title>Line chart</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src='assets/img/cmp/line-chart.jpg'>
            </div>
            <!-- <mat-card-content>
                        <p></p>
                    </mat-card-content> -->
            <mat-card-actions>
                <button mat-button color='primary'>Star</button>
                <button mat-button color='primary'>Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
