<div class="home-model-main">
  <nz-card nzNoHovering [nzBordered]="false">
    <ng-template #title>
      <h3>Model</h3>
    </ng-template>
    <ng-template #extra>
      <a>More</a>
    </ng-template>
    <ng-template #body>
        <ogms-home-model-card [model]="models[0]"></ogms-home-model-card>
        <ogms-home-model-card [model]="models[1]"></ogms-home-model-card>
        <ogms-home-model-card [model]="models[2]"></ogms-home-model-card>
        <ogms-home-model-card [model]="models[3]"></ogms-home-model-card>
        <ogms-home-model-card [model]="models[4]"></ogms-home-model-card>
        <ogms-home-model-card [model]="models[5]"></ogms-home-model-card>
    </ng-template>
  </nz-card>
</div>