<ng-template #template let-item='item'>
    <div class='list-item'>
        <span class='panel-item-header'>
            <a [routerLink]='"/topics/" + item._id'>{{item.meta.name}}</a>
        </span>
        <div class='panel-item-body'>
            <p>{{item.meta.wikiMD | stringLimit: 180 | description}}</p>
        </div>
        <div class='panel-item-footer'>
            <span>
                <mat-icon>person</mat-icon>
                <a [routerLink]='"/user/" + item.auth.userName'>{{item.auth.userName}}</a> 
            </span>
            <span>
                <mat-icon>star</mat-icon>
                <span>654</span>
            </span>
        </div>
    </div>
</ng-template>

<div ogms-rx-box *ngIf='topicList else loadingTemp'>
    <ogms-cards-template [template]='template' [list]='topicList' [count]='topicCount' (onPageChange)='onPageChange($event)'></ogms-cards-template>
    <button id='create-btn' [routerLink]='"./create"' mat-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
</div>

<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
