@import '../../../../assets/css/my/varyable';

.list-item {
    border: 1px solid $cardBorderColor;
    border-radius: 5px;
    padding: 20px;
    margin: -1px 0 0 -1px;
    display: flex;
    flex-flow: column nowrap;
    // align-items: stretch;
    height: 100%;
    .panel-item-header {
        padding: 0 0 10px;
        font-weight: 400;
    }
    .panel-item-body {
        flex: 1 1 auto;
    }
    .panel-item-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        span{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
    }
}
.list-item:hover {
    border: 1px solid $cardHoverBorderColor;
    z-index: 1;
}

#create-btn {
    position: absolute;
    right: 30px;
    top: -28px;
    z-index: 100;
}