<ng-template #template let-item='item'>
    <mat-card class="list-item">
        <mat-card-header>
            <mat-card-title class='panel-item-header f4'>
                <a [routerLink]='"/topics/" + item._id' title="{{item.meta.name}}">{{item.meta.name}}</a>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class='panel-item-body'>{{item.meta.desc | stringLimit: 180 | description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <div class='panel-item-footer'>
                <span>
                    <mat-icon>person</mat-icon>
                    <a class="lh-2" [routerLink]='"/user/" + item.auth.userName'>{{item.auth.userName}}</a>
                </span>
                <span>
                    <mat-icon>star</mat-icon>
                    <span class="lh-2">654</span>
                </span>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-template>

<div class="list_container" ogms-rx-box *ngIf='topicList else loadingTemp'>
    <p class="h1">Topic List <span class="h5">Geographic issues of concern</span></p> 
    <ogms-cards-template [template]='template' [list]='topicList' [count]='topicCount' (onPageChange)='onPageChange($event)'></ogms-cards-template>
    <button id='create-btn' (click)="ceateTopic()" mat-fab color="primary" title="Create a new research topic">
    <!-- <button id='create-btn' (click)="ceateTopic()" [routerLink]='"./create"' mat-fab color="primary" title="Create a new research topic"> -->
        <mat-icon>add</mat-icon>
    </button>
</div>

<ng-template #loadingTemp>
    <div ogms-loading>
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
