@import '../../../../assets/css/my/varyable';

.list_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.list-item {
    border: 1px solid $cardBorderColor;
    border-radius: 5px;
    padding: 20px;
    margin: -1px 0 0 -1px;
    display: flex;
    flex-flow: column nowrap;
    // align-items: stretch;
    height: 100%;

    .panel-item-header {
        padding: 0 0 10px;
        margin: 0 -16px;

        a {
            height: 50px;
            display: -webkit-box;
            overflow: hidden;
        }
    }

    .panel-item-body {
        flex: 1 1 auto;
        height: 80px;
        overflow: hidden;
        line-height: 2em;
    }

    .panel-item-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        span {
            display: flex;
            flex-flow: row nowrap;
        }
    }
}

.list-item:hover {
    border: 1px solid $cardHoverBorderColor;
    z-index: 1;
}

#create-btn {
    position: absolute;
    right: 30px;
    top: -28px;
    z-index: 100;
}

.lh-2 {
    line-height: 2em;
}
