<ul *ngIf='menuCfg' nz-menu [nzMode]="'vertical'" id='id' (click)='onClickMenu($event)'>
    <ng-container *ngFor='let subMenu of menuCfg'>
        <li nz-submenu *ngIf='subMenu.type === 1'>
            <span title><i *ngIf='subMenu.icon' class='anticon anticon-{{subMenu.icon}}'></i>{{subMenu.title}}</span>
            <app-context-menu [id]='subMenu.title + "-children"' [menuCfg]='subMenu.children'></app-context-menu>
        </li>
        <li nz-menu-item *ngIf='subMenu.type === 2' (click)='$event.preventDefault();$event.stopPropagation();publishClick($event,subMenu.callback,subMenu.params)'>
            {{subMenu.title}}
        </li>
    </ng-container>
</ul>