:host ::ng-deep .ant-carousel .slick-slide {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background: #40a9ff;
    color: #fff;
    overflow: hidden;
  }

  h3 {
    color: #fff;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }