<nz-carousel nzAutoPlay>
  <div nz-carousel-content>
      <div nz-row>
        <div>
            <div class="text-primary">Run all kinds of model online</div>
            <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
        </div>
      </div>
  </div>
  <div nz-carousel-content>
      <div nz-row>
        <div>
            <div class="text-primary">Provide your own Issue</div>
            <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
        </div>
      </div>
  </div>
  <div nz-carousel-content>
      <div nz-row>
          <div>
              <div class="text-primary">Create solution to compare issue</div>
              <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
          </div>
        <div class="text-primary"></div>
      </div>
  </div>
  <div nz-carousel-content>
      <div nz-row>
          <div>
              <div class="text-primary">Config and Compute the task user-defined</div>
              <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
          </div>
      </div>
  </div>
</nz-carousel>