<nz-carousel nzAutoPlay>
  <div nz-carousel-content>
    <div nz-row>
      <div class="text-primary">Run all kinds of model online</div>
    </div>
  </div>
  <div nz-carousel-content>
    <div nz-row>
      <div class="text-primary">Build your own global data config</div>
    </div>
  </div>
  <div nz-carousel-content>
    <div nz-row>
      <div class="text-primary">Create perfect solution to your compare problem</div>
    </div>
  </div>
  <div nz-carousel-content>
    <div nz-row>
      <div class="text-primary">Parallel compute your task fast and stable</div>
    </div>
  </div>
</nz-carousel>