<div class="bg">
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content>
      <div nz-row>
        <div>
          <div class="text-first">Run all kinds of model online</div>
          <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
        </div>
      </div>
    </div>
    <div nz-carousel-content>
      <div nz-row>
        <div>
          <div class="text-first">Provide your own Topic</div>
          <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
        </div>
      </div>
    </div>
    <div nz-carousel-content>
      <div nz-row>
        <div>
          <div class="text-first">Create solution to compare topic</div>
          <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
        </div>
        <div class="text-first"></div>
      </div>
    </div>
    <div nz-carousel-content>
      <div nz-row>
        <div>
          <div class="text-first">Config and Compute the task user-defined</div>
          <div class="text-second">I am the detail information the detail information the detail information the detail information</div>
        </div>
      </div>
    </div>
  </nz-carousel>
</div>