<!-- <footer class='footer'>
    <div class='placeholder'>
    </div>
    <div class='footer-body flex-box-row-nowrap'>
        <div class='footer-left'>
            <a href='http://geomodeling.njnu.edu.cn/GeoModeling/En/help/aboutus.html'>&#169; 2018 OGMS</a>
        </div>
        <span class='flex-item-1-1-auto'></span>
        <div class='footer-center'>
            <img routerLink='/home' src="assets/img/app/logo.png" height="25" />
        </div>
        <span class='flex-item-1-1-auto'></span>
        <div class='footer-right'>
            <a href='http://geomodeling.njnu.edu.cn/GeoModeling/En/help/aboutus.html'>About</a>
        </div>
    </div>
</footer> -->

<footer>
    <a id='logo-footer' href='http://geomodeling.njnu.edu.cn'>
        <img routerLink='/home' src="assets/img/app/logo-blue-white.png" height="25" />
        <span>&nbsp;&#169; 2018</span>
    </a>
    <a href='http://opengmsteam.com/'>About</a>
</footer>