* {
    font-size: 12px;
}

.footer {
    margin: 0 auto;
}

.placeholder {
    height: 40px;
    background: #fff;
    margin: 0 auto;
}

.footer-body {
    position: relative;
    background: #fff;
    padding: 50px 0 30px;
    // border-top: 1px #e1e4e8 solid !important;
    .footer-left {
        position: absolute;
        left: 0;
        height: 25px;
        line-height: 25px;
        font-size: 12px !important;
    }
    .footer-right {
        position: absolute;
        right: 0;
        height: 25px;
        line-height: 25px;
        font-size: 12px !important;
    }
    .footer-center {
        img {
            cursor: pointer;
        }
    }
}