.input-group {
    width: 100%;
    // margin-bottom: 15px;
    margin: 5px 0;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
}

.input-group .form-control {
    display: flex;
    border: none !important;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
}

.input-group .form-control input {
    flex: 1;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px solid #49a9ee !important;
    border-right: 0;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group>span {
    border-radius: 0;
}

.input-group-btn:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

button.btn.btn-success {
    background: #49a9ee;
    border-color: #49a9ee;
}

.btn {
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    // transition: all .1s ease;
    padding: 0.344rem 1rem;
    font-size: 0.9rem;
}

.form-progress {
    position: absolute;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 0;
    opacity: 0.2;
}

.form-progress-uploading {
    background: #67b2ff;
}

.form-progress-failed {
    background: #ff4e4e;
}

.input-group-my {
    position: relative;
    i {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        color: #9199ac;
        line-height: inherit;
        cursor: pointer;
        z-index: 5;
    }
    i:hover {
        color: #656a77;
    }
}

.default {
    height: 30px;
    line-height: inherit !important;
}

.large {
    height: 35px;
    line-height: inherit !important;
}

.small {
    height: 25px;
    line-height: inherit !important;
}