<div class="container flex-box-col-nowrap max-height">
    <nz-steps [(nzCurrent)]="currentStep">
        <nz-step [nzTitle]="'Basic Information'" [nzDescription]=''></nz-step>
        <nz-step [nzTitle]="'Select Participants'" [nzDescription]=''></nz-step>
        <nz-step [nzTitle]="'Configure Comparison Object'" [nzDescription]=''></nz-step>
        <nz-step [nzTitle]="'Configure Data Source'" [nzDescription]=''></nz-step>
        <!-- <nz-step [nzTitle]="'Configure Comparison Data'" [nzDescription]=''></nz-step> -->
    </nz-steps>

    <div class="steps-content flex-box-col-nowrap flex-item-1-1-auto debug-border debug-background">
        <div class='' [hidden]='currentStep !== 0'>
            <form nz-form [nzType]="'horizontal'">
                <h4 style='margin: 10px 0;'>Task Basic Information:</h4>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="3">
                        <label>Name</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12">
                        <nz-input [(ngModel)]='cmpTask.meta.name' (ngModelChange)='updateStepyValid()' name='cmpTask-name'></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="3">
                        <label>Description</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12">
                        <nz-input [(ngModel)]='cmpTask.meta.desc' (ngModelChange)='updateStepyValid()' name='cmpTask-desc'></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="3">
                        <label>Permission</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12">
                        <nz-radio-group [(ngModel)]="cmpTask.auth.src" (ngModelChange)='updateStepyValid()' name='cmpTask-auth' [nzSize]='"large"'>
                            <label nz-radio-button [nzValue]="3"><span>Private</span></label>
                            <label nz-radio-button [nzValue]="2"><span>Public</span></label>
                        </nz-radio-group>
                    </div>
                </div>
            </form>
        </div>

        <div class='' [hidden]='currentStep !== 1'>
            <ogms-form-participants [selectMode]='__selectMode' (onParticipantsChange)='onParticipantsChange($event)'></ogms-form-participants>
        </div>

        <div class='' [hidden]='currentStep !== 2'>
            <h4 style='margin: 10px 0;'>Configure Comparison Object:</h4>
            <nz-collapseset [nzAccordion]='true'>
                <nz-collapse *ngFor="let cmpObj of cmpTask.cmpCfg.cmpObjs; let i=index" [nzActive]="i===0">
                    <div collapse-title>
                        <div class='flex-box-row-nowrap'>
                            <span>
                                {{cmpObj.meta.name}}
                            </span>
                            <span class='flex-item-1-1-auto'></span>
                        </div>
                    </div>

                    <div nz-row nz-form-item [nzGutter]='18'>
                        <div nz-col [nzSpan]='8'>
                            <label>Name: </label>
                            <nz-tag>{{cmpObj.meta.name}}</nz-tag>
                        </div>
                        <div nz-col [nzSpan]='8'>
                            <label>Description: </label>
                            <nz-tag>{{cmpObj.meta.desc}}</nz-tag>
                        </div>
                        <div nz-col [nzSpan]='8'>
                            <label>Schama Name: </label>
                            <nz-tag>{{cmpObj.schemaName}}</nz-tag>
                        </div>
                    </div>
                    <div nz-form-item>
                        <label>Comparison Method</label>
                        <nz-tag *ngFor='let method of cmpObj.methods'>{{method}}</nz-tag>
                    </div>

                    <h5 style='margin: 10px 0;'>Mapping Comparison Object:</h5>
                    <nz-collapseset [nzBordered]="false" [nzAccordion]='true'>
                        <nz-collapse *ngFor="let dataRefer of cmpObj.dataRefers; let i=index" [nzActive]="i===0">
                            <div collapse-title>
                                <div class='flex-box-row-nowrap'>
                                    <span>
                                        {{dataRefer.msName}}
                                    </span>
                                    <span class='flex-item-1-1-auto'></span>
                                </div>
                            </div>
                            <div>
                                <nz-radio-group #dataSrc [(ngModel)]='dataRefer.attached.src' (ngModelChange)='updateStepyValid()' [nzSize]='"small"' style='margin-bottom: 15px;'>
                                    <label nz-radio-button [nzValue]="''"><span>Not Participate</span></label>
                                    <label nz-radio-button [nzValue]="'Computing'"><span>Computing</span></label>
                                    <label nz-radio-button [nzValue]="'Uploading'"><span>Uploading</span></label>
                                </nz-radio-group>
                                <div>
                                    <ng-container *ngIf='dataSrc._value === ""'>
                                        Don't participant this comparison object!
                                    </ng-container>

                                    <ng-container *ngIf='dataSrc._value === "Computing"'>
                                        <ng-container *ngFor='let ms of __ms'>
                                            <div *ngIf='ms.msId === dataRefer.msId'>
                                                <div style='margin-bottom: 15px;'>
                                                    Select event:
                                                    <nz-select [ngModel]='dataRefer.eventName' style='width: 150px' (ngModelChange)='onSelectEvent($event, dataRefer)' nzAllowClear>
                                                        <nz-option *ngFor='let option of ms.data.MDL.IO.data' [nzLabel]='option.id' [nzValue]='option'></nz-option>
                                                    </nz-select>
                                                </div>
                                                <div style='margin-bottom: 15px;'>
                                                    Select field:
                                                    <ng-container *ngIf='dataRefer.attached.schema'>
                                                        <ng-container *ngIf='dataRefer.attached.schema.src === 0 && dataRefer.attached.schema.type === "TABLE_RAW"'>
                                                            <nz-select [(ngModel)]="dataRefer.data.field" (ngModelChange)='updateStepyValid()' style='width: 150px'>
                                                                <nz-option *ngFor='let col of dataRefer.attached.schema.structure' [nzLabel]='col.id' [nzValue]="col.id">
                                                                </nz-option>
                                                            </nz-select>
                                                        </ng-container>

                                                        <ng-container *ngIf='dataRefer.attached.schema.src === 0 && dataRefer.attached.schema.type === "ASCII_GRID_RAW"'>
                                                            <nz-select [(ngModel)]="dataRefer.data.field" (ngModelChange)='updateStepyValid()' style='width: 150px'>
                                                                <nz-option [nzLabel]='"Default"' [nzValue]="'DEFAULT'">
                                                                </nz-option>
                                                            </nz-select>
                                                        </ng-container>

                                                        <ng-container *ngIf='dataRefer.attached.schema.src === 0 && dataRefer.attached.schema.type === "SHAPEFILE_RAW"'>

                                                        </ng-container>

                                                        <ng-container *ngIf='dataRefer.attached.schema.src === 0 && dataRefer.attached.schema.type === "ASCII_GRID_RAW_BATCH"'>
                                                            <nz-select [(ngModel)]="dataRefer.data.field" (ngModelChange)='updateStepyValid()' style='width: 150px'>
                                                                <nz-option [nzLabel]='"Default"' [nzValue]="'DEFAULT'">
                                                                </nz-option>
                                                            </nz-select>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>

                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf='dataSrc._value === "Uploading"'>
                                        <ba-file-uploader id='uploader-{{dataRefer.eventName}}' nz-col [nzSpan]='12' [fileUploaderOptions]="fileUploaderOptions" (onFileUploading)="_onFileUpload($event, cmpObj.id, dataRefer.msId, dataRefer.eventName)" (onFileUploadCompleted)='_onFileUploadCompleted($event, cmpObj.id, dataRefer.msId, dataRefer.eventName)'
                                            (onClear)='_onClearUploaded(cmpObj.id, dataRefer.msId, dataRefer.eventName)'></ba-file-uploader>
                                    </ng-container>
                                </div>
                            </div>
                        </nz-collapse>
                    </nz-collapseset>
                </nz-collapse>
            </nz-collapseset>
        </div>

        <div class='' [hidden]='currentStep !== 3'>
            <div class='flex-box-col-nowrap'>
                <h4>Configure Data Source</h4>
                <!-- <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="3">
                        <label>Data Source</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12">
                        <nz-radio-group [(ngModel)]="cmpTask.calcuCfg.dataSrc" (ngModelChange)='updateStepyValid()' name='cmpTask-auth' [nzSize]='"large"'>
                            <label nz-radio-button [nzValue]="'std'"><span>Standard Example</span></label>
                            <label nz-radio-button [nzValue]="'upload'"><span>Personal Upload</span></label>
                        </nz-radio-group>
                    </div>
                </div> -->
                <div nz-form-item nz-row *ngIf='cmpTask.calcuCfg.dataSrc === "std" && !__loading'>
                    <div nz-form-label nz-col [nzSpan]="3">
                        <label>Date Range</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="12">
                        <nz-datepicker style="width: 40%;" [(ngModel)]="startDate" (ngModelChange)="startDateChange()" [nzDisabledDate]='disableStartDate' [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'Start date'" name='start-date'></nz-datepicker>
                        <nz-datepicker style="width: 40%;" [(ngModel)]="endDate" (ngModelChange)="endDateChange()" [nzDisabledDate]='disableEndDate' [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'End date'" name='end-date'></nz-datepicker>
                    </div>
                </div>
                <div *ngIf='(cmpTask.calcuCfg.dataSrc === "std") else uploadStep' style='height: 400px; width: 600px;'>
                    <!-- <div id='{{cmpTask._id}}'></div> -->
                    <ogms-region-map [mode]='"write"' (afterDrawRect)='afterDrawRect()'></ogms-region-map>
                </div>
                <ng-template #uploadStep>

                </ng-template>
            </div>
        </div>
    </div>

    <div class="steps-action">
        <button nz-button [nzType]="'default'" (click)="changeStep(currentStep-1)" [disabled]="currentStep === 0">
                    <span>Previous</span>
                </button>
        <button nz-button [nzType]="'default'" (click)="changeStep(currentStep+1)" *ngIf="currentStep < 3" [disabled]='nextDisabled'>
                    <span>Next</span>
                </button>
        <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="currentStep === 3" [disabled]='doneDisabled'>
                    <span>Save</span>
                </button>
    </div>

    <ogms-form-cmp-objs-modal [ms]='selectedMS' [showModal]='__isCmpModalVisible' (onCancel)='modalCancel()' (onSubmit)='modalSubmit($event)'></ogms-form-cmp-objs-modal>

    <nz-modal [nzVisible]="__isConfirmVisible" [nzContent]="modalContent" [nzFooter]='modalFooter' (nzOnCancel)="handleCancel($event)">
        <ng-template #modalContent>
            <p style='margin: 15px; font-size: 18px'>Start this comparison task right now?</p>
            <div class='flex-box-row-nowrap'>
                <div class='flex-item-1-1-auto'></div>
                <div>
                    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
                    Later
                </button>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)">
                    Start Task
                </button>
                </div>
            </div>
        </ng-template>
    </nz-modal>
</div>