@import '../../shared/sass/auth';
$login-base-url: '/assets/img/login/';
$login-box-username-iamge: $login-base-url+'icon_user.png';
$login-box-password-iamge: $login-base-url+'icon_password.png';
$login-bg-iamge: $login-base-url+'bg.png';
$login-box-checkbox-iamge: $login-base-url+'icon2.png';
$login-bg1px-iamge: $login-base-url+'BG_1px.png';
.auth-main {
    width: 100%;
    overflow: hidden;
    background: #f8f8f8;
}

.website-header {
    height: 15%;
    min-height: 92px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .website-inline {
        width: 1024px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    img {
        height: 60px;
        margin-bottom: 40px;
    }
}

.website-center {
    width: 100%;
    min-width: 1024px;
    height: 69%;
    min-height: 416px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url($login-bg1px-iamge);
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.website-background {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url($login-bg-iamge);
    background-position: center center;
    .website-inline {
        width: 1024px;
        padding-bottom: 54px;
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}

.auth-block {
    width: 318px;
    height: 376px;
    margin: 0;
    padding: 0 25px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
    h1 {
        padding-top: 34px;
        color: #000000;
        font-size: 18px;
        margin: 0;
    }
}

.form-username {
    margin-top: 32px;
}

.form-control {
    height: 50px;
    width: 100%;
    padding-left: 56px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    color: #3d3d3d;
}

#input_account {
    background: url($login-box-username-iamge);
    background-repeat: no-repeat;
    background-position: 20px center;
}

#input_password {
    background: url($login-box-password-iamge);
    background-repeat: no-repeat;
    background-position: 20px center;
}

.form-password {
    margin-top: 26px;
}

.form-checkbox {
    display: flex;
    height: 60px;
    align-items: center;
}

.checkbox-img {
    display: inline-flex;
    width: 19px;
    height: 19px;
    background: url($login-box-checkbox-iamge);
    background-position: 0 0;
    cursor: pointer;
}

.checkbox-img-selected {
    background: url($login-box-checkbox-iamge);
    background-position: -19px 0;
}

.checkbox-span {
    display: flex;
    padding-left: 16px;
    color: #000000;
    font-size: 12px;
    cursor: default;
}

#submit {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 3px;
    background: #ffc740;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px #e0ba55;
    &:hover {
        transform: inherit;
    }
}

#submit span {
    text-align: justify;
    text-align-last: justify;
    width: 70px;
    display: inline-block;
    margin: 0;
}

.form-message {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #f00;
    font: 14px "Microsoft YaHei";
}

.website-bottom {
    height: 15%;
    min-height: 92px;
    width: 100%;
    min-width: 1024px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .website-inline {
        width: 1024px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    span {
        margin-top: 40px;
        font-size: 12px;
        color: #3d3d3d;
    }
}

@media only screen and (max-width: 1024px) {
    .website-header {
        justify-content: flex-start;
    }
    .website-center {
        background-position: 0 0;
    }
}

@media only screen and (max-width: 1124px) {
    .website-background {
        justify-content: flex-end;
        .website-inline {
            padding-right: 40px;
        }
    }
}

@media only screen and (max-height: 933px) {
    .website-header {
        align-items: center;
        img {
            margin-bottom: 0;
        }
    }
    .website-background>.website-inline {
        padding-bottom: 27px;
    }
}

@media only screen and (max-height: 613px) {
    .website-bottom {
        align-items: center;
        span {
            margin-top: 0;
        }
    }
    .website-background>.website-inline {
        padding-bottom: 0;
    }
}

::-webkit-input-placeholder {
    color: #a1a1a1;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #a1a1a1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #a1a1a1;
}

:-ms-input-placeholder {
    color: #a1a1a1;
}