.box {
    height: 100%;
    width: 100%;
    display: flex;
    background: #F3F3F3;
}

.box-item {
    align-items: stretch;
    border-right: 1px solid rgba(97, 97, 97, 0.2);
    background: #ffffff;
    margin: 0 2px;
}

.box-item-container {
    padding-left: 0;
    width: 100%;
    height: 100%;
}

#invoke-panel {
    display: none;
}

nz-spin {
    height: 100%;
    width: 100%;
}

nz-card {
    height: 100%;
    width: 100%;
}

#invork-card,
#manager-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}