<div class="box" nz-row [nzGutter]="0">
    <div class="box-item" nz-col [nzXs]="nzSpans[0].xs" [nzSm]="nzSpans[0].sm" [nzMd]="nzSpans[0].md" [nzLg]="nzSpans[0].lg" [nzXl]="nzSpans[0].xl">
        <div class='box-item-container'>
            <nz-card id='manager-card'>
                <ng-template #title>
                    Manager
                </ng-template>
                <ng-template #body>
                    <app-managerPanel></app-managerPanel>
                </ng-template>
            </nz-card>
        </div>
    </div>
    <div id="propertity-panel" class="box-item" nz-col [nzXs]="nzSpans[1].xs" [nzSm]="nzSpans[1].sm" [nzMd]="nzSpans[1].md" [nzLg]="nzSpans[1].lg" [nzXl]="nzSpans[1].xl">
        <div class='box-item-container'>
            <nz-spin [nzSpinning]='_InputLoading'>
                <nz-card id='invork-card'>
                    <ng-template #title>
                        <ng-container *ngIf='propertiesTitle'>
                            Properties: {{title}}
                        </ng-container>
                    </ng-template>
                    <ng-template #extra>
                        <a (click)="closePanel()"><i class="anticon anticon-close"></i></a>
                    </ng-template>
                    <ng-template #body>
                        <app-property-panel [panelData]='panelData'></app-property-panel>
                    </ng-template>
                </nz-card>
            </nz-spin>
        </div>
    </div>
    <div class="box-item" nz-col [nzXs]="nzSpans[2].xs" [nzSm]="nzSpans[2].sm" [nzMd]="nzSpans[2].md" [nzLg]="nzSpans[2].lg" [nzXl]="nzSpans[2].xl">
        <div class='box-item-container'>
            <div style="width: 100%; height: 100%;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>