<div class="box-container" [style.height.px]="150">
    
    <div class="list-container">
        <perfect-scrollbar class="scrollbar-element">  
            <div *ngFor="let bodyItem of popContent.popBody" class="row pop-row no-margin">
                <span class="col-xs-5 no-padding text-right">{{bodyItem.colTitle}}：</span>
                <span class="col-xs-7 no-padding">{{bodyItem.value}}</span>
            </div>
        </perfect-scrollbar>
    </div>	

    <div class="pop-footer">
        <div *ngFor="let footerItem of popContent.popFooter">
            <a class="pop-link" (click)="linkShowMore(footerItem.value)">{{footerItem.key}}</a>
        </div>
    </div>
</div>