<div class='container'>
    <div class='div-banner'>
        <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'" class="main">
            <div nz-col [nzSpan]="12">
                <div class="inline">
                    <nz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'chrome'" class="avatar"></nz-avatar>
                </div>
                <div class="inline title">
                    <div class="text-first">Comparison Tasks</div>
                    <div class="text-second">...</div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-row [nzGutter]="8">
                    <div nz-col [nzSpan]="16">
                        <nz-input [nzPlaceHolder]="'input task name'" [(ngModel)]="_value" [nzSize]="'large'" class="search"></nz-input>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <button nz-button [nzSize]="large" [nzType]="'primary'">
                            <i class="anticon anticon-search"></i><span>Search</span>
                        </button>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <button nz-button [nzSize]="large" [nzType]="'primary'">
                            <span >NewSolution</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='div-margin'>
        <div class='div-search div-card'>
            <ogms-cmp-task-search></ogms-cmp-task-search>
        </div>
        <div class='div-list-detail div-card'>
            <div class='div-list-item' *ngFor='let task of tasks; let i=index;'>
                <h3><a class='task-name' [routerLink]='task._id'>{{task.auth.userName}}/{{task.meta.name}}</a></h3>
                <p>{{task.meta.desc}}</p>
                <div class='cmp-progress'>
                    <span>Comparison progress</span>
                    <nz-progress [ngModel]='100'></nz-progress>
                </div>
                <div>{{task.meta.time | date: 'yyyy-MM-dd'}}</div>
            </div>
        </div>
    </div>
</div>