.container {
    width: 980px;
    margin: 24px auto 0;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}