$formWidth: 80%;

.cmpObj.write {
    form {
        position: relative;

        .form-container {
            // padding-bottom: 20px;
            // margin: 0 30px;
        }

        .form-container:last-child {
            margin-bottom: 0;
        }

        .form-item {
            margin-bottom: 20px;
        }

        .title {
            font-size: 18px;

            i {
                padding: 5px;
                background: #efefef;
            }
        }
    }

    .cmpObj-basic-info {
        display: flex;
        flex-flow: column nowrap;

        mat-form-field {
            width: $formWidth;
        }
    }

    .method-select-group {
        width: $formWidth;

        #view-method-all {
            margin-left: 10px;
        }
    }

    mat-form-field {
        display: inline-block;
    }

    .dataRefer-group {
        margin: 20px 0;
    }

    .dataRefer-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: $formWidth;
        ngx-mat-cascader {
            width: 100%;
        }
    }
}

.cmpObj.read {
    table {
        width: $formWidth;
    }
}
