<!-- select dataRefer -->
<!-- <ng-template #dataReferTemplate let-msInstance='msInstance' let-dataRefer='dataRefer'>
    <div class='ogms-form-item' nz-row>
        <span nz-col nzSpan='6'>DataRefer</span>
        <div nz-col nzSpan='18'>
            <nz-cascader style='width: 530px;' [nzSize]='"large"' [nzOptions]='msInstance.options' [ngModel]='msInstance.dataRefer' (ngModelChange)='onDataReferChange($event, msInstance, dataRefer)'></nz-cascader>
        </div>
    </div>
</ng-template> -->

<!-- layout -->
<!-- <div style='margin-bottom: 15px;'>
    <nz-tabset [nzType]="'card'">
        <nz-tab *ngFor="let msInstance of _msInstances; let i=index;">
            <ng-template #nzTabHeading>
                {{msInstance.meta.name}}
            </ng-template>
            <div>
                <ng-template [ngTemplateOutlet]='dataReferTemplate' [ngTemplateOutletContext]='{msInstance: msInstance, dataRefer: dataRefers[i]}'></ng-template>
            </div>
        </nz-tab>
    </nz-tabset>
</div>

<ng-container *ngIf='!validSchema'>
    <div class='ogms-form-item'>
        Please select the data that has same reference schema.
    </div>
</ng-container>

<div *ngIf='cmpObj.schemaId && validSchema' class='ogms-form-item' nz-row>
    <span nz-col nzSpan='6'>Select comparison methods</span>
    <div nz-col nzSpan='18'>
        <label *ngFor='let method of methods' nz-checkbox [(ngModel)]="method.checked" (ngModelChange)="onMethodChange()">
            <span>{{method.label}}</span>
        </label>
    </div>
</div> -->

<ng-container *ngIf='_formLoading else formTemplate'>
    <mat-spinner [diameter]='"40px"'></mat-spinner>
</ng-container>

<ng-template #formTemplate>
    <form [formGroup]='cmpObjFG'>
        <div class='cmpObj-basic-info'>
            <mat-form-field class='form-item'>
                <mat-label>Comparison feature name</mat-label>
                <input matInput placeholder='Comparison feature name' formControlName='name' required>
                <mat-hint>please input solution name</mat-hint>
                <mat-error *ngIf='cmpObjFG.get("name").hasError("required")'>必填</mat-error>
                <mat-error *ngIf='cmpObjFG.get("name").hasError("minLength")'>最小长度</mat-error>
                <mat-error *ngIf='cmpObjFG.get("name").hasError("maxLength")'>最大长度</mat-error>
            </mat-form-field>

            <mat-form-field class='form-item'>
                <mat-label>Comparison feature description</mat-label>
                <textarea matInput placeholder='Comparison feature description' formControlName='desc' required></textarea>
                <mat-hint>please input solution description</mat-hint>
                <mat-error *ngIf='cmpObjFG.get("desc").hasError("required")'>必填</mat-error>
                <mat-error *ngIf='cmpObjFG.get("desc").hasError("minLength")'>最小长度</mat-error>
                <mat-error *ngIf='cmpObjFG.get("desc").hasError("maxLength")'>最大长度</mat-error>
            </mat-form-field>
        </div>

        <div formGroupName='dataRefers' class='dataRefer-group'>
            <h3>Data References</h3>
            <div class='dataRefer-item form-item' *ngFor='let ms of _participants; let i=index;' [formGroupName]='i'>
                <label>{{ms.MDL.meta.name}}</label>
                <ogms-mat-cascader-select formGroupName='selected' [source]='_dataReferCfgs[i]'></ogms-mat-cascader-select>
            </div>
        </div>
    </form>
</ng-template>
